<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/include::header">
</head>
<head>
	<link th:href="@{/static/css/plugins/pickList/pickList.css}" rel="stylesheet"/>
	<script th:src="@{/static/js/plugins/pickList/pickList.js}"></script>
	<script th:src="@{/static/js/plugins/bootstrap-waitingfor/bootstrap-waitingfor.min.js}"></script>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5 th:text="#{sys.zone.select}">选择区服</h5>
			</div>
			<div class="ibox-content">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-1 control-label"
							th:text="#{gamelog.gamezone}">区服</label>
						<div class="col-sm-2">
							<select id="gamezone" name="gamezone" class="form-control"></select>
						</div>
						<div class="col-sm-2">
							<button class="btn btn-primary" type="button"
								onclick="generate()" style="float: right" id="update"
								th:text="#{gmtool.duel.robot.generate}">生成机器人</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">
	$(function() {
		loadZoneList("gamezone");
	});
	function generate(){
		var zoneId=$("#gamezone").val();
		waitingDialog.show("正在生成，请稍后...");
		gameAjax({
			url : "/duelRobot/generate",
			data:"zoneId="+zoneId,
			callback : function(data) {
				waitingDialog.hide();
				console.log(data);
			}
		});
	}
</script>
</html>