<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/include::header">
</head>
<head>
	<link th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/bootstrap-table/extensions/editable/bootstrap-editable.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/plugins/datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
    
    <script th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
	<script th:src="@{'/static/js/plugins/bootstrap-table/locale/bootstrap-table-'+${#ctx.locale.language}+'.min.js'}"></script>
		<script th:src="@{/static/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{'/static/js/plugins/validate/messages_'+${#ctx.locale.language}+'.min.js'}"></script>
		<script th:src="@{/static/js/plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.min.js}"></script>
	<script th:src="@{/static/js/plugins/bootstrap-table/extensions/editable/bootstrap-editable.min.js}"></script>
	<script th:src="@{/static/js/plugins/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
</head>
<body class="gray-bg">

	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="ibox float-e-margins">
			
			<div class="ibox-title">
				<form id="search">
					<div class="form-group" style="width: 1200px">
						<div class="col-sm-1" style="float:left;">
							<label class="control-label" style="margin-top: 10px;"  th:text="#{sys.time}">时间</label>
						</div>
						<div class="col-sm-1" style="float: right;">
							<button class="btn btn-primary" type="button" id="select" th:text="#{sys.select}">查询</button>
						</div>
						
						<div class="col-sm-2" style="float: right;">
							<input type="text" name="playerId" class="form-control" id="playerId"  aria-required="true"></input>
						</div>
						<div class="col-sm-1" style="float:right;">
							<label class="control-label" style="margin-top: 10px;" th:text="#{gamelog.player}">玩家ID</label>
						</div>
						<div class="col-sm-2" style="float: right;">
							<select class="form-control" name="status" id="feedbackStatus">
								<option value="" selected="selected" th:text="#{gmtool.feedback.status.all}">状态</option>
							</select>
						</div>
						<div class="col-sm-1" style="float: right;">
							<label class="control-label" style="margin-top: 10px;" th:text="#{gmtool.feedback.status}">反馈状态</label>
						</div>
                        <div class="col-sm-4 input-daterange input-group" id="datepicker">
                        	<input type="text" name="startTime" class="form-control" required="required" id="startDatetimepicker" />
                            <span class="input-group-addon">-</span>
                            <input type="text" name="endTime" class="form-control" required="required" id="endDatetimepicker" />
                        </div>
                    </div>
				</form>
			</div>
			
			
			<div class="ibox-content" style="margin-top: 0">
				<table id="table" class="table-striped" data-mobile-responsive="true"></table>
			</div>
			
		</div>
	</div>
	<!-- 客服回复 -->
	
	<div class="modal fade" id="replyModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="form-horizontal" id="replyForm">
					<div class="form-horizontal">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h3 class="modal-title" id="roleLabel" th:text="#{gmtool.feedback.feedback}">客服反馈</h3>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{gmtool.feedback.id}">客服ID</label>
								<div class="col-sm-7">
									<input type="text" name="sender" id="sender" class="form-control" required="required" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{gmtool.mail.sender.headicon}">发送者头像：</label>
								<div class="col-sm-7">
									<input type="text" name="senderHeadIcon" id="senderHeadIcon" class="form-control" required="required" />
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{gmtool.mail.valid.daytimes}">有效天数：</label>
								<div class="col-sm-7">
									<select class="form-control" id="validDay" name="validDay" required="required" >
										<option value="0" th:text="#{gmtool.mail.valid.long}">永久有效</option>
										<option value="7" th:text="7 + #{gmtool.mail.valid.day}">7天</option>
										<option value="15" th:text="15 + #{gmtool.mail.valid.day}">15天</option>
										<option value="30" th:text="30 + #{gmtool.mail.valid.day}">30天</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{sys.time}">时间：</label>
								<div class="col-sm-7 input-daterange">
                        			<input type="text" name="sendDate" class="form-control" required="required" id="sendDatetimepicker" />
                        		</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{gmtool.mail.show.title}">标题：</label>
								<div class="col-sm-7">
									<textarea rows="1" class="form-control" id="title" name="title" required="required" ></textarea>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label" th:text="#{gmtool.mail.show.content}">详细</label>
								<div class="col-sm-7">
									<textarea rows="3" class="form-control" id="content" name="content" required="required" ></textarea>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{sys.confirm.canceltext}">关闭</button>
							<button class="btn btn-primary" th:text="#{sys.send}">发送</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">
$(function(){
	table=$("#table");
	feedbackStatus={};
	initFeedbackStatus();
	initDataTimePicker();
	initBootstrapTable();
	zoneMap = loadZoneMap();
});


function initDataTimePicker(){
	$("#startDatetimepicker").datetimepicker({
	    format : "yyyy-mm-dd hh:ii:ss",
	    autoclose : true,
	    todayBtn :true,
	    endDate : new Date()
	});
	$("#endDatetimepicker").datetimepicker({
	    format : "yyyy-mm-dd hh:ii:ss",
	    autoclose : true,
	    todayBtn :true,
	    endDate : new Date()
	});
	$("#sendDatetimepicker").datetimepicker({
	    format : "yyyy-mm-dd hh:ii:ss",
	    autoclose : true,
	    todayBtn :true,
	});
	var date=new Date();
	//date.setDate(date.getDate()-1); //前一天
	$("#startDatetimepicker").val(new Date().format("yyyy-MM-dd 00:00:00"));
	$("#endDatetimepicker").val(new Date().format("yyyy-MM-dd hh:mm:ss"));
}

function initFeedbackStatus(){
	var status={};
	status += '<option value="'+0+'">'+"未解决"+'</option>';
	status += '<option value="'+1+'">'+"解决中"+'</option>';
	status += '<option value="'+2+'">'+"无法解决"+'</option>';
	status += '<option value="'+3+'">'+"已解决"+'</option>';
	$("#feedbackStatus").append(status);
}
$("#select").click(function(){
	table.bootstrapTable("refresh");
});

function initBootstrapTable(){
	var condition={};
	table.bootstrapTable({
		ajax : function(params) {
			gameBootstrapTable("/feedback/list", params);
		},
		queryParams : function(params) {
			var query = {
				limit : params.limit,
				offset : params.offset,
				search_createTime_GTED : $("#startDatetimepicker").val(),
				search_createTime_LTED : $("#endDatetimepicker").val(),
				search_status_EQI : $("#feedbackStatus").val(),
				search_playerId_EQS:$("#playerId").val(), 
			};
			return query;
		},
		sortName:"status",
		sortOrder:"ASC",
		pagination : true,
		singleSelect : false,
		uniqueId : "id",
		idField:"id",
		sidePagination : "server",
		detailView:true,
		detailFormatter:function(index, row){
			var lord={};
		 	var reply={};
			gameAjax({
				url : "/lordInfo/list",
				data : {"type":1,"lordId":row.playerId},
				async : false,
				callback : function(data) {
					lord=data;
				}
			});
			var ids =[""];
			gameAjax({
				url : "/mailSend/findByIds",
				data : {"ids":row.mailIds==null?ids:row.mailIds},
				async : false,
				callback : function(data) {
					reply=data;
				}
			});
			var text="";
				text += '<div><div><b>'+[[#{gmtool.lord.name}]]+':</b>'+lord.name;
				text += '&emsp;&emsp;<b>'+[[#{gmtool.lord.level.vip}]]+':</b>'+lord.vipLevel;
				text += '&emsp;&emsp;<b>'+[[#{gmtool.lord.level}]]+':</b>'+lord.level;
				text += '</div>';
				text += '<div><b>'+[[#{gmtool.feedback.message}]]+':</b>'+row.message;
				text += '</div></div><hr/>';
				
				if(reply!=null){
					$.each(reply,function(index,value){
						console.log(value);
						text += '<div><div><b>'+[[#{gmtool.feedback.time}]]+':</b>'+value["createTime"];
						text += '&emsp;&emsp;<b>'+[[#{gmtool.feedback.id}]]+':</b>'+value["sender"];
						text += '</div>';
						text += '<div><b>'+[[#{gmtool.feedback.feedback}]]+':</b>'+value["content"];
						text += '</div></div>';
					});   
				}
			return text;   
		},
		columns : [
					{
						title : [[#{sys.sequence}]],
						field : "index",
						align : "center",
						formatter : function(value,row,index){
							//return adminUserName[value];
							return index+1;
						},
					},
					{
						title : "ID",
						field : "id",
						align : "center",
						formatter : function(value){
							return value;
						},
					},
					{
						title : [[#{sys.time}]],
						field : "createTime",
						align : "center",
						formatter : function(value){
							return new Date(value).format("yyyy-MM-dd hh:mm:ss");
						},
					},{
						title : [[#{gmtool.feedback.status}]],
						field : "status",
						align : "center",
						editable: {
							url : "/feedback/update",
							type:"select",
							source : function(){
								var status = new Array();
								status[0]={value:0,text:"未解决"};
								status[1]={value:1,text:"解决中"};
								status[2]={value:2,text:"无法解决"};
								status[3]={value:3,text:"已解决"};
								return status;
							},
							error : function(response, newValue) {
							    alert("error:" + newValue);
							}
						}
					},
					{
						title : [[#{gmtool.feedback.type}]],
						field : "type",
						align : "center",
					},
					{
						title : [[#{gamelog.player}]],
						field : "playerId",
						align : "center",
					},
					{
						title : [[#{gamelog.gamezone}]],
						field : "gamezoneId",
						align : "center",
						formatter : function(value){
							return value+"-"+zoneMap[value];
						},
					},
					{
						title : [[#{sys.operate}]],
						field : "id",
						align : "center",
						formatter : function(value) {
							var	formatter = '<div class="btn-group hidden-xs"><button type="button" class="btn btn-xs btn-primary" onclick="reply(\''
												+ value + '\')" th:text="#{gmtool.feedback.reply}">回复</button>';
								formatter += '<button type="button" class="btn btn-xs btn-danger" onclick="deleteData(\''
												+ value + '\')"  th:text="#{sys.delete}">删除</button></div>';
							return formatter;
						},
					}
				]
	});
}

/**
 * 回复
 * id:玩家反馈的id
 */
 var reply = function(id){
	 $("#replyForm")[0].reset();
	 $("#replyForm").validate({
		submitHandler:function(form){
			onsave(id);
			
        }
	}).resetForm();
	$("#replyModal").modal("show");
}
var onsave = function(id){
	/*<![CDATA[*/
	var data =$("#replyForm").serialize()+"&feedbackId="+id;
	/*]]>*/
	gameAjax({
		url : "/feedback/reply",
		data:data,
		callback : function(val) {
			$("#replyModal").modal("hide");
			$("#table").bootstrapTable("refresh");
		}
	});
}

var deleteData = function(id){
	gameAjax({
		url : "/feedback/delete",
		data:"id="+id,
		callback : function(val) {
			$("#table").bootstrapTable("refresh");
		}
	});
}

</script>
</html>