<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/include::header">
</head>
<head>
	<link th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/autocompleter/jquery.autocompleter.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/pickList/pickList.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/bootstrap-table/extensions/editable/bootstrap-editable.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/jsTree/style.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/plugins/webuploader/webuploader.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
	
	
    <script th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table.js}"></script>
	<script th:src="@{'/static/js/plugins/bootstrap-table/locale/bootstrap-table-'+${#ctx.locale.language}+'.min.js'}"></script>
	<script th:src="@{/static/js/plugins/autocompleter/jquery.autocompleter.min.js}"></script>
	<script th:src="@{/static/js/plugins/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
	<script th:src="@{/static/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{'/static/js/plugins/validate/messages_'+${#ctx.locale.language}+'.min.js'}"></script>
	<script th:src="@{/static/js/plugins/pickList/pickList.js}"></script>
	<script th:src="@{/static/js/plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.min.js}"></script>
	<script th:src="@{/static/js/plugins/bootstrap-table/extensions/editable/bootstrap-editable.min.js}"></script>
	<script th:src="@{/static/js/plugins/jsTree/jstree.min.js}"></script>
	<script th:src="@{/static/js/plugins/webuploader/webuploader.min.js}"></script>
	<script th:src="@{/static/js/plugins/iCheck/icheck.min.js}"></script>
	<script th:src="@{/static/js/plugins/bootstrap-waitingfor/bootstrap-waitingfor.min.js}"></script>
	<script th:src="@{/static/js/plugins/highcharts/highcharts.js}"></script>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<!-- 查询条件 -->
				<div class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-1" style="float: left;">
							<label style="margin-top: 10px;" th:text="#{statistics.active.date.type}">日期类型</label>
						</div>
						<div class="col-sm-1" style="float: left;">
							<select class="form-control" id="date-type">
								<option value="day" th:text="#{statistics.active.day.data}"></option>
								<option value="week" th:text="#{statistics.active.week.data}"></option>
								<option value="month" th:text="#{statistics.active.month.data}"></option>
							</select>
						</div>
						<div class="col-sm-1" style="float: left;">
							<label style="margin-top: 10px;" th:text="#{statistics.active.date}">日期</label>
						</div>
						<div id="day-date-div" class="col-sm-2 date-div" style="float: left;">
							<input id="day-date-input" class="form-control" />
						</div>
						<div  id="week-date-div" class="col-sm-2 date-div" style="float: left;">
							<select id="week-date-input" class="form-control" >
							</select>
						</div>
						<div  id="month-date-div" class="col-sm-2 date-div" style="float: left;">
							<select id="month-date-input" class="form-control" >
							</select>
						</div>
						<div class="col-sm-1" style="float: left;">
							<label style="margin-top: 10px;" th:text="#{statistics.active.is.detail}">是否显示明细</label>
						</div>
						<div class="col-sm-2" style="float: left;">
							<select class="form-control" id="is-detail">
								<option value="0" th:text="#{statistics.active.show.total}"></option>
								<option value="1" th:text="#{statistics.active.show.zone.total}"></option>
								<option value="2" th:text="#{statistics.active.show.total.data}"></option>
							</select>
						</div>
						<div class="col-sm-1" style="float: left;">
							<button class="btn btn-primary" id="select">
								<i class="fa fa-search"></i>&nbsp;<span th:text="#{sys.select}">查询</span>&nbsp;
							</button>
						</div>
						<div class="col-sm-1" style="float: right;">
							<button class="btn btn-success" onclick="exportCDKey()" >
								<i class="fa fa-download"></i>&nbsp;<span th:text="#{gmtool.cdk.export}">导出</span>&nbsp;
							</button>
						</div>
					</div>
				</div>
				<div class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-1" style="float: left;">
							<label style="margin-top: 10px;" th:text="#{statistics.active.graph.show}">曲线图展示</label>
						</div>
						<div class="col-sm-1" style="float: left;">
			                <label id="data-all-label" class="checkbox-inline i-checks">
			                    <input id="data-all-input" type="checkbox" value="0" th:text="#{statistics.active.data.all}" /></label>
						</div>
					</div>
				</div>
				<div>
					<label id="active-num-label" class="checkbox-inline i-checks ">
			                    <input name="data-all" type="checkbox" value="activeNum" th:text="#{statistics.active.num}" /></label>
					<label id="new-user-num-label" class="checkbox-inline i-checks">
				                    <input name="data-all" type="checkbox" value="userNum" th:text="#{statistics.active.new.user.num}" /></label>
					<label class="checkbox-inline i-checks">
				                    <input name="data-all" type="checkbox" value="newPayerNum" th:text="#{statistics.active.new.payer.num}" /></label>
					<label class="checkbox-inline i-checks">
				                    <input name="data-all" type="checkbox" value="payerNum" th:text="#{statistics.active.payer.num}" /></label>
					<label id="income-num-label" class="checkbox-inline i-checks">
				                    <input name="data-all"  type="checkbox" value="icomeNum" th:text="#{statistics.active.income.num}" /></label>
					<label class="checkbox-inline i-checks">
				                    <input name="data-all" type="checkbox" value="incomeTimes" th:text="#{statistics.active.income.times}" /></label>
					<label class="checkbox-inline i-checks">
				                    <input name="data-all" type="checkbox" value="newPayRate" th:text="#{statistics.active.new.pay.rate}" /></label>
					<label class="checkbox-inline i-checks">
				                    <input name="data-all" type="checkbox" value="payRate" th:text="#{statistics.active.active.pay.rate}" /></label>
					<label class="checkbox-inline i-checks">
				                    <input name="data-all" type="checkbox" value="arpu" th:text="#{statistics.active.ARPU}" /></label>
					<label class="checkbox-inline i-checks">
				                    <input name="data-all" type="checkbox" value="arppu" th:text="#{statistics.active.ARPPU}" /></label>
					<label class="checkbox-inline i-checks">
				                    <input name="data-all" type="checkbox" value="secondPersistenceRate" th:text="#{statistics.active.second.persistence.rate}" /></label>
					<label class="checkbox-inline i-checks">
				                    <input name="data-all" type="checkbox" value="thirdlyPersistenceRate" th:text="#{statistics.active.thirdly.persistence.rate}" /></label>
					<label class="checkbox-inline i-checks">
				                    <input name="data-all" type="checkbox" value="seventhPersistenceRate" th:text="#{statistics.active.seventh.persistence.rate}" /></label>
					<label class="checkbox-inline i-checks">
				                    <input name="data-all" type="checkbox" value="secondLtv" th:text="#{statistics.active.second.LTV}" /></label>
					<label class="checkbox-inline i-checks">
				                    <input name="data-all" type="checkbox" value="thirdlyLtv" th:text="#{statistics.active.thirdly.LTV}" /></label>
					<label class="checkbox-inline i-checks">
				                    <input name="data-all" type="checkbox" value="seventhLtv" th:text="#{statistics.active.seventh.LTV}" /></label>
				</div>
				
				<div class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-1" style="float: left;">
							<label style="margin-top: 10px;" th:text="#{statistics.active.zone}">区服</label>
						</div>
						<div class="col-sm-1" style="float: left;">
			                <label id="zone-all-label" class="checkbox-inline i-checks">
			                    <input id="zone-all-input" type="checkbox" value="0" th:text="#{statistics.active.zone.all}" /></label>
						</div>
					</div>
				</div>
				<div id="zone-list-div" >
					<!-- 区服复选框 -->
				</div>
			</div>
			<div class="ibox-content">
				<!-- 曲线图 -->
				<div id="graph-div"></div>
				<!-- 统计表格 -->
				<div id="data-table-div">
					<table  class="table bordered" id="data-table">
						<thead>
							<tr>
							<th width="5.2%" th:text="#{statistics.active.date}"></th>
							<th width="5.2%" th:text="#{statistics.active.zone}"></th>
							<th width="5.2%" th:text="#{statistics.active.pacakge}"></th>
							<th width="5.2%" th:text="#{statistics.active.num}"></th>
							<th width="5.2%" th:text="#{statistics.active.new.user.num}"></th>
							<th width="5.2%" th:text="#{statistics.active.new.payer.num}"></th>
							<th width="5.2%" th:text="#{statistics.active.payer.num}"></th>
							<th width="5.2%" th:text="#{statistics.active.income.num}"></th>
							<th width="5.2%" th:text="#{statistics.active.income.times}"></th>
							<th width="5.2%" th:text="#{statistics.active.new.pay.rate}"></th>
							<th width="5.2%" th:text="#{statistics.active.active.pay.rate}"></th>
							<th width="5.2%" th:text="#{statistics.active.ARPU}"></th>
							<th width="5.2%" th:text="#{statistics.active.ARPPU}"></th>
							<th width="5.2%" th:text="#{statistics.active.second.persistence.rate}"></th>
							<th width="5.2%" th:text="#{statistics.active.thirdly.persistence.rate}"></th>
							<th width="5.2%" th:text="#{statistics.active.seventh.persistence.rate}"></th>
							<th width="5.2%" th:text="#{statistics.active.second.LTV}"></th>
							<th width="5.2%" th:text="#{statistics.active.thirdly.LTV}"></th>
							<th width="5.2%" th:text="#{statistics.active.seventh.LTV}"></th>
							</tr>
						</thead>
						<tbody id="data-table-body">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	
</body>

<script type="text/javascript" th:inline="javascript">
$(function(){
	//初始化复选框样式
	$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})
	//初始化曲线图展示复选框默认选中
	$("#active-num-label").iCheck("check");
	$("#new-user-num-label").iCheck("check");
	$("#income-num-label").iCheck("check");
	//曲线图展示全部数据点击事件
	$("#data-all-label").on("ifChecked",function(event){
		$("[name='data-all']").iCheck("check");
	});
	$("#data-all-label").on("ifUnchecked",function(event){
		$("[name='data-all']").iCheck("uncheck");
	});
	//初始化区服信息
	zoneMap=loadZoneMap();
	initZone();
	//隐藏曲线图和数据表
	$("#graph-div").hide();
	$("#data-table-div").hide();
	//隐藏周、月查询
	$("#week-date-div").hide();
	$("#month-date-div").hide();
	//初始化时间
	initDate();
	
})

//初始化时间(日/周/月)
function initDate(){
	//日
	$("#day-date-input").datetimepicker({
	    format : "yyyy/mm/dd",
	    autoclose : true,
	    todayBtn :true,
	    endDate : new Date(),
	    minView:"month",
	});
	$("#day-date-input").val(new Date().format("yyyy/MM/dd"));
	
	var date = new Date();
	//周
	var weekDate = new Date("2016-11-28 00:00:00");
	var weekNum=1;
	var weekText='';
	while(date>weekDate){
		var weekDateStart = weekDate.format("yyyy/MM/dd");
		weekDate.setDate(weekDate.getDate()+6);
		var weekDateEnd = weekDate.format("yyyy/MM/dd");
		
		if(weekDate>date){
			weekText+='<option selected="selected" value="'+weekDateStart+'">第'+weekNum+'周('+weekDateStart+'-';
		 	weekText+=weekDateEnd+')</option>';
		}else{
			weekText+='<option value="'+weekDateStart+'">第'+weekNum+'周('+weekDateStart+'-';
		 	weekText+=weekDateEnd+')</option>';
		}
		weekDate.setDate(weekDate.getDate()+1);
		weekNum++;
	}
	$("#week-date-input").append(weekText);
	//月
	var monthDate = new Date("2016-12-01 00:00:00");
	var monthNum=1;
	var monthText="";
	while(date>monthDate){
		var monthDateStart = monthDate.format("yyyy/MM/dd");
		monthDate.setMonth(monthDate.getMonth()+1);
		monthDate.setDate(monthDate.getDate()-1);
		var monthDateEnd = monthDate.format("yyyy/MM/dd");
		monthDate.setDate(monthDate.getDate()+1);
		if(monthDate>date){
			monthText+='<option selected="selected" value="'+monthDateStart+'">第'+monthNum+'月('+monthDateStart+'-';
			monthText+=monthDateEnd+')</option>';
		}else{
			monthText+='<option value="'+monthDateStart+'">第'+monthNum+'月('+monthDateStart+'-';
			monthText+=monthDateEnd+')</option>';
		}
		monthNum++;
	}
	
	$("#month-date-input").append(monthText);
	
}

//初始化区服复选框
function initZone(){
	var text ="";
	$.each(zoneMap,function(zoneId,zoneName){
		text+='<label class="checkbox-inline i-checks ">';
		text+='<input name="zone-all" type="checkbox" value="'+zoneId+'" >'+zoneId+'-'+zoneName+'</input></label>';
	});
	$("#zone-list-div").append(text);
	$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})
	$("#zone-all-label").on("ifChecked",function(event){
		$("[name='zone-all']").iCheck("check");
	});
	$("#zone-all-label").on("ifUnchecked",function(event){
		$("[name='zone-all']").iCheck("uncheck");
	});
}

//选择日期类型
$("#date-type").change(function(){
	var dateType = $("#date-type").val();
	$(".date-div").hide();
	if(dateType=='day'){
		$("#day-date-div").show();		
	}else if(dateType=='week'){
		$("#week-date-div").show();
	}else if(dateType=='month'){
		$("#month-date-div").show();
	}
});


//查询
$("#select").click(function(){
	var data="";
	var dateType=$("#date-type").val();
	dateType=="day"?$("#graph-div").hide():$("#graph-div").show();
	$("#data-table-div").show();
	var date={};
	if(dateType=="day"){
		date=$("#day-date-input").val();
	}else if(dateType=="week"){
		date=$("#week-date-input").val();
	}else if(dateType=="month"){
		date=$("#month-date-input").val();
	}
	
	
	var dataArr = [];
	$(".checked input[name='data-all']").each(function(){ 
		dataArr.push($(this).val());
    });
	//是否查询全部区服
	var zoneAll =false;
	if($("#zone-all-input").is(':checked')){
		zoneAll=true;
	}
	
    var zoneArr=[];
	$(".checked input[name='zone-all']").each(function(){
		zoneArr.push($(this).val());
	});
	if(zoneArr.length==0){
		swal("",[[#{statistics.active.zone.null}]],"warning");
		return;
	}
	
	/*<![CDATA[*/
        var isDetail=$("#is-detail").val();
		data+="dateType="+dateType+"&date="+date+"&isDetail="+isDetail+"&zoneArr="+zoneArr;	           
	/*]]>*/
	gameAjax({
		url:"/active/base/select",
		data:data,
		callback:function(val){
			callback(val,dataArr,isDetail);
		},
	}); 
});

function callback(val,dataArr,isDetail){
	console.log(1);
	var text='';
	var categories =[];
	var series=[];
	var activeNumData={};
	activeNumData.name=[[#{statistics.active.num}]];
	var actvieNumDataData=[];
	activeNumData.data=actvieNumDataData;
	var newUserNumData={};
	newUserNumData.name=[[#{statistics.active.new.user.num}]];
	var newUserNumDataData=[];
	newUserNumData.data=newUserNumDataData;
	var newPayerNumData={};
	newPayerNumData.name=[[#{statistics.active.new.payer.num}]];
	var newPayerNumDataData=[];
	newPayerNumData.data=newPayerNumDataData;
	var payerNumData={};
	payerNumData.name=[[#{statistics.active.payer.num}]];
	var payerNumDataData=[];
	payerNumData.data=payerNumDataData;
	var icomeNumData={};
	icomeNumData.name=[[#{statistics.active.income.num}]];
	var icomeNumDataData =[];
	icomeNumData.data=icomeNumDataData;
	var incomeTimesData={};
	incomeTimesData.name=[[#{statistics.active.income.times}]];
	var incomeTimesDataData=[];
	incomeTimesData.data=incomeTimesDataData;
	var  newPayRateData={};
	newPayRateData.name=[[#{statistics.active.new.pay.rate}]];
	var newPayRateDataData=[];
	newPayRateData.data=newPayRateDataData;
	var payRateData ={};
	payRateData.name=[[#{statistics.active.active.pay.rate}]];
	var payRateDataData=[];
	payRateData.data=payRateDataData;
	var arpuData={};
	arpuData.name=[[#{statistics.active.ARPU}]];
	var arpuDataData=[];
	arpuData.data=arpuDataData;
	var arppuData={};
	arppuData.name=[[#{statistics.active.ARPPU}]];
	var arppuDataData=[];
	arppuData.data=arppuDataData;
	var secondPersistenceRateData={};
	secondPersistenceRateData.name=[[#{statistics.active.second.persistence.rate}]];
	var secondPersistenceRateDataData=[];
	secondPersistenceRateData.data=secondPersistenceRateDataData;
	var thirdlyPersistenceRateData={};
	thirdlyPersistenceRateData.name=[[#{statistics.active.thirdly.persistence.rate}]];
	var thirdlyPersistenceRateDataData=[];
	thirdlyPersistenceRateData.data=thirdlyPersistenceRateDataData;
	var seventhPersistenceRateData={};
	seventhPersistenceRateData.name=[[#{statistics.active.seventh.persistence.rate}]];
	var seventhPersistenceRateDataData=[];
	seventhPersistenceRateData.data=seventhPersistenceRateDataData;
	var secondLtvData={};
	secondLtvData.name=[[#{statistics.active.second.LTV}]];
	var secondLtvDataData= [];
	secondLtvData.data=secondLtvDataData;
	var thirdlyLtvData={};
	thirdlyLtvData.name=[[#{statistics.active.thirdly.LTV}]];
	var thirdlyLtvDataData=[];
	thirdlyLtvData.data=thirdlyLtvDataData;
	var seventhLtvData={};
	seventhLtvData.name=[[#{statistics.active.seventh.LTV}]];
	var seventhLtvDataData=[];
	seventhLtvData.data=seventhLtvDataData;
	/*<![CDATA[*/
	$.each(val ,function(index,dayData){
		if(dayData==null)return true;
		var date = dayData.date;
		categories.push(date);
		$.each(dayData.zoneData,function(zoneId,zoneData){
			$.each(zoneData,function(packageId,packageData){
				var activeNum= checkNull(packageData.activeNum);
				var newUserNum = checkNull(packageData.newUserNum);
				var newPayerNum=checkNull(packageData.newPayerNum);
				var payerNum = checkNull(packageData.payerNum);
				var incomeNum =checkNull(packageData.incomeNum);
				var incomeTimes = checkNull(packageData.incomeTimes);
				var newPayerRate = divide(newPayerNum,newUserNum);
				var activePayRate = divide(payerNum,activeNum);
				var arpu = divide(incomeNum,activeNum);
				var arppu = divide(incomeNum,payerNum);
				var preOnePersistenceRate=divide(packageData.preOnePersistence,packageData.preOneNewUserNum);
				var preTwoPersistenceRate = divide(packageData.preTwoPersistence,packageData.preTwoNewUserNum);
				var preSixPersistenceRate = divide(packageData.preSixPersistence,packageData.preSixNewUserNum);
				var preOneLTV=divide(packageData.preOneIncomeNum,packageData.preOneNewUserNum);
				var preTwoLTV=divide(packageData.preTwoIncomeNum,packageData.preTwoNewUserNum);
				var preSixLTV=divide(packageData.preSixIncomeNum,packageData.preSixNewUserNum);
				//初始化曲线图数据
				if(packageId=='zzzdayTotal'){
					$.each(dataArr,function(index,data){
						switch(data){
							case 'activeNum':actvieNumDataData.push(activeNum);break;
							case 'userNum':newUserNumDataData.push(newUserNum);break;
							case 'newPayerNum':newPayerNumDataData.push(newPayerNum);break;
							case 'payerNum':payerNumDataData.push(payerNum);;break;
							case 'icomeNum':icomeNumDataData.push(incomeNum);break;
							case 'incomeTimes':incomeTimesDataData.push(incomeTimes);break;
							case 'newPayRate':newPayRateDataData.push(newPayerRate);break;
							case 'payRate':payRateDataData.push(activePayRate);break;
							case 'arpu':arpuDataData.push(arpu);break;
							case 'arppu':arppuDataData.push(arppu);break;
							case 'secondPersistenceRate':secondPersistenceRateDataData.push(preOnePersistenceRate);break;
							case 'thirdlyPersistenceRate':thirdlyPersistenceRateDataData.push(preTwoPersistenceRate);break;
							case 'seventhPersistenceRate':seventhPersistenceRateDataData.push(preSixPersistenceRate);break;
							case 'secondLtv':secondLtvDataData.push(preOneLTV);break;
							case 'thirdlyLtv':thirdlyLtvDataData.push(preTwoLTV);break;
							case 'seventhLtv':seventhLtvDataData.push(preSixLTV);break;
						}
					});
				}
				
				//初始化表单数据
				if(isDetail==0&&packageId!='zzzdayTotal')return true;
				if(isDetail==1&&packageId!='zoneTotal'&&packageId!='zzzdayTotal')return true; 
				if(packageId=='zoneTotal'){
					text+='<tr style="color:#0000FF" ><td>'+date+'</td><td>'+zoneId+'</td><td>'+[[#{statistics.zone.total}]]+'</td> '
				}else if(packageId=='zzzdayTotal'){
					text+='<tr style="color:#FF0000" ><td>'+date+'</td><td>'+[[#{statistics.total}]]+'</td><td>'+[[#{statistics.total}]]+'</td> '
				}else{
					text+='<tr><td>'+date+'</td><td>'+zoneId+'</td><td>'+packageId+'</td> '
				}
				text+='<td>'+activeNum+'</td><td>'+newUserNum+'</td><td>'+newPayerNum;
				text+='</td><td>'+payerNum+'</td><td>'+incomeNum+'</td><td>'+incomeTimes+'</td><td>'+newPayerRate+'%';
				text+='</td><td>'+activePayRate+'%'+'</td><td>'+arpu+'</td><td>'+arppu+'</td><td>'+preOnePersistenceRate+'%';
				text+='</td><td>'+preTwoPersistenceRate+'%'+'</td><td>'+preSixPersistenceRate+'%'+'</td><td>'+preOneLTV+'%';
				text+='</td><td>'+preTwoLTV+'%'+'</td><td>'+preSixLTV+'%'+'</td></tr>';
			});
		});
	});
	$("#data-table-body").empty();
	$("#data-table-body").append(text);
	/*]]>*/
	$.each(dataArr,function(index,data){
		switch(data){
		case 'activeNum':series.push(activeNumData);break;
		case 'userNum':series.push(newUserNumData);break;
		case 'newPayerNum':series.push(newPayerNumData);break;
		case 'payerNum':series.push(payerNumData);;break;
		case 'icomeNum':series.push(icomeNumData);break;
		case 'incomeTimes':series.push(incomeTimesData);break;
		case 'newPayRate':series.push(newPayRateData);break;
		case 'payRate':series.push(payRateData);break;
		case 'arpu':series.push(arpuData);break;
		case 'arppu':series.push(arppuData);break;
		case 'secondPersistenceRate':series.push(secondPersistenceRateData);break;
		case 'thirdlyPersistenceRate':series.push(thirdlyPersistenceRateData);break;
		case 'seventhPersistenceRate':series.push(seventhPersistenceRateData);break;
		case 'secondLtv':series.push(secondLtvData);break;
		case 'thirdlyLtv':series.push(thirdlyLtvData);break;
		case 'seventhLtv':series.push(seventhLtvData);break;
		}
	});
	//初始化曲线图
	initGraph(categories,series);
}




//检查参数是否为null,如果为null返回o
function checkNull(val){
	if(val==null||val==0)
		return 0;
	return val;
}
//两数相除 两位小数
function divide(element,denominator){
	if(element==null || element==0 || denominator==null ||denominator==0){
		return 0;
	}
	var divide = element/denominator;
	return Math.round(divide*100)/100;
}

//初始化曲线图
function initGraph(categories,series){
	$('#graph-div').highcharts({
		credits:{
			href:"",
			text:"TalentWalker",
		},
        title: {
            text: [[#{statistics.active.graph.title}]],
            x: -20 //center
        },
        xAxis: {
            categories: categories
        },
        yAxis: {
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series:  series
    });
}


//导出
function exportCDKey(){
	var data="";
	var dateType=$("#date-type").val();
	dateType=="day"?$("#graph-div").hide():$("#graph-div").show();
	$("#data-table-div").show();
	var date={};
	if(dateType=="day"){
		date=$("#day-date-input").val();
	}else if(dateType=="week"){
		date=$("#week-date-input").val();
	}else if(dateType=="month"){
		date=$("#month-date-input").val();
	}
    var zoneArr=[];
	$(".checked input[name='zone-all']").each(function(){
		zoneArr.push($(this).val());
	});
	if(zoneArr.length==0){
		swal("",[[#{statistics.active.zone.null}]],"warning");
		return;
	}
	
	/*<![CDATA[*/
		data+="/active/base/export?dateType="+dateType+"&date="+date+"&zoneArr="+zoneArr+"&isDetail="+$("#is-detail").val();	           
	/*]]>*/
	window.location.href=data;
	
}

</script>
</html>