<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/include::header">
</head>
<head>
	<link th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/autocompleter/jquery.autocompleter.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/pickList/pickList.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/bootstrap-table/extensions/editable/bootstrap-editable.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/jsTree/style.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/plugins/webuploader/webuploader.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
	
	
    <script th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table.js}"></script>
	<script th:src="@{'/static/js/plugins/bootstrap-table/locale/bootstrap-table-'+${#ctx.locale.language}+'.min.js'}"></script>
	<script th:src="@{/static/js/plugins/autocompleter/jquery.autocompleter.min.js}"></script>
	<script th:src="@{/static/js/plugins/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
	<script th:src="@{/static/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{'/static/js/plugins/validate/messages_'+${#ctx.locale.language}+'.min.js'}"></script>
	<script th:src="@{/static/js/plugins/pickList/pickList.js}"></script>
	<script th:src="@{/static/js/plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.min.js}"></script>
	<script th:src="@{/static/js/plugins/bootstrap-table/extensions/editable/bootstrap-editable.min.js}"></script>
	<script th:src="@{/static/js/plugins/jsTree/jstree.min.js}"></script>
	<script th:src="@{/static/js/plugins/webuploader/webuploader.min.js}"></script>
	<script th:src="@{/static/js/plugins/iCheck/icheck.min.js}"></script>
	<script th:src="@{/static/js/plugins/bootstrap-waitingfor/bootstrap-waitingfor.min.js}"></script>
	<script th:src="@{/static/js/plugins/highcharts/highcharts.js}"></script>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<!-- 查询条件 -->
				<div class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-0" style="float:left;">
							<label  style="margin-top: 10px;margin-left:10px;" th:text="#{statistics.active.date}">日期</label>
						</div>
						<div class="col-sm-3 input-daterange input-group" id="date-picker" style="float:left;">
                        	<input type="text" name="startTime" class="form-control" required="required" id="startDatetimepicker" />
                            <span class="input-group-addon">-</span>
                            <input type="text" name="endTime" class="form-control" required="required" id="endDatetimepicker" />
                        </div>
                        <div class="col-sm-0" style="float:left">
                        	<label style="margin-top:10px;margin-left:10px;" th:text="#{statistics.active.pacakge}">包</label>
                        </div>
                        <div class="col-sm-2" style="float:left;">
                        	<select class="form-control" id="package-select">
                        		<option value="" selected="selected" th:text="#{gmtool.cdk.package.all}">所有包</option>
							</select>
                        </div>
                        <div class="col-sm-0" style="float:left">
                        	<label style="margin-top:10px;margin-left:10px;" th:text="#{statistics.top.up.order.state}">订单状态</label>
                        </div>
                        <div class="col-sm-1" style="float:left;">
                        	<select class="form-control" id="order-state-select">
                        		<option value="" selected="selected" th:text="#{statistics.top.up.all}">所有</option>
                        		<option value="0" th:text="#{statistics.top.up.order.state.success}">支付成功</option>
                        		<option value="1" th:text="#{statistics.top.up.order.state.ing}">未支付</option>
							</select>
                        </div>
                        <div class="col-sm-0" style="float:left">
                        	<label style="margin-top:10px;margin-left:10px;" th:text="#{statistics.top.up.item.type}">道具类型</label>
                        </div>
                        <div class="col-sm-1" style="float:left;">
                        	<select class="form-control" id="item-type-select">
                        		<option value="" selected="selected" th:text="#{statistics.top.up.all}">所有</option>
                        		<option value="1" th:text="#{statistics.top.up.item.type.diamond}">钻石</option>
                        		<option value="2" th:text="#{statistics.top.up.item.type.month.card}">月卡</option>
							</select>
                        </div>
					</div>
				</div>
				<div class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-0" style="float: left;">
							<label style="margin-top:10px;margin-left:10px;" th:text="#{statistics.active.zone}">区服</label>
						</div>
						<div class="col-sm-1" style="float: left;">
			                <label id="zone-all-label" class="checkbox-inline i-checks">
			                    <input id="zone-all-input" type="checkbox" value="0" th:text="#{statistics.active.zone.all}" /></label>
						</div>
					</div>
				</div>
				<div id="zone-list-div" >
					<!-- 区服复选框 -->
				</div>
				<div class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-1" style="float: left;">
							<button class="btn btn-primary" id="select">
								<i class="fa fa-search"></i>&nbsp;<span th:text="#{sys.select}">查询</span>&nbsp;
							</button>
						</div>
						<div class="col-sm-1" style="float: right;">
							<button class="btn btn-success" onclick="exportCDKey()" >
								<i class="fa fa-download"></i>&nbsp;<span th:text="#{gmtool.cdk.export}">导出</span>&nbsp;
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="ibox-content">
				<div class="form-horizontal">
					<div class="form-group">
					<!-- ARPU占比 -->
						<div id="arpu-graph-div" class="col-sm-4" style="float: left;">
						</div>
						<!-- 渠道充值人员占比 -->
						<div id="num-graph-div" class="col-sm-4" style="float: left;">
						</div>
						<!-- 渠道充值总额占比 -->
						<div id="total-graph-div" class="col-sm-4" style="float: left;">
						</div>
					</div>
				</div>
				
				<!-- 曲线图 -->
				<div id="graph-div"></div>
				<!-- 统计表格 -->
				<div id="data-table-div">
					<table  class="table bordered" id="data-table">
						<thead>
							<tr>
							<th width="5.2%" th:text="#{statistics.active.date}"></th>
							<th width="5.2%" th:text="#{statistics.active.zone}"></th>
							<th width="5.2%" th:text="#{statistics.active.pacakge}"></th>
							<th width="5.2%" th:text="#{statistics.active.num}"></th>
							<th width="5.2%" th:text="#{statistics.active.new.user.num}"></th>
							<th width="5.2%" th:text="#{statistics.active.new.payer.num}"></th>
							<th width="5.2%" th:text="#{statistics.active.payer.num}"></th>
							<th width="5.2%" th:text="#{statistics.active.income.num}"></th>
							<th width="5.2%" th:text="#{statistics.active.income.times}"></th>
							<th width="5.2%" th:text="#{statistics.active.new.pay.rate}"></th>
							<th width="5.2%" th:text="#{statistics.active.active.pay.rate}"></th>
							<th width="5.2%" th:text="#{statistics.active.ARPU}"></th>
							<th width="5.2%" th:text="#{statistics.active.ARPPU}"></th>
							<th width="5.2%" th:text="#{statistics.active.second.persistence.rate}"></th>
							<th width="5.2%" th:text="#{statistics.active.thirdly.persistence.rate}"></th>
							<th width="5.2%" th:text="#{statistics.active.seventh.persistence.rate}"></th>
							<th width="5.2%" th:text="#{statistics.active.second.LTV}"></th>
							<th width="5.2%" th:text="#{statistics.active.thirdly.LTV}"></th>
							<th width="5.2%" th:text="#{statistics.active.seventh.LTV}"></th>
							</tr>
						</thead>
						<tbody id="data-table-body">
						</tbody>
					</table>
				</div>
				<!-- 统计分页表格 -->
				<div>
					<table id="panelTable" class="table-striped" data-mobile-responsive="true"></table>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript" th:inline="javascript">
$(function(){
	//初始化复选框样式
	$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})
	//初始化区服信息
	zoneMap=loadZoneMap();
	packageMap=loadPackageMap();
	initZone();
	initPackage();
	//隐藏曲线图和数据表
	$("#graph-div").hide();
	$("#data-table-div").hide();
	//初始化时间
	initDate();
	
	//获取cashShop_config配置信息
	simpleGameAjax({
		'url':'/statistics/topUp/config',
		'callback':function(val){
			window.cashShop={};
			$.each(val,function(key,data){
				cashShop[key]=data.desp;
			});
		},
	});
})

//初始化时间(日/周/月)
function initDate(){
	//日
	$("#startDatetimepicker").datetimepicker({
	    format : "yyyy-mm-dd hh:ii:ss",
	    autoclose : true,
	    todayBtn :true,
	    endDate : new Date()
	});
	$("#endDatetimepicker").datetimepicker({
	    format : "yyyy-mm-dd hh:ii:ss",
	    autoclose : true,
	    todayBtn :true,
	    endDate : new Date()
	});
	var date = new Date();
	$("#endDatetimepicker").val(date.format("yyyy-MM-dd hh:mm:ss"));
	date.setDate(date.getDate()-7);
	$("#startDatetimepicker").val(date.format("yyyy-MM-dd 00:00:00"));
}
//初始化包
function initPackage(){
	var text ='';
	$.each(packageMap,function(packageId,name){
		text+='<option value="'+packageId+'" >'+name+'</option>';		
	});
	$("#package-select").append(text);
}

//初始化区服复选框
function initZone(){
	var text ="";
	$.each(zoneMap,function(zoneId,zoneName){
		text+='<label class="checkbox-inline i-checks ">';
		text+='<input name="zone-all" type="checkbox" value="'+zoneId+'" >'+zoneId+'-'+zoneName+'</input></label>';
	});
	$("#zone-list-div").append(text);
	$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})
	$("#zone-all-label").on("ifChecked",function(event){
		$("[name='zone-all']").iCheck("check");
	});
	$("#zone-all-label").on("ifUnchecked",function(event){
		$("[name='zone-all']").iCheck("uncheck");
	});
}

//选择日期类型
$("#date-type").change(function(){
	var dateType = $("#date-type").val();
	$(".date-div").hide();
	if(dateType=='day'){
		$("#day-date-div").show();		
	}else if(dateType=='week'){
		$("#week-date-div").show();
	}else if(dateType=='month'){
		$("#month-date-div").show();
	}
});


//查询
$("#select").click(function(){
    var zoneArr=[];
	$(".checked input[name='zone-all']").each(function(){
		zoneArr.push($(this).val());
	});
	if(zoneArr.length==0){
		swal("",[[#{statistics.active.zone.null}]],"warning");
		return;
	}
	var zoneArr=[];
	$(".checked input[name='zone-all']").each(function(){
		zoneArr.push($(this).val());
	});
	/*<![CDATA[*/
		var data="packageId="+$("#package-select").val()+"&orderState="+$("#order-state-select").val()+
				"&itemType="+$("#item-type-select").val()+"&zoneList[]="+zoneArr+"&startStr="+$("#startDatetimepicker").val()+
				"&endStr="+$("#endDatetimepicker").val();
    /*]]>*/
	//初始化分页表格
	initPanelTable();
	$("#panelTable").bootstrapTable("refresh");
	//arpu
	var arppu={};
	gameAjax({
		url:"/statistics/topUp/arpu",
		data:data,
		async:false,
		callback:function(val){
			arppu=val;
		},
	});
	initGraph(arppu);
});

function callback(val,dataArr,isDetail){
	var text='';
	var categories =[];
	var series=[];
	var activeNumData={};
	activeNumData.name=[[#{statistics.active.num}]];
	var actvieNumDataData=[];
	activeNumData.data=actvieNumDataData;
	var newUserNumData={};
	newUserNumData.name=[[#{statistics.active.new.user.num}]];
	var newUserNumDataData=[];
	newUserNumData.data=newUserNumDataData;
	var newPayerNumData={};
	newPayerNumData.name=[[#{statistics.active.new.payer.num}]];
	var newPayerNumDataData=[];
	newPayerNumData.data=newPayerNumDataData;
	var payerNumData={};
	payerNumData.name=[[#{statistics.active.payer.num}]];
	var payerNumDataData=[];
	payerNumData.data=payerNumDataData;
	var icomeNumData={};
	icomeNumData.name=[[#{statistics.active.income.num}]];
	var icomeNumDataData =[];
	icomeNumData.data=icomeNumDataData;
	var incomeTimesData={};
	incomeTimesData.name=[[#{statistics.active.income.times}]];
	var incomeTimesDataData=[];
	incomeTimesData.data=incomeTimesDataData;
	var  newPayRateData={};
	newPayRateData.name=[[#{statistics.active.new.pay.rate}]];
	var newPayRateDataData=[];
	newPayRateData.data=newPayRateDataData;
	var payRateData ={};
	payRateData.name=[[#{statistics.active.active.pay.rate}]];
	var payRateDataData=[];
	payRateData.data=payRateDataData;
	var arpuData={};
	arpuData.name=[[#{statistics.active.ARPU}]];
	var arpuDataData=[];
	arpuData.data=arpuDataData;
	var arppuData={};
	arppuData.name=[[#{statistics.active.ARPPU}]];
	var arppuDataData=[];
	arppuData.data=arppuDataData;
	var secondPersistenceRateData={};
	secondPersistenceRateData.name=[[#{statistics.active.second.persistence.rate}]];
	var secondPersistenceRateDataData=[];
	secondPersistenceRateData.data=secondPersistenceRateDataData;
	var thirdlyPersistenceRateData={};
	thirdlyPersistenceRateData.name=[[#{statistics.active.thirdly.persistence.rate}]];
	var thirdlyPersistenceRateDataData=[];
	thirdlyPersistenceRateData.data=thirdlyPersistenceRateDataData;
	var seventhPersistenceRateData={};
	seventhPersistenceRateData.name=[[#{statistics.active.seventh.persistence.rate}]];
	var seventhPersistenceRateDataData=[];
	seventhPersistenceRateData.data=seventhPersistenceRateDataData;
	var secondLtvData={};
	secondLtvData.name=[[#{statistics.active.second.LTV}]];
	var secondLtvDataData= [];
	secondLtvData.data=secondLtvDataData;
	var thirdlyLtvData={};
	thirdlyLtvData.name=[[#{statistics.active.thirdly.LTV}]];
	var thirdlyLtvDataData=[];
	thirdlyLtvData.data=thirdlyLtvDataData;
	var seventhLtvData={};
	seventhLtvData.name=[[#{statistics.active.seventh.LTV}]];
	var seventhLtvDataData=[];
	seventhLtvData.data=seventhLtvDataData;
	/*<![CDATA[*/
	$.each(val ,function(index,dayData){
		if(dayData==null)return true;
		var date = dayData.date;
		categories.push(date);
		$.each(dayData.zoneData,function(zoneId,zoneData){
			$.each(zoneData,function(packageId,packageData){
				var activeNum= checkNull(packageData.activeNum);
				var newUserNum = checkNull(packageData.newUserNum);
				var newPayerNum=checkNull(packageData.newPayerNum);
				var payerNum = checkNull(packageData.payerNum);
				var incomeNum =checkNull(packageData.incomeNum);
				var incomeTimes = checkNull(packageData.incomeTimes);
				var newPayerRate = divide(newPayerNum,newUserNum);
				var activePayRate = divide(payerNum,activeNum);
				var arpu = divide(incomeNum,activeNum);
				var arppu = divide(incomeNum,payerNum);
				var preOnePersistenceRate=divide(packageData.preOnePersistence,packageData.preOneNewUserNum);
				var preTwoPersistenceRate = divide(packageData.preTwoPersistence,packageData.preTwoNewUserNum);
				var preSixPersistenceRate = divide(packageData.preSixPersistence,packageData.preSixNewUserNum);
				var preOneLTV=divide(packageData.preOneIncomeNum,packageData.preOneNewUserNum);
				var preTwoLTV=divide(packageData.preTwoIncomeNum,packageData.preTwoNewUserNum);
				var preSixLTV=divide(packageData.preSixIncomeNum,packageData.preSixNewUserNum);
				//初始化曲线图数据
				if(packageId=='zzzdayTotal'){
					$.each(dataArr,function(index,data){
						switch(data){
							case 'activeNum':actvieNumDataData.push(activeNum);break;
							case 'userNum':newUserNumDataData.push(newUserNum);break;
							case 'newPayerNum':newPayerNumDataData.push(newPayerNum);break;
							case 'payerNum':payerNumDataData.push(payerNum);;break;
							case 'icomeNum':icomeNumDataData.push(incomeNum);break;
							case 'incomeTimes':incomeTimesDataData.push(incomeTimes);break;
							case 'newPayRate':newPayRateDataData.push(newPayerRate);break;
							case 'payRate':payRateDataData.push(activePayRate);break;
							case 'arpu':arpuDataData.push(arpu);break;
							case 'arppu':arppuDataData.push(arppu);break;
							case 'secondPersistenceRate':secondPersistenceRateDataData.push(preOnePersistenceRate);break;
							case 'thirdlyPersistenceRate':thirdlyPersistenceRateDataData.push(preTwoPersistenceRate);break;
							case 'seventhPersistenceRate':seventhPersistenceRateDataData.push(preSixPersistenceRate);break;
							case 'secondLtv':secondLtvDataData.push(preOneLTV);break;
							case 'thirdlyLtv':thirdlyLtvDataData.push(preTwoLTV);break;
							case 'seventhLtv':seventhLtvDataData.push(preSixLTV);break;
						}
					});
				}
				
				//初始化表单数据
				if(isDetail==0&&packageId!='zzzdayTotal')return true;
				if(isDetail==1&&packageId!='zoneTotal'&&packageId!='zzzdayTotal')return true; 
				if(packageId=='zoneTotal'){
					text+='<tr style="color:#0000FF" ><td>'+date+'</td><td>'+zoneId+'</td><td>'+[[#{statistics.zone.total}]]+'</td> '
				}else if(packageId=='zzzdayTotal'){
					text+='<tr style="color:#FF0000" ><td>'+date+'</td><td>'+[[#{statistics.total}]]+'</td><td>'+[[#{statistics.total}]]+'</td> '
				}else{
					text+='<tr><td>'+date+'</td><td>'+zoneId+'</td><td>'+packageId+'</td> '
				}
				text+='<td>'+activeNum+'</td><td>'+newUserNum+'</td><td>'+newPayerNum;
				text+='</td><td>'+payerNum+'</td><td>'+incomeNum+'</td><td>'+incomeTimes+'</td><td>'+newPayerRate+'%';
				text+='</td><td>'+activePayRate+'%'+'</td><td>'+arpu+'</td><td>'+arppu+'</td><td>'+preOnePersistenceRate+'%';
				text+='</td><td>'+preTwoPersistenceRate+'%'+'</td><td>'+preSixPersistenceRate+'%'+'</td><td>'+preOneLTV+'%';
				text+='</td><td>'+preTwoLTV+'%'+'</td><td>'+preSixLTV+'%'+'</td></tr>';
			});
		});
	});
	$("#data-table-body").empty();
	$("#data-table-body").append(text);
	/*]]>*/
	$.each(dataArr,function(index,data){
		switch(data){
		case 'activeNum':series.push(activeNumData);break;
		case 'userNum':series.push(newUserNumData);break;
		case 'newPayerNum':series.push(newPayerNumData);break;
		case 'payerNum':series.push(payerNumData);;break;
		case 'icomeNum':series.push(icomeNumData);break;
		case 'incomeTimes':series.push(incomeTimesData);break;
		case 'newPayRate':series.push(newPayRateData);break;
		case 'payRate':series.push(payRateData);break;
		case 'arpu':series.push(arpuData);break;
		case 'arppu':series.push(arppuData);break;
		case 'secondPersistenceRate':series.push(secondPersistenceRateData);break;
		case 'thirdlyPersistenceRate':series.push(thirdlyPersistenceRateData);break;
		case 'seventhPersistenceRate':series.push(seventhPersistenceRateData);break;
		case 'secondLtv':series.push(secondLtvData);break;
		case 'thirdlyLtv':series.push(thirdlyLtvData);break;
		case 'seventhLtv':series.push(seventhLtvData);break;
		}
	});
	//初始化曲线图
	//initGraph(categories,series);
}




//检查参数是否为null,如果为null返回o
function checkNull(val){
	if(val==null||val==0)
		return 0;
	return val;
}
//两数相除 两位小数
function divide(element,denominator){
	if(element==null || element==0 || denominator==null ||denominator==0){
		return 0;
	}
	var divide = element/denominator;
	return Math.round(divide*100)/100;
}

//初始化曲线图
function initGraph(arppu,categories,series){
	$('#graph-div').highcharts({
		credits:{
			href:"",
			text:"TalentWalker",
		},
        title: {
            text: [[#{statistics.active.graph.title}]],
            x: -20 //center
        },
        xAxis: {
            categories: categories
        },
        yAxis: {
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series:  series
    });
	//计算arpu/渠道人数/渠道金额
	var arpuSeries=[];
	var numSeries=[];
	var priceSeries=[];
	$.each(arppu,function(index,packageData){
		var numTotal=0;
		var priceTotal=0;
		$.each(packageData,function(packageId,data){
			var arpuMap={};
			var arpuMapArr=[];
			arpuMap["name"]=packageId;
			arpuMapArr.push(divide(data.sumPrice,data.num));
			arpuMap["data"]=arpuMapArr;
			arpuSeries.push(arpuMap);
			numTotal+=data.num;
			priceTotal+=data.sumPrice;
		});
		$.each(packageData,function(packageId,data){
			var numMap={};
			numMap["name"]=packageId;
			numMap["y"]=divide(data.num,numTotal);
			numSeries.push(numMap);
			
			var priceMap={};
			priceMap["name"]=packageId;
			priceMap["y"]=divide(data.sumPrice,priceTotal);
			priceSeries.push(priceMap);
		});
	});
	//arpu柱状图
	$("#arpu-graph-div").highcharts({
		credits:{
			href:"",
			text:"TalentWalker",
		},
        chart: {
            type: 'column'
        },
        title: {
            text: [[#{statistics.top.up.arppu.proportion}]]
        },
        xAxis: {
            categories: [[#{statistics.top.up.arppu.proportion}]],
            crosshair: true
        },
        yAxis: {
            min: 0,
            allowDecimals:true,
            title: {
                text: [[#{statistics.top.up.arpu.unit}]]
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.2f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: arpuSeries
    });
	$("#arpu-graph-div").show();
	//包充值人数占比扇形图
	$("#num-graph-div").highcharts({
		credits:{
			href:"",
			text:"TalentWalker",
		},
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: [[#{statistics.top.up.pay.num.proportion}]]
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.2f} %',
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: numSeries
        }]
    });
	//包充值总额占比扇形图
	$("#total-graph-div").highcharts({
		credits:{
			href:"",
			text:"TalentWalker",
		},
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text:[[#{statistics.top.up.pay.price.proportion}]]
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.2f} %',
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: priceSeries
        }]
    });
}

function initPanelTable(zoneArr){
	var condition={};
	$("#panelTable").bootstrapTable({
		ajax : function(params) {
			gameBootstrapTable("/statistics/topUp/order/list", params);
		},
		queryParams : function(params) {
			var startStr=$("#startDatetimepicker").val().replace(/-/g,"/");
			var startLong = new Date(startStr).getTime();
			var endStr =$("#endDatetimepicker").val().replace(/-/g,"/");
			var endLong = new Date(endStr).getTime();
			var zoneArr=[];
			$(".checked input[name='zone-all']").each(function(){
				zoneArr.push($(this).val());
			});
			var query = {
				limit : params.limit,
				offset : params.offset,
				search_createTime_GTEL:startLong,
				search_createTime_LTEL:endLong,
				packageId:$("#package-select").val(),
				orderState:$("#order-state-select").val(),
				itemType:$("#item-type-select").val(),
				zoneList:zoneArr,
			};
			return query;
		},
		pagination : true,
		singleSelect : false,
		uniqueId : "id",
		sidePagination : "server",
		detailView:false,
		columns : [
					{
						title : [[#{statistics.top.up.order}]],
						field : "id",
						align : "center",
					},
					{
						title : [[#{statistics.top.up.item.desc}]],
						field : "productId",
						align : "center",
						formatter : function(value){
							return cashShop[value];
						},
					},
					{
						title : [[#{statistics.top.up.item.ID}]],
						field : "productId",
						align : "center",
						formatter : function(value){
							return value;
						},
					},
					{
						title : [[#{statistics.top.up.num}]],
						field : "quantity",
						align : "center",
						formatter : function(value){
							return value;
						},
					},
					{
						title : [[#{statistics.top.up.lord.id}]],
						field : "lordId",
						align : "center",
						formatter : function(value){
							return value;
						},
					},
					{
						title : [[#{statistics.top.up.platform.id}]],
						field : "platformId",
						align : "center",
						formatter:function(value){
							return value;
						}
					},
					{
						title : [[#{statistics.top.up.zone}]],
						field : "zoneId",
						align : "center",
						formatter : function(value){
							return zoneMap[value];
						},
					},{
						title : [[#{statistics.top.up.package}]],
						field : "packageId",
						align : "center",
						formatter : function(value){
							return packageMap[value];
						},
					},{
						title : [[#{statistics.top.up.price}]],
						field : "price",
						align : "center",
						formatter : function(value){
							return value;
						},
					},{
						title : [[#{statistics.top.up.order.state}]],
						field : "state",
						align : "center",
						formatter : function(value){
							return value==0?[[#{statistics.top.up.order.state.success}]]:[[#{statistics.top.up.order.state.ing}]];
						},
					},{
						title : [[#{statistics.top.up.create.time}]],
						field : "createTime",
						align : "center",
						width : 100 ,
						formatter : function(value){
							return new Date(value).format("yyyy-MM-dd hh:mm:ss");
						},
					},{
						title : [[#{statistics.top.up.pay.time}]],
						field : "payTime",
						align : "center",
						width : 100 ,
						formatter : function(value){
							if(value==0)
								return null;
							return new Date(value).format("yyyy-MM-dd hh:mm:ss");
						},
					},{
						title : [[#{statistics.top.up.current.level}]],
						field : "lordLevel",
						align : "center",
						formatter : function(value){
							return value;
						},
					},{
						title : [[#{statistics.top.up.current.vip.level}]],
						field : "lordVipLevel",
						align : "center",
						formatter : function(value){
							return value;
						},
					},{
						title : [[#{statistics.top.up.item.type}]],
						field : "productType",
						align : "center",
						formatter : function(value){
							return value==1?[[#{statistics.top.up.item.type.diamond}]]:[[#{statistics.top.up.item.type.month.card}]];
						},
					},{
						title : [[#{statistics.top.up.current.vip.score}]],
						field : "lordVipScore",
						align : "center",
						formatter : function(value){
							return value;
						},
					},{
						title : [[#{statistics.top.up.another.order.id}]],
						field : "orderId",
						align : "center",
						formatter : function(value){
							return value;
						},
					},
				]
	});
}

//导出
function exportCDKey(){
	var data="";
	var dateType=$("#date-type").val();
	dateType=="day"?$("#graph-div").hide():$("#graph-div").show();
	$("#data-table-div").show();
	var date={};
	if(dateType=="day"){
		date=$("#day-date-input").val();
	}else if(dateType=="week"){
		date=$("#week-date-input").val();
	}else if(dateType=="month"){
		date=$("#month-date-input").val();
	}
    var zoneArr=[];
	$(".checked input[name='zone-all']").each(function(){
		zoneArr.push($(this).val());
	});
	if(zoneArr.length==0){
		swal("",[[#{statistics.active.zone.null}]],"warning");
		return;
	}
	
	/*<![CDATA[*/
		data+="/active/base/export?dateType="+dateType+"&date="+date+"&zoneArr="+zoneArr+"&isDetail="+$("#is-detail").val();	           
	/*]]>*/
	window.location.href=data;
	
}

</script>
</html>