<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/include::header">
</head>
<head>
	<link th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/autocompleter/jquery.autocompleter.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
	
    <script th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
	<script th:src="@{'/static/js/plugins/bootstrap-table/locale/bootstrap-table-'+${#ctx.locale.language}+'.min.js'}"></script>
	<script th:src="@{/static/js/plugins/autocompleter/jquery.autocompleter.min.js}"></script>
	<script th:src="@{/static/js/plugins/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<button type="button" class="btn btn-sm btn-info" onclick="showModel()">
				        <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>&nbsp;<span th:text="#{sys.item.send}">发送道具</span>
				</button>
			</div>
			<div class="ibox-content">
				<div class="form-group" style="width: 800px">
						<div class="col-sm-2" style="float: right;">
							<button class="btn btn-primary" type="button" id="select" th:text="#{sys.select}">查询</button>
						</div>
						<div class="col-sm-1" >
							<label class="control-label" style="margin-top: 10px;" th:text="#{sys.time}">时间</label>
						</div>
						<div class="col-sm-8 input-daterange input-group" id="datepicker">
                        	<input type="text" name="startTime" class="form-control" required="required" id="startDatetimepicker" />
                            <span class="input-group-addon">-</span>
                            <input type="text" name="endTime" class="form-control" required="required" id="endDatetimepicker" />
                        </div>
                    </div>
				<table id="panelTable" class="table-striped" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<div class="modal fade" id="addModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="form-horizontal">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h3 class="modal-title" id="roleLabel" th:text="#{sys.item.send}">发送道具</h3>
					</div>
					<div class="modal-body">
	      				<div class="form-group">
                        	<label class="col-sm-3 control-label" th:text="#{sys.item}">道具：</label>
	      					<div class="col-sm-7" >
	      						<div class="form-group">
									<div class="col-sm-7" style="padding-right: 0px;">
										<input placeholder="选择道具" class="form-control" id="itemId" name="itemId" th:placeholder="#{sys.item.select}"/> 
									</div>
									<div class="col-sm-5" style="padding-left: 0px;">
                            			<div class="input-group">
                                			<input type="text" placeholder="数量" class="form-control" id="amount" name="amount" onkeyup="this.value=this.value.replace(/\D/g,'')" autocomplete="off" th:placeholder="#{sys.item.amount}"/> 
                                			<span class="input-group-btn">
                                				<button type="button" class="btn btn-info" onclick="addItem()" th:text="#{sys.add}">添加</button> 
                                			</span>
                            			</div>
                            		</div>
                            	</div>
                        	</div>
	      				</div>
	      				<div class="form-group" style="display:none;" id="itemData">
	      					<label class="col-sm-3"></label>
	      					<div class="col-sm-7">
								<table id="itemTable" class="table-striped" data-toggle="table" data-unique-id="id" data-mobile-responsive="true">
									<thead>
										<tr>
											<th data-field="id">ID</th>
											<th data-field="name" th:text="#{sys.item.name}">Name</th>
											<th data-field="amount" th:text="#{sys.item.amount}">amount</th>
											<th data-field="remove" th:text="#{sys.operate}">操作</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{sys.player}">玩家：</label>
							<div class="col-sm-7">
								<div class="input-group col-sm-12">
									<input type="text" placeholder="玩家ID" class="form-control" id="playerId" name="playerId" /> 
									<span class="input-group-btn">
										<button type="button" class="btn btn-info" onclick="addPlayer()" th:text="#{sys.add}">添加</button>
									</span>
								</div>
							</div>
						</div>
						<div class="form-group" style="display:none;" id="playerData">
	      					<label class="col-sm-3"></label>
	      					<div class="col-sm-7">
								<table id="playerTable" class="table-striped" data-toggle="table" data-unique-id="id" data-mobile-responsive="true">
									<thead>
										<tr>
											<th data-field="id">ID</th>
											<th data-field="name" th:text="#{sys.item.name}">name</th>
											<th data-field="remove" th:text="#{sys.operate}">操作</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{sys.item.comment}">备注：</label>
							<div class="col-sm-7">
								<textarea rows="2" cols="" class="form-control" id="comment" name="comment" ></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" onclick="send()" th:text="#{sys.send}">发送</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript" th:inline="javascript">

$(function(){
	adminUser={};
	initAdminUser();
	table=$("#itemTable");
	panelTable=$("#panelTable");
	initItemInput($("#itemId"));
	initDataTimePicker();
	initBootstrapTable();
});

//hide后立即触发该事件
$("#addModal").on("hide.bs.modal", function() {
		$('#addModal').find("input").val("");
		table.bootstrapTable("removeAll");
		$("#playerTable").bootstrapTable("removeAll");
		$("#itemData").hide();
		$("#playerData").hide();
}); 

function showModel(){
	$("#addModal").modal("show");
}

function addItem(){
	var id = $("#itemId").val();
	var amount = $("#amount").val();
	if(amount>10000){
		$("#amount").val("");
		//钻石上限
		swal([[#{sys.item.diamond.limit}]], "", "error");
		return;
	}
	if(id.length==0||amount==0||amount.length==0){
		return;
	}
	if(!window.itemAll.hasOwnProperty(id)){
		$("#itemId").val("");
		return;
	}
	amount = parseInt(amount);
	$("#itemData").show();
	
	var tableData=table.bootstrapTable('getData');
	var isAdd=true; //true id重复只增加数量
	var diamondLimit=false;
	$.each(tableData,function(index,val){
		if(val.id==id){
			amount+=parseInt(val.amount);
			if(id=="diamond"){
				if(amount>10000){
					diamondLimit=true;
				}else{
					tableData[index]["amount"]=amount;
				}
			}			
			isAdd=false;
		}
	});
	if(diamondLimit){
		//钻石上限
		swal([[#{sys.item.diamond.limit}]], "", "error");
		return;
	}
	//清空文本框
	$("#itemId").val("");
	$("#amount").val("");
	
	if(isAdd){
		var remove= '<a class="remove" href="javascript:void(0)" title="Remove" onclick="removeItem(\''+id+'\')"><i class="glyphicon glyphicon-remove"></i></a>';
		var name = window.itemAll[id];
		data=[];
		data.push({id:id,name:name,amount:amount,remove:remove});
		table.bootstrapTable("append", data);
	}else{
		table.bootstrapTable('load', tableData);
	}
}

function removeItem(itemId){
	 table.bootstrapTable('removeByUniqueId', itemId);
	 var tableData=table.bootstrapTable('getData');
	 if(tableData.length==0){
		 $("#itemData").hide();
	 }
}

function addPlayer(){
	var id = $("#playerId").val();
	if(id.length==0){
		return;
	}
	$("#playerId").val("");
	var tableData=$("#playerTable").bootstrapTable('getData');
	var repeat = false;
	$.each(tableData,function(index,val){
		if(val.id==id){
			repeat = true;
			return;
		}
	});
	if(repeat){
		return;
	}
 	gameAjax({
		url : "/itemSend/lord",
		data : "id=" + id,
		callback : function(data) {
			var name=data.name;
			$("#playerData").show();
			var remove= '<a class="remove" href="javascript:void(0)" title="Remove" onclick="removePlayer(\''+id+'\')"><i class="glyphicon glyphicon-remove"></i></a>';
			data=[];
			data.push({id:id,name:name,remove:remove});
			$("#playerTable").bootstrapTable("append", data);
		}
	}); 
}

function removePlayer(playerId){
	$("#playerTable").bootstrapTable('removeByUniqueId', playerId);
	 var tableData=$("#playerTable").bootstrapTable('getData');
	 if(tableData.length==0){
		 $("#playerData").hide();
	 }
}

function send(){
	var itemData=table.bootstrapTable('getData');
	var playerData=$("#playerTable").bootstrapTable('getData');

	if(itemData==""){
		swal("", [[#{sys.item.swal.item.null}]], "warning");
		return;
	}
	
	if(playerData==""){
		swal("", [[#{sys.item.swal.lord.null}]], "warning");	
		return;
	}
	
	var item=[];
	$.each(itemData,function(index,val){
		var temp={};
		temp["id"]=val.id;
		temp["amount"]=val.amount;
		temp["name"]=val.name;
		item.push(temp);
	});
	var lord=[];
	$.each(playerData,function(index,val){
		var temp={};
		temp["id"]=val.id;
		temp["name"]=val.name;
		lord.push(temp);
	});
	var comment=$("#comment").val();
 	gameAjax({
		url : "/itemSend/send",
		data : {
			"items":JSON.stringify(item),
			"lord":JSON.stringify(lord),
			"comment":comment
			},
		callback : function(data) {
			$("#addModal").modal("hide");
			panelTable.bootstrapTable("refresh");
		}
	});  
}

function initBootstrapTable(){
	var condition={};
	panelTable.bootstrapTable({
		ajax : function(params) {
			gameBootstrapTable("/itemSend/list", params);
		},
		queryParams : function(params) {
			var query = {
				limit : params.limit,
				offset : params.offset,
				search_createTime_GTED : $("#startDatetimepicker").val(),
				search_createTime_LTED : $("#endDatetimepicker").val(),
			};
			return query;
		},
		pagination : true,
		singleSelect : false,
		uniqueId : "id",
		sidePagination : "server",
		columns : [
					{
						title : [[#{sys.player}]]+"ID",
						field : "params",
						align : "center",
						formatter : function(value){
							value=$.parseJSON(value); 
							var lord="";
							if(value.lord!=undefined){
								$.each(value.lord,function(index,data){
									if(data!=undefined){
										$.each(data,function(i,val){
											var name="";
											if(val.name!=undefined){
												name=val.name;
											}
											lord+=val.id+"-"+name+"<br></br>";
										});
									}
								});
							}
							return lord; 
						},
					},
					{
						title : [[#{sys.item}]],
						field : "params",
						align : "center",
						formatter : function(value){
							value=$.parseJSON(value); 
							var item="";
							if(value.items!=undefined){
								$.each(value.items,function(index,data){
									$.each(data,function(i,val){
										var name="";
										if(val.name!=undefined){
											name=val.name;
										}
										item+=val.id+"-"+name+" : "+val.amount+"<br></br>";
									});
								});
							}
							return item; 
						},
					},
					{
						title : [[#{sys.item.comment}]],
						field : "params",
						align : "center",
						formatter : function(value){
							value=$.parseJSON(value); 
							var comment="";
							if(value.comment!=undefined){
								comment=value.comment;
							}
							return comment; 
						},
					},
					{
						title : [[#{sys.operator}]],
						field : "userId",
						align : "center",
						formatter : function(value){
							return adminUser[value]; 
						},
					},
					{
						title : [[#{sys.admin.log.user.ip}]],
						field : "ip",
						align : "center",
					},
					{
						title : [[#{sys.createdate}]],
						field : "createTime",
						align : "center",
						formatter : function(value){
							return new Date(value).format("yyyy-MM-dd hh:mm:ss");
						},
					}
				]
	});
}
function initDataTimePicker(){
	$("#startDatetimepicker").datetimepicker({
	    format : "yyyy-mm-dd hh:ii:ss",
	    autoclose : true,
	    todayBtn :true,
	    endDate : new Date()
	});
	$("#endDatetimepicker").datetimepicker({
	    format : "yyyy-mm-dd hh:ii:ss",
	    autoclose : true,
	    todayBtn :true,
	});
	var date=new Date();
	//date.setDate(date.getDate()-1); //前一天
	$("#startDatetimepicker").val(new Date().format("yyyy-MM-dd 00:00:00"));
	$("#endDatetimepicker").val(new Date().format("yyyy-MM-dd 23:59:59"));
}
function initAdminUser(){
	gameAjax({
		url : "/user/listAll",
			callback : function(data) {
				$.each(data,function(index,val){
					adminUser[val.id]=val.name;
				});
		}
	});
}
$("#select").click(function(){
	panelTable.bootstrapTable("refresh");
});

</script>
</html>