<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/include::header">
</head>
<head>
	<link th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/autocompleter/jquery.autocompleter.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/pickList/pickList.css}" rel="stylesheet"/>
	
    <script th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
	<script th:src="@{'/static/js/plugins/bootstrap-table/locale/bootstrap-table-'+${#ctx.locale.language}+'.min.js'}"></script>
	<script th:src="@{/static/js/plugins/autocompleter/jquery.autocompleter.min.js}"></script>
	<script th:src="@{/static/js/plugins/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
	<script th:src="@{/static/js/plugins/pickList/pickList.js}"></script>
	<script th:src="@{/static/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{'/static/js/plugins/validate/messages_'+${#ctx.locale.language}+'.min.js'}"></script>
	<link th:href="@{/static/css/plugins/colpick/colpick.css}" rel="stylesheet"/>
	<script th:src="@{/static/js/plugins/colpick/colpick.js}"></script>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<button type="button" class="btn btn-sm btn-info"
					onclick="showModel()">
					<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>&nbsp;<span
						th:text="#{gmtool.mail.title}">发送邮件</span>
				</button>
			</div>
			<div class="ibox-content">
				<form class="form-horizontal" id="addForm">
					<div class="form-group contentClass">
					</div>
						<div class="form-group">
						<label class="col-sm-3 control-label"></label>
						<div class="col-sm-7">
							<button type="button" class="btn btn-primary" id="" onclick="addOneItem()">添加</button>
							<button type="button" class="btn btn-primary" id="" onclick="removeItem()">删除</button>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary"
							th:text="#{sys.save}" id="submit">保存</button>
					</div>
				</form>
				<table id="panelTable" class="table-striped"
					data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
</body>
<!-- 取色模板 -->
<div id="itemTample" style="">
	<div class="form-group">
		<label class="col-sm-3 control-label">文本</label>
		<div class="col-sm-7">
			<textarea name="content[]" id="id" class="form-control" style="resize: vertical"
				required="required"></textarea>
		</div>
		<div class="col-sm-2 ColorTipDiv">
			<input type="hidden" value="232,193,138" name="crgb[]" />
			<div class="color-box" style="width: 30px; height: 30px"></div>
		</div>
	</div>
</div>

<script type="text/javascript" th:inline="javascript">
//文本输入框数量初始化
var itemNum = 1;
//初始化 默认一个文本框 
addOneItem();

function initColorBox(id){
	$(id).colpick({

		colorScheme:'dark',

		layout:'rgbhex',

		color:'ff8800',

		onSubmit:function(hsb,hex,rgb,el) {

			$(el).css('background-color', '#'+hex);

			$(el).colpickHide();
			var rgb=rgb.r+","+rgb.g+","+rgb.b;
			$(el).parent(".ColorTipDiv").children("input").val(rgb);
		}
	}).css('background-color', '#ff8800'); //默认颜色
}

function addOneItem(){
	var colorBoxId="color-box-"+itemNum;
	var cloneItem = $("#itemTample").clone();
	cloneItem.removeAttr("id");
	cloneItem.addClass("oneItems");
	cloneItem.find("textarea").first().addClass("hpf");
	cloneItem.find(".color-box").attr("id",colorBoxId);
	cloneItem.find(".removeItem").show();
	cloneItem.show();
	$(".contentClass").append(cloneItem);
	colorBoxId = "#" + colorBoxId;
	initColorBox(colorBoxId);
	itemNum++;
}
function removeItem(){
	$(".contentClass div.oneItems:last").remove();
} 
</script>
</html>