<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/include::header">
</head>
<head>
	<link th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/autocompleter/jquery.autocompleter.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/pickList/pickList.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/bootstrap-table/extensions/editable/bootstrap-editable.css}" rel="stylesheet"/>
	
    <script th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table.js}"></script>
	<script th:src="@{'/static/js/plugins/bootstrap-table/locale/bootstrap-table-'+${#ctx.locale.language}+'.min.js'}"></script>
	<script th:src="@{/static/js/plugins/autocompleter/jquery.autocompleter.min.js}"></script>
	<script th:src="@{/static/js/plugins/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
	<script th:src="@{/static/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{'/static/js/plugins/validate/messages_'+${#ctx.locale.language}+'.min.js'}"></script>
	<script th:src="@{/static/js/plugins/pickList/pickList.js}"></script>
	<script th:src="@{/static/js/plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.min.js}"></script>
	<script th:src="@{/static/js/plugins/bootstrap-table/extensions/editable/bootstrap-editable.min.js}"></script>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<div class="btn-group hidden-xs"
					th:replace="fragments/include::toolbar(true,false)"></div>
			</div>
			<div class="ibox-content">
				<table id="panelTable" class="table-striped"
					data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<div class="modal fade" id="addModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="form-horizontal" id="addForm">
					<input type="hidden" name="activityId" id="activityId" value="" />
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h3 class="modal-title" th:text="#{sys.add}+#{activity.recruit}">招募</h3>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{sys.zone.select}">区服：</label>
							<div class="col-sm-7">
								<div id="zonelist"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.name}">名称：</label>
							<div class="col-sm-7">
								<input type="text" name="name" id="name" class="form-control" required="required" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.describe}">描述：</label>
							<div class="col-sm-7">
								<textarea rows="2" cols="" class="form-control" id="explain" name="explain" required="required" ></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.shop.currency.type}">出售货币类型：</label>
							<div class="col-sm-7">
								<select class="form-control" name="money" id="money">
									<option value="diamond" th:text="#{sys.item.diamond}">钻石</option>
									<option value="gold" th:text="#{sys.item.gold}">金币</option>
									<option value="item" th:text="#{sys.item}">道具</option>
								</select>
							</div>
						</div>
						<div class="form-group" id="itemShow" style="display: none;">
							<label class="col-sm-3 control-label"></label>
							<div class="col-sm-7">
								<input placeholder="选择道具" class="form-control itemList" required="required" name="itemId" id="itemId" th:placeholder="#{sys.item.select}" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.shop.price}">单价：</label>
							<div class="col-sm-7">
								<input type="text" name="price" id="price" class="form-control" required="required" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.shop.amount.limt}">限购数量：</label>
							<div class="col-sm-2">
								<input type="text" name="limitAmount" id="limitAmount" class="form-control" required="required" />
							</div>
							<label class="col-sm-3 control-label" th:text="#{activity.shop.vip.limt}">限定VIP：</label>
							<div class="col-sm-2">
								<select class="form-control" name="limitVip" id="limitVip"></select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{sys.time}">时间：</label>
							<div class="col-sm-7" id="datepicker">
								<div class="input-daterange input-group">
									<input type="text" name="startDate" class="form-control" id="startDatetimepicker" />
									<span class="input-group-addon">-</span> 
									<input type="text" name="endDate" class="form-control" id="endDatetimepicker" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.shop.number}">商店序号：</label>
							<div class="col-sm-7">
								<input type="text" id="putrush" name="putrush" class="form-control" required="required" />
							</div>
						</div>

						<div class="hr-line-dashed"></div>

						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.shop.gain.type}">道具获取类型：</label>
							<div class="col-sm-7">
								<select class="form-control" name="acquireType" id="acquireType">
									<option value="1" th:text="#{activity.shop.gain.type.random}">随机获取</option>
									<option value="2" th:text="#{activity.shop.gain.type.all}">全部获取</option>
								</select>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.shop.sell.item}">出售道具：</label>
							<div class="col-sm-7" >
	      						<div class="form-group">
									<div class="col-sm-6" style="padding-right: 0px;">
										<input placeholder="选择道具" class="form-control itemList" id="id" th:placeholder="#{sys.item.select}"/> 
									</div>
									<div class="col-sm-2" style="padding-left: 0px;padding-right: 0px;">
                            			<div class="input-group">
                                			<input type="text" placeholder="数量" class="form-control" id="amount" onkeyup="this.value=this.value.replace(/\D/g,'')" autocomplete="off" th:placeholder="#{sys.item.amount}"/> 
                            			</div>
                            		</div>
                            		<div class="col-sm-2" style="padding-left: 0px;padding-right: 0px;">
                            			<div class="input-group">
                                			<input type="text" placeholder="权重" class="form-control" id="weight" onkeyup="this.value=this.value.replace(/\D/g,'')" autocomplete="off" th:placeholder="#{activity.weight}"/> 
                            			</div>
                            		</div>
                            		<div class="col-sm-2" style="padding-left: 0px;">
                            			<div class="input-group">
                                			<span class="input-group-btn">
                                				<button type="button" class="btn btn-info" onclick="addItem()" th:text="#{sys.add}">添加</button> 
                                			</span>
                            			</div>
                            		</div>
                            	</div>
                        	</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label"></label>
							<div class="col-sm-7">
								<table id="itemtable" class="table-striped" data-toggle="table" data-unique-id="itemId" data-mobile-responsive="true">
									<thead>
										<tr>
											<th data-field="itemId">ID</th>
											<th data-field="name" th:text="#{sys.item.name}">name</th>
											<th data-field="amount" th:text="#{sys.item.amount}">数量</th>
											<th data-field="weight" th:text="#{activity.weight}">权重</th>
											<th data-field="remove" th:text="#{sys.operate}">操作</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary"
							th:text="#{sys.save}">保存</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">
$(function(){
	table=$("#panelTable");
	initTable();
	itemtable=$("#itemtable");
	itemNames();
	itemName=window.itemAll;
	zoneMap=loadZoneMap();
});
function add() {
	$("#addForm")[0].reset();
	$("#addForm").validate({
		submitHandler:function(form){
			onSave();
        }
	}).resetForm();
	$("#activityId").val("");
	itemtable.bootstrapTable("load", []);
	//初始化区服
	initZone();
	initVipLevelSelect();
	initDataTimePicker();
	initItemInput($(".itemList"));
	$("#addModal").modal("show");
	
}
function initZone(){
	var data=loadZonePickList();
	$("#zonelist").empty();
	$("#zonelist").pickList({data: data,add:true});
}
function initVipLevelSelect(){
	gameAjax({
		url : "/recruit/vipList",
		async : false,
		callback : function(data) {
			var options="";
			$.each(data, function(n, lv) {
				options += '<option value="'+lv+'">' + lv + '</option>';
			});
			$("#limitVip").html(options);
		}
	})
}
function initDataTimePicker(){
	$("#startDatetimepicker").datetimepicker({
	    format : "yyyy-mm-dd hh:ii:ss",
	    autoclose : true,
	    todayBtn :true,
	    endDate : new Date()
	});
	$("#endDatetimepicker").datetimepicker({
	    format : "yyyy-mm-dd hh:ii:ss",
	    autoclose : true,
	    todayBtn :true,
	});
}
$("#money").change(function(){
	if($("#money").val()=="item"){
		//道具选择
		initItemInput($(".itemList"));
		$("#itemShow").show();
	}else{
		$("#itemId").val("");
		$("#itemShow").hide();
	}
});
$("#proType").change(function(){
	if($("#proType").val()==1){
		$("#averageShow").show();
		$("#growUpShow").hide();
	}else{
		$("#growUpShow").show();
		$("#averageShow").hide();
	}
});
function addItem(){
	var itemId=$("#id").val();
	var amount=$("#amount").val();
	var weight=$("#weight").val();
	
	if(itemId.length==0||amount==0||amount.length==0||weight==0||weight.length==0){
		return;
	}
	if(!window.itemAll.hasOwnProperty(itemId)){
		$("#itemId").val("");
		return;
	}
	amount = parseInt(amount);
	//清空文本框
	$("#id").val("");
	$("#amount").val("");
	$("#weight").val("");
	
	var tableData=itemtable.bootstrapTable('getData');
	var isAdd=true; //true id重复只增加数量
	$.each(tableData,function(index,val){
		if(val.itemId==itemId){
			amount+=parseInt(val.amount);
			tableData[index]["amount"]=amount;
			isAdd=false;
		}
	});
	if(isAdd){
		var remove= '<a class="remove" href="javascript:void(0)" title="Remove" onclick="removeItem(\''+itemId+'\')"><i class="glyphicon glyphicon-remove"></i></a>';
		var name = window.itemAll[itemId];
		data=[];
		data.push({itemId:itemId,name:name,amount:amount,weight:weight,remove:remove});
		itemtable.bootstrapTable("append", data);
	}else{
		itemtable.bootstrapTable('load', tableData);
	}
}

function removeItem(itemId){
	itemtable.bootstrapTable('removeByUniqueId', itemId);
	 var tableData=itemtable.bootstrapTable('getData');
}

function onSave(){
	var id=$("#activityId").val();
	//时间校验
	var startDate=$("#startDatetimepicker").val();
	var endDate=$("#endDatetimepicker").val();
	if(startDate.length==0||endDate==0){
		swal("", [[#{activity.time.not.null}]], "warning");
	}
	
	var zonelist=$("#zonelist").getValues();
	if(zonelist.length==0){
		swal("", [[#{activity.zone.null}]], "warning");
		return;
	}
	 var tableData=itemtable.bootstrapTable('getData');
	 if(tableData.length==0){
		 swal("", [[#{activity.recruit.swal.a.null}]], "warning");
	 }
	 var itemData=[];
	 $.each(tableData,function(index,val){
		 var temp={};
		 temp["id"]=val.itemId;
		 temp["amount"]=val.amount;
		 temp["weight"]=val.weight;
		 itemData.push(temp);
	 });
	 /*<![CDATA[*/
		var data=$("#addForm").serialize()+"&zoneList="+$("#zonelist").getValues()+"&data="+JSON.stringify(itemData);
		if(id!=null&&id!=""&&id!=undefined){
			data+="&id="+id;
		}
	/*]]>*/
		console.log(data);
		$("#zonelist").getValues();
	 	gameAjax({
			url : "/shopConfig/add",
			data:data,
			callback : function(val) {
				$("#addModal").modal("hide");
				table.bootstrapTable("refresh");
			}
		}) 
}
function initTable() {
	table.bootstrapTable({
		ajax : function(params) {
			gameBootstrapTable("/shopConfig/list", params);
		},
		queryParams : function(params) {
			var query = {
				limit : params.limit,
				offset : params.offset,
				order :params.order,
				sort :params.sort,
				condition : params.search
			};
			return query;
		},
		pagination : true,
		singleSelect : false,
		detailView:true,
		detailFormatter:function(index, row){
			var text='<table class="table">';
			//区服
			var zone="";
			$.each(row.zoneList,function(index,zoneId){
				zone+=zoneId+"-"+zoneMap[zoneId]+"&nbsp;,&nbsp;";
			});
			text+='<tr><td><b>'+[[#{sys.zone.select}]]+'</b></td><td colspan="11">'+zone+'</td></tr>';
			text+='<tr><td><b>'+[[#{activity.describe}]]+'</b></td><td colspan="8">'+row.explain+'</td></tr>';
			text+='<tr>';
			text+='<td><b>'+[[#{activity.shop.price}]]+'</b></td><td>'+row.price+'</td>';
			text+='<td><b>'+[[#{activity.shop.amount.limt}]]+'</b></td><td>'+row.limtAmount+'</td>';
			text+='<td><b>'+[[#{activity.shop.vip.limt}]]+'</b></td><td>'+row.limitVip+'</td>';
			var acquireType="";
			if(row.acquireType==1){
				acquireType=[[#{activity.shop.gain.type.random}]];
			}else{
				acquireType=[[#{activity.shop.gain.type.all}]];
			}
			text+='<td><b>'+[[#{activity.shop.gain.type}]]+'</b></td><td colspan="2">'+acquireType+'</td>';
			text+='</tr>';
			//出售道具
			text+='<tr><td colspan="8"><b>'+[[#{activity.shop.sell.item}]]+'</b></td></tr>'
			text+='<tr><td colspan="8"><table class="table">';
			text+='<thead><tr><td>ID</td><td>'+[[#{sys.item.amount}]]+'</td><td>'+[[#{activity.weight}]]+'</td></tr></thead>'
			$.each(row.itemData,function(index,val){
				text+='<tr><td>'+val.id+'</td><td>'+val.amount+'</td><td>'+val.weight+'</td></tr>';
			});
			text+='</table></td></tr>';
			text+='</table>';
			console.log(text);
			return text;
		},
		uniqueId : "id",
		idField : "id",
		sidePagination : "server",
		sortName : "endTime",
		sortOrder : "asc",
		columns : [
			{
				title : "活动ID",
				field : "id",
			},
			{
				title : [[#{activity.name}]],
				field : "name",
				align : "center",
			},
			{
				title : [[#{activity.shop.currency.type}]],
				field : "money",
				align : "center",
			},
			{
				title : [[#{activity.start.time}]],
				field : "startTime",
				sortable: true,
				formatter : function(value) {
					return new Date(value).format("yyyy-MM-dd hh:mm:ss");
				},
			},
			{
				title : [[#{activity.end.time}]],
				field : "endTime",
				sortable: true,
				formatter : function(value) {
					return new Date(value).format("yyyy-MM-dd hh:mm:ss");
				},
			},
			{
				title : [[#{activity.shop.vip.limt}]],
				field : "limitVip",
			},
			{
				title : [[#{activity.shop.number}]],
				field : "putrush",
				sortable: true,
				editable : {
					url : "/shopConfig/update",
					validate : function(value) {
						if(value == ""){
							return "not null!";
						}
					},
					error : function(response, newValue) {
					    alert("error:" + newValue);
					}
				}
			},
			{
				title : [[#{sys.operate}]],
				field : "id",
				align : "center",
				formatter : function(value) {
					var	formatter = '<div class="btn-group hidden-xs"><button type="button" class="btn btn-xs btn-primary" onclick="edit(\''
										+ value + '\')" th:text="#{sys.edit}">编辑</button>';
						formatter += '<button type="button" class="btn btn-xs btn-danger" onclick="deleteData(\''
										+ value + '\')"  th:text="#{sys.delete}">删除</button></div>';
					return formatter;
					},
				} 
			]
	});
}
function edit(activityId){
	$("#addForm")[0].reset();
	$("#addForm").validate({
		submitHandler:function(form){
			onSave();
        }
	}).resetForm();
	$("#activityId").val(activityId);
	initDataTimePicker();
	initVipLevelSelect();
	initItemInput($(".itemList"));
	var data = table.bootstrapTable("getRowByUniqueId", activityId);
	console.log(data);
	editZone(data.zoneList);
	editDataTimePicker(data);
	$("#name").val(data.name);
	$("#explain").val(data.explain);
	 /*<![CDATA[*/
	if(data.money!="diamond"&&data.money!="gold"){
		//道具选择
		$("#money").val("item");
		$("#itemId").val(data.money);
		$("#itemShow").show();
	}else{
		$("#money").val(data.money);
		$("#itemId").val("");
		$("#itemShow").hide();
	}
	/*]]>*/
	
	$("#acquireType").val(data.acquireType);
	$("#price").val(data.price);
	$("#limitAmount").val(data.limitAmount);
	$("#limitVip").val(data.limitVip);
	
	$("#putrush").val(data.putrush);
	//出售道具数据
	var a=[]
	$.each(data.itemData,function(index,val){
		var name = itemName[val.id];
		var remove= '<a class="remove" href="javascript:void(0)" title="Remove" onclick="removeItem(\''+val.id+'\')"><i class="glyphicon glyphicon-remove"></i></a>';
		a.push({itemId:val.id,name:name,amount:val.amount,weight:val.weight,remove:remove});
	});
	itemtable.bootstrapTable('load', a);
	$("#addModal").modal("show");
}
function removeItem(itemId){
	itemtable.bootstrapTable('removeByUniqueId', itemId);
}
function editZone(zoneList){
	var data=loadZonePickList();
	var zoneData=[];
	var zoneNames={};
	$.each(data,function(index,val){
		zoneNames[val.id]=val.text;
		if(!($.inArray(val.id, zoneList)>=0)){
			zoneData.push(val);
		}
	});
	$.each(zoneList,function(index,id){
		var map={};
		map["id"] = id;
		map["text"] = zoneNames[id];
		map["option"] = "selected";
		zoneData.push(map);
	}); 
	$("#zonelist").empty();
	$("#zonelist").pickList({data: zoneData,add:true});
}
function editDataTimePicker(data){
	$("#startDatetimepicker").val(new Date(data.startTime).format("yyyy-MM-dd hh:mm:ss"));
	$("#endDatetimepicker").val(new Date(data.endTime).format("yyyy-MM-dd hh:mm:ss"));
}
function deleteData(itemId){
	swal({
		title : [[#{sys.confirm.title}]],
		text : [[#{sys.confirm.text}]],
		type : "warning",
		showCancelButton : true,
		confirmButtonColor : "#DD6B55",
		confirmButtonText : [[#{sys.confirm.confirmtext}]],
		cancelButtonText : [[#{sys.confirm.canceltext}]],
		closeOnConfirm: false
	}, function(isConfirm) {
		if (isConfirm) {
			gameAjax({
				url : "/shopConfig/delete",
				data:"id="+itemId,
				callback : function(val) {
					swal([[#{sys.delete.success}]],"","success");
					table.bootstrapTable("refresh");
				}
			});
		}
	})
}
</script>
</html>