<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/include::header">
</head>
<head>
	<link th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/autocompleter/jquery.autocompleter.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/pickList/pickList.css}" rel="stylesheet"/>
		<link th:href="@{/static/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/bootstrap-table/extensions/editable/bootstrap-editable.css}" rel="stylesheet"/>
	
    <script th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table.js}"></script>
	<script th:src="@{'/static/js/plugins/bootstrap-table/locale/bootstrap-table-'+${#ctx.locale.language}+'.min.js'}"></script>
	<script th:src="@{/static/js/plugins/autocompleter/jquery.autocompleter.min.js}"></script>
	<script th:src="@{/static/js/plugins/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
	<script th:src="@{/static/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{'/static/js/plugins/validate/messages_'+${#ctx.locale.language}+'.min.js'}"></script>
	<script th:src="@{/static/js/plugins/pickList/pickList.js}"></script>
	<script th:src="@{/static/js/plugins/iCheck/icheck.min.js}"></script>
	<script th:src="@{/static/js/plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.min.js}"></script>
	<script th:src="@{/static/js/plugins/bootstrap-table/extensions/editable/bootstrap-editable.min.js}"></script>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<div class="btn-group hidden-xs"
					th:replace="fragments/include::toolbar(true,false)"></div>
			</div>
			<div class="ibox-content">
				<table id="panelTable" class="table-striped"
					data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<div class="modal fade" id="addModal" >
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="form-horizontal" id="addForm">
					<input type="hidden" name="activityId" id="activityId" value="" />
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h3 class="modal-title" th:text="#{sys.add}+#{sys.menu.advertisement}">添加广告</h3>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{advertisement.is.all.zone}">是否全服</label>
							<div class="col-sm-7">
								<label class="radio-inline i-checks"> 
									<input type="radio"  checked="checked"  value="true" id="allZoneTrue" name="allZone" th:text="#{sys.true}" />
								</label> 
								<label class="radio-inline i-checks"> 
									<input type="radio" checked="checked" value="false" id="allZoneFalse" name="allZone" th:text="#{sys.false}" />
								</label>
							</div>
						</div>
						<div class="form-group " id="zonelistDiv" >
							<label class="col-sm-3 control-label" th:text="#{sys.zone.select}">区服：</label>
							<div class="col-sm-7">
								<div id="zonelist"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{sys.gamezone.status}">状态</label>
							<div class="col-sm-7">
								<label class="radio-inline i-checks"> 
									<input type="radio"  checked="checked"  value="true" id="stateTrue" name="state" th:text="#{activity.recruit.state.open}" />
								</label> 
								<label class="radio-inline i-checks"> 
									<input type="radio" value="false" id="stateFalse" name="state" th:text="#{activity.recruit.state.close}" />
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.name}">名称：</label>
							<div class="col-sm-7">
								<input type="text" name="name" id="name" class="form-control" required="required" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{sys.time}">时间：</label>
							<div class="col-sm-7" id="datepicker">
								<div class="input-daterange input-group">
									<input type="text" name="startDate" class="form-control" id="startDatetimepicker" />
									<span class="input-group-addon">-</span> 
									<input type="text" name="endDate" class="form-control" id="endDatetimepicker" />
								</div>
							</div>
						</div>
						<div class="form-group putrush">
							<label class="col-sm-3 control-label"  th:text="#{activity.shop.number}">商店序号：</label>
							<div class="col-sm-7">
								<input type="text" id="putrush" name="putrush" class="form-control" required="required" />
							</div>
						</div>

						<div class="hr-line-dashed"></div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{notice.jump.path}" >跳转路径</label>
							<div class="col-sm-5">
								<input type="text" id="stage" name="stage" class="form-control"  />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.recruit.img.src}" >输入图片src</label>
							<div class="col-sm-5">
								<input type="text" id="src" name="src" class="form-control"  />
							</div>
						</div>
						<div class="form-group" id="imgDiv" >
							<div  class="col-sm-3 control-label" style="padding-left:20%" >
								<img  />
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary"
							th:text="#{sys.save}">保存</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">
$(".modal-dialog").css({
	width:"900px",
}); 

allZoneFalg="false";

$(function(){
	$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})
	table=$("#panelTable");
	initTable();
	itemtable=$("#itemtable");
	itemNames();
	initKanBanInput($(".itemList"));
	itemName=window.itemAll;
	zoneMap=loadZoneMap();
	//iCheckChange
	redioChange();
	//加载图片事件
	$("#src").keyup(function(){
		$("#imgDiv").find(" img").attr("src",$(this).val());
	});
});
/**
 * 单选框改变
 */
 function redioChange(){
	 $("[name='allZone']").on('ifChecked',function(event){
		var value=$(event.target).val();
		if(value=="true"){
			allZoneFalg=value;
			$("#zonelistDiv").hide();
		}else{
			allZoneFalg=value;
			$("#zonelistDiv").show();
		}
	});
	$("[name='state']").on('ifChecked',function(event){
		var value =$(event.target).val();
		if(value=='true'){
			$("#putrush").val("");
			$(".putrush").show();
		}else{
			$("#putrush").val("N/A");
			$(".putrush").hide();
		}
	});
}

function add() {
	$("#addForm")[0].reset();
	$("#addForm").validate({
		submitHandler:function(form){
			onSave();
        }
	}).resetForm();
	$("#activityId").val("");
	itemtable.bootstrapTable("load", []);
	//初始化区服
	initZone();
	initDataTimePicker();
	$("#allZoneFalse").iCheck("check");
	$("#stateTrue").iCheck("check");
	$("#addModal").modal("show");
}

function initZone(){
	var data=loadZonePickList();
	$("#zonelist").empty();
	$("#zonelist").pickList({data: data,add:true});
}
function initDataTimePicker(){
	$("#startDatetimepicker").datetimepicker({
	    format : "yyyy-mm-dd hh:ii:ss",
	    autoclose : true,
	    todayBtn :true,
	    endDate : new Date()
	});
	$("#endDatetimepicker").datetimepicker({
	    format : "yyyy-mm-dd hh:ii:ss",
	    autoclose : true,
	    todayBtn :true,
	});
}

function onSave(){
	var id=$("#activityId").val();
	//时间校验
	var startDate=$("#startDatetimepicker").val();
	var endDate=$("#endDatetimepicker").val();
	if(startDate.length==0||endDate==0){
		swal("", [[#{activity.time.not.null}]], "warning");
		return;
	}
	
	var zonelist=$("#zonelist").getValues();
	/*<![CDATA[*/
	if(allZoneFalg=="fasle" && zonelist.length==0){
		swal("", [[#{activity.zone.null}]], "warning");
		return;
	}
	/*]]>*/
	
	var endLong=  new Date(endDate.replace(/-/g,'/')).getTime() ;
	var startLong=  new Date(startDate.replace(/-/g,'/')).getTime() ;
	if(startLong >= endLong){
		swal('',[[#{config.shop.recruit.time.error}]],'warning');
		return ;
	}
	
	var putrush =$("#putrush").val();
	
	 /*<![CDATA[*/
		var data=$("#addForm").serialize()+"&startLong="+startLong+"&endLong="+endLong;
	 	if(allZoneFalg=="false"){
	 		console.log($("#zonelist").getValues());
	 		data+="&zoneList="+$("#zonelist").getValues();
	 	}
		if(id!=null&&id!=""&&id!=undefined){
			data+="&id="+id;
		}
	/*]]>*/
	 	gameAjax({
			url : "/advertisement/add",
			data:data,
			callback : function(val) {
				$("#addModal").modal("hide");
				table.bootstrapTable("refresh");
			}
		}) 
}
function initTable() {
	table.bootstrapTable({
		ajax : function(params) {
			gameBootstrapTable("/advertisement/findList", params);
		},
		queryParams : function(params) {
			var query = {
				limit : params.limit,
				offset : params.offset,
				order :params.order,
				sort :params.sort,
				condition : params.search
			};
			return query;
		},
		pagination : true,
		singleSelect : false,
		detailView:true,
		detailFormatter:function(index, row){
			var text='<table class="table">';
			if(row.allZone){
				text+='<tr><td><b>'+[[#{advertisement.is.all.zone}]]+'</b></td><td>'+[[#{sys.true}]]+'</td></tr>'
			}else{
				//区服
				var zone="";
				$.each(row.zoneList,function(index,zoneId){
					zone+=zoneId+"-"+zoneMap[zoneId]+"&nbsp;,&nbsp;";
				});
				text+='<tr><td><b>'+[[#{sys.zone.select}]]+'</b></td><td>'+zone+'</td></tr>';
			}
			text+='<tr><td><b>'+[[#{notice.jump.path}]]+'</b></td><td>'+row.stage+'</td></tr>';
			//图片
			text+='<tr><td><b>'+[[#{advertisement.img}]]+'</b></td><td><img src="'+row.src+'"/></td></tr>';
			text+='</table>';
			return text;
		},
		uniqueId : "id",
		idField : "id",
		sidePagination : "server",
		sortName : "putrush",
		sortOrder : "asc",
		columns : [
			{
				title : [[#{advertisement.id}]],
				field : "id",
			},
			{
				title : [[#{activity.name}]],
				field : "name",
				align : "center",
			},
			{
				title : [[#{activity.start.time}]],
				field : "startLong",
				sortable: true,
				formatter : function(value) {
					return new Date(value).format("yyyy-MM-dd hh:mm:ss");
				},
			},
			{
				title : [[#{activity.end.time}]],
				field : "endLong",
				sortable: true,
				formatter : function(value) {
					if(new Date().getTime()>value){
						return new Date(value).format("yyyy-MM-dd hh:mm:ss")+'-'+'<b style="color:gray">'+[[#{gmtool.cdk.status.due}]]+'</b>';
					}
					return new Date(value).format("yyyy-MM-dd hh:mm:ss");
				},
			},
			{
				title : [[#{activity.shop.number}]],
				field : "putrush",
				sortable: true,
				formatter:function(value){
					return value;
				},
				editable : {
					url : "/advertisement/update",
					validate : function(value) {
						if(value == ""){
							return "not null!";
						}
					},
					error : function(response, newValue) {
					    alert("error:" + newValue);
					}
				}
			},
			{
				title : [[#{sys.isenable}]],
				field : "state",
				sortable: true,
				formatter:function(value){
					if(value){
						return '<b style="color:green">'+[[#{activity.recruit.state.open}]]+'</b>';
					}else{
						return '<b style="color:red">'+[[#{activity.recruit.state.close}]]+'</b>';
					}
				}
			},
			{
				title : [[#{sys.operate}]],
				field : "id",
				align : "center",
				formatter : function(value) {
					var	formatter = '<div class="btn-group hidden-xs"><button type="button" class="btn btn-xs btn-primary" onclick="edit(\''
										+ value + '\')" th:text="#{sys.edit}">编辑</button>';
						formatter += '<button type="button" class="btn btn-xs btn-danger" onclick="deleteData(\''
										+ value + '\')"  th:text="#{sys.delete}">删除</button></div>';
					return formatter;
					},
				} 
			]
	});
}
function edit(activityId){
	$("#addForm")[0].reset();
	$("#addForm").validate({
		submitHandler:function(form){
			onSave();
        }
	}).resetForm();
	$("#activityId").val(activityId);
	initDataTimePicker();
	var data = table.bootstrapTable("getRowByUniqueId", activityId);
	if(!data.allZone){
		editZone(data.zoneList);
	}
	editDataTimePicker(data);
	if(data.allZone){
		$("#allZoneTrue").iCheck("check");
	}else{
		$("#allZoneFalse").iCheck("check");
	}
	if(data.state){
		$("#stateTrue").iCheck("check");
	}else{
		$("#stateFalse").iCheck("check");
	}
	$("#stage").val(data.stage);
	$("#name").val(data.name);
	$("#imgDiv").find(" img").attr("src",data.src);
	$("#putrush").val(data.putrush);
	$("#addModal").modal("show");
}
function editZone(zoneList){
	var data=loadZonePickList();
	var zoneData=[];
	var zoneNames={};
	$.each(data,function(index,val){
		zoneNames[val.id]=val.text;
		if(!($.inArray(val.id, zoneList)>=0)){
			zoneData.push(val);
		}
	});
	$.each(zoneList,function(index,id){
		var map={};
		map["id"] = id;
		map["text"] = zoneNames[id];
		map["option"] = "selected";
		zoneData.push(map);
	}); 
	$("#zonelist").empty();
	$("#zonelist").pickList({data: zoneData,add:true});
}
function editDataTimePicker(data){
	$("#startDatetimepicker").val(new Date(data.startLong).format("yyyy-MM-dd hh:mm:ss"));
	$("#endDatetimepicker").val(new Date(data.endLong).format("yyyy-MM-dd hh:mm:ss"));
}
function deleteData(itemId){
	swal({
		title : [[#{sys.confirm.title}]],
		text : [[#{sys.confirm.text}]],
		type : "warning",
		showCancelButton : true,
		confirmButtonColor : "#DD6B55",
		confirmButtonText : [[#{sys.confirm.confirmtext}]],
		cancelButtonText : [[#{sys.confirm.canceltext}]],
		closeOnConfirm: false
	}, function(isConfirm) {
		if (isConfirm) {
			gameAjax({
				url : "/advertisement/delete",
				data:"id="+itemId,
				callback : function(val) {
					swal([[#{sys.delete.success}]],"","success");
					table.bootstrapTable("refresh");
				}
			});
		}
	})
}
</script>
</html>