<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/include::header">
</head>
<head>
	<link th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/autocompleter/jquery.autocompleter.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/pickList/pickList.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/bootstrap-table/extensions/editable/bootstrap-editable.css}" rel="stylesheet"/>
	<link th:href="@{/static/css/plugins/colpick/colpick.css}" rel="stylesheet"/>
	
	<script th:src="@{/static/js/plugins/colpick/colpick.js}"></script>	
    <script th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table.js}"></script>
	<script th:src="@{'/static/js/plugins/bootstrap-table/locale/bootstrap-table-'+${#ctx.locale.language}+'.min.js'}"></script>
	<script th:src="@{/static/js/plugins/autocompleter/jquery.autocompleter.min.js}"></script>
	<script th:src="@{/static/js/plugins/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
	<script th:src="@{/static/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{'/static/js/plugins/validate/messages_'+${#ctx.locale.language}+'.min.js'}"></script>
	<script th:src="@{/static/js/plugins/pickList/pickList.js}"></script>
	<script th:src="@{/static/js/plugins/iCheck/icheck.min.js}"></script>
	<script th:src="@{/static/js/plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.min.js}"></script>
	<script th:src="@{/static/js/plugins/bootstrap-table/extensions/editable/bootstrap-editable.min.js}"></script>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<div class="btn-group hidden-xs"
					th:replace="fragments/include::toolbar(true,false)"></div>
			</div>
			<div class="ibox-content">
				<table id="panelTable" class="table-striped" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	<div class="modal fade" id="addModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="form-horizontal" id="addForm">
					<input type="hidden" name="activityId" id="activityId" value="" />
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h3 class="modal-title" th:text="#{sys.add}+#{activity.recruit}">招募</h3>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{sys.zone.select}">区服：</label>
							<div class="col-sm-7">
								<div id="zonelist"></div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{sys.gamezone.status}">状态</label>
							<div class="col-sm-7">
								<label class="radio-inline i-checks"> 
									<input type="radio"  checked="checked"  value="true" id="stateTrue" name="state" th:text="#{activity.recruit.state.open}" />
								</label> 
								<label class="radio-inline i-checks"> 
									<input type="radio" value="false" id="stateFalse" name="state" th:text="#{activity.recruit.state.close}" />
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.name}">名称：</label>
							<div class="col-sm-7">
								<input type="text" name="name" id="name" class="form-control" required="required" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.shop.currency.type}">出售货币类型：</label>
							<div class="col-sm-7">
								<select class="form-control" name="cost" id="cost">
									<option value="diamond" th:text="#{sys.item.diamond}">钻石</option>
									<option value="gold" th:text="#{sys.item.gold}">金币</option>
									<option value="item" th:text="#{sys.item}">道具</option>
								</select>
							</div>
						</div>
						<div class="form-group" id="itemShow" style="display: none;">
							<label class="col-sm-3 control-label"></label>
							<div class="col-sm-7">
								<input placeholder="选择道具" class="form-control itemList" required="required" name="itemId" id="itemId"  th:placeholder="#{sys.item.select}" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{sys.time}">时间：</label>
							<div class="col-sm-7" id="datepicker">
								<div class="input-daterange input-group">
									<input type="text" name="startDate" class="form-control" id="startDatetimepicker" />
									<span class="input-group-addon">-</span> 
									<input type="text" name="endDate" class="form-control" id="endDatetimepicker" />
								</div>
							</div>
						</div>

						<div class="hr-line-dashed"></div>

						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.recruit.rare.probability}">稀有获取概率模式：</label>
							<div class="col-sm-7">
								<select class="form-control" name="proType" id="proType">
									<option value="1" th:text="#{activity.recruit.average.type}">平均型</option>
									<option value="2" th:text="#{activity.recruit.probabilityUp.type}">成长型</option>
								</select>
							</div>
						</div>
						<div class="form-group" id="probabilityShow">
							<label class="col-sm-3 control-label" th:text="#{activity.recruit.probability}" >成长概率基础：</label>
							<div class="col-sm-2">
								<input type="text" id="probability" name="probability" class="form-control"  required="required" />
							</div>
						</div>
						<div class="form-group" id="probabilityUpShow" style="display: none;">
							<label class="col-sm-3 control-label" th:text="#{activity.recruit.probabilityUp}" >概率成长：</label>
							<div class="col-sm-2">
								<input type="text" value="0" id="probabilityUp" name="probabilityUp" class="form-control" required="required" />
							</div>
						</div>
						
						<div class="hr-line-dashed"></div>

						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.recruit.safetyTimes}">保底间隔：</label>
							<div class="col-sm-2">
								<input type="text" value="20" id="safetyTimes" name="safetyTimes" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')" required="required" />
							</div>
						</div>

						<div class="hr-line-dashed"></div>

						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.recruit.is.times.limit}">限次：</label>
							<div class="col-sm-2">
								<select class="form-control" name="limitTimesType" id="limitTimesType">
									<option value="0" th:text="#{activity.recruit.no.times.limit}">不限次</option>
									<option value="1" th:text="#{activity.recruit.daily.times.limit}">每日限次</option>
									<option value="2" th:text="#{activity.recruit.total.times.limit}">总限次</option>
								</select>
							</div>
						</div>
						<div class="form-group" id="limitTimesDiv">
							<label class="col-sm-3 control-label" th:text ="#{activity.recruit.times.limit}">次数</label>
							<div class="col-sm-2" >
								<input type="text" value="0" id="limitTimes" name="limitTimes" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')" required="required"  />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.recruit.start.num.common}">初始普通卡牌数</label>
							<div class="col-sm-2">
								<input type="text" id="startB" name="startB" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')" required="required"  />
							</div>
							<label class="col-sm-3 control-label" th:text="#{activity.recruit.start.num.uncommon}">初始稀有卡牌数</label>
							<div class="col-sm-2">
								<input type="text" id="startA" name="startA" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')" required="required"  />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.recruit.every}">每</label>
							<div class="col-sm-2">
								<input type="text" id="everyTimesB" name="everyTimesB" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')" required="required"  />
							</div>
							<label class="col-sm-2 control-label" th:text="#{activity.recruit.add}">次抽取后增加</label>
							<div class="col-sm-2">
								<input type="text" id="addB" name="addB" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')" required="required"  />
							</div>
							<label class="col-sm-0 control-label" th:text="#{activity.recruit.common.card}">张普通卡牌</label>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.recruit.every}">每</label>
							<div class="col-sm-2">
								<input type="text" id="everyTimesA" name="everyTimesA" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')" required="required"  />
							</div>
							<label class="col-sm-2 control-label" th:text="#{activity.recruit.add}">次抽取后增加</label>
							<div class="col-sm-2">
								<input type="text" id="addA" name="addA" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')" required="required"  />
							</div>
							<label class="col-sm-0 control-label" th:text="#{activity.recruit.uncommon.card}">张稀有卡牌</label>
						</div>
						<div class="hr-line-dashed"></div>

						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.recruit.is.one}">是否单抽：</label>
							<div class="col-sm-7 btn-group" id="isOneRecruitDiv">
								<label class="radio-inline i-checks isOneRecruit"> 
									<input type="radio"  checked="checked"  value="true" id="oneRecruitTrue" name="isOneRecruit" th:text="#{sys.true}" />
								</label> 
								<label class="radio-inline i-checks isOneRecruit"> 
									<input type="radio" value="false" id="oneRecruitFalse" name="isOneRecruit" th:text="#{sys.false}" />
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.recruit.is.continuous}">是否十连抽：</label>
							<div class="col-sm-7 btn-group" id="continuousDiv">
								<label class="radio-inline i-checks continuous"> 
									<input type="radio" value="true" id="continuous1" name="continuous" th:text="#{sys.true}" />
								</label> 
								<label class="radio-inline i-checks continuous"> 
									<input type="radio" value="false" id="continuous2" name="continuous" th:text="#{sys.false}" />
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.recruit.is.discount}">首抽折扣：</label>
							<div class="col-sm-7 btn-group" id="discountDiv">
								<label class="radio-inline i-checks discount"> 
									<input type="radio"  value="true" id="discount1" name="discount" th:text="#{sys.true}" />
								</label> 
								<label class="radio-inline i-checks discount"> 
									<input type="radio"  value="false" id="discount2" name="discount" th:text="#{sys.false}" />
								</label>
							</div>
						</div>
						<div class="form-group" id="oneRecruitPriceDiv1">
							<label class="col-sm-3 control-label" th:text="#{activity.recruit.alonePrice1}">单独第一次价格：</label>
							<div class="col-sm-2">
								<input type="text" id="alonePrice1" name="alonePrice1" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')" required="required" />
							</div>
							<label class="col-sm-3 control-label" th:text="#{activity.recruit.alonePrice2}">单独第二次价格：</label>
							<div class="col-sm-2">
								<input type="text" id="alonePrice2" name="alonePrice2" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')" required="required" />
							</div>
						</div>
						<div class="form-group" id="oneRecruitPriceDiv2">
							<label class="col-sm-3 control-label" th:text="#{activity.recruit.alonePrice.price}">单独正常价格：</label>
							<div class="col-sm-7">
								<input type="text" id="alonePrice3" name="alonePrice3" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')" required="required" />
							</div>
						</div>
						<div class="form-group" id="tenRecruitPriceDiv1">
							<label class="col-sm-3 control-label" th:text="#{activity.recruit.continuousPrice1}">十连第一次价格：</label>
							<div class="col-sm-2">
								<input type="text" id="continuousPrice1" name="continuousPrice1" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')" required="required" />
							</div>
							<label class="col-sm-3 control-label" th:text="#{activity.recruit.continuousPrice2}">十连第二次价格：</label>
							<div class="col-sm-2">
								<input type="text" id="continuousPrice2" name="continuousPrice2" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')" required="required" />
							</div>
						</div>
						<div class="form-group" id="tenRecruitPriceDiv2">
							<label class="col-sm-3 control-label" th:text="#{activity.recruit.continuousPrice.price}">十连正常价格：</label>
							<div class="col-sm-7">
								<input type="text" id="continuousPrice3" name="continuousPrice3" class="form-control" onkeyup="this.value=this.value.replace(/\D/g,'')" required="required" />
							</div>
						</div>
						
						<div class="hr-line-dashed"></div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="A+#{activity.recruit.content}">A池内容：</label>
							<div class="col-sm-7" >
	      						<div class="form-group">
									<div class="col-sm-4" style="padding-right: 0px;">
										<input placeholder="选择道具" class="form-control itemList" id="itemIdA" th:placeholder="#{sys.item.select}"/> 
									</div>
									<div class="col-sm-2" style="padding-left: 0px;padding-right: 0px;">
                            			<div class="input-group">
                                			<input type="text" placeholder="数量" class="form-control" id="amountA" onkeyup="this.value=this.value.replace(/\D/g,'')" autocomplete="off" th:placeholder="#{sys.item.amount}"/> 
                            			</div>
                            		</div>
                            		<div class="col-sm-2" style="padding-left: 0px;padding-right: 0px;">
                            			<div class="input-group">
                                			<input type="text" placeholder="填充权重" class="form-control" id="gotoWeightA" onkeyup="this.value=this.value.replace(/\D/g,'')" autocomplete="off" th:placeholder="#{activity.recruit.goto.weight}"/> 
                            			</div>
                            		</div>
                            		<div class="col-sm-2" style="padding-left: 0px;padding-right: 0px;">
                            			<div class="input-group">
                                			<input type="text" placeholder="抽取权重" class="form-control" id="getWeightA" onkeyup="this.value=this.value.replace(/\D/g,'')" autocomplete="off" th:placeholder="#{activity.recruit.get.weight}"/> 
                            			</div>
                            		</div>
                            		<div class="col-sm-2" style="padding-left: 0px;">
                            			<div class="input-group">
                                			<span class="input-group-btn">
                                				<button type="button" class="btn btn-info" onclick="addItemA()" th:text="#{sys.add}">添加</button> 
                                			</span>
                            			</div>
                            		</div>
                            	</div>
                        	</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label"></label>
							<div class="col-sm-7">
								<table id="itemAtable" class="table-striped" data-toggle="table" data-unique-id="heroId" data-mobile-responsive="true">
									<thead>
										<tr>
											<th data-field="heroId">ID</th>
											<th data-field="name" th:text="#{sys.item.name}">name</th>
											<th data-field="amount" th:text="#{sys.item.amount}">数量</th>
											<th data-field="gotoWeight" th:text="#{activity.recruit.goto.weight}">填充权重</th>
											<th data-field="getWeight" th:text="#{activity.recruit.get.weight}">抽取权重</th>
											<th data-field="remove" th:text="#{sys.operate}">操作</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="B+#{activity.recruit.content}">B池内容：</label>
							<div class="col-sm-7" >
	      						<div class="form-group">
									<div class="col-sm-4" style="padding-right: 0px;">
										<input placeholder="选择道具" class="form-control itemList" id="itemIdB" th:placeholder="#{sys.item.select}"/> 
									</div>
									<div class="col-sm-2" style="padding-left: 0px;padding-right: 0px;">
                            			<div class="input-group">
                                			<input type="text" placeholder="数量" class="form-control" id="amountB" onkeyup="this.value=this.value.replace(/\D/g,'')" autocomplete="off" th:placeholder="#{sys.item.amount}"/> 
                            			</div>
                            		</div>
                            		<div class="col-sm-2" style="padding-left: 0px;padding-right: 0px;">
                            			<div class="input-group">
                                			<input type="text" placeholder="填充权重" class="form-control" id="gotoWeightB" onkeyup="this.value=this.value.replace(/\D/g,'')" autocomplete="off" th:placeholder="#{activity.recruit.goto.weight}"/> 
                            			</div>
                            		</div>
                            		<div class="col-sm-2" style="padding-left: 0px;padding-right: 0px;">
                            			<div class="input-group">
                                			<input type="text" placeholder="抽取权重" class="form-control" id="getWeightB" onkeyup="this.value=this.value.replace(/\D/g,'')" autocomplete="off" th:placeholder="#{activity.recruit.get.weight}"/> 
                            			</div>
                            		</div>
                            		<div class="col-sm-2" style="padding-left: 0px;">
                            			<div class="input-group">
                                			<span class="input-group-btn">
                                				<button type="button" class="btn btn-info" onclick="addItemB()" th:text="#{sys.add}">添加</button> 
                                			</span>
                            			</div>
                            		</div>
                            	</div>
                        	</div>
						</div>

						<div class="form-group">
							<label class="col-sm-3 control-label"></label>
							<div class="col-sm-7">
								<table id="itemBtable" class="table-striped" data-toggle="table" data-unique-id="heroId" data-mobile-responsive="true">
									<thead>
										<tr>
											<th data-field="heroId">ID</th>
											<th data-field="name" th:text="#{sys.item.name}">name</th>
											<th data-field="amount" th:text="#{sys.item.amount}">数量</th>
											<th data-field="gotoWeight" th:text="#{activity.recruit.goto.weight}">添加权重</th>
											<th data-field="getWeight" th:text="#{activity.recruit.goto.weight}">获取权重</th>
											<th data-field="remove" th:text="#{sys.operate}">操作</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
						
						<div class="hr-line-dashed"></div>
						<div class="form-group " style="padding-left:10%">
							<div class="col-sm-3">
								<button type="button" class="btn btn-primary" id="" th:text="#{activity.recruit.add.desc}" onclick="addOneItem()">添加</button>
							</div>
						</div>
						<div class="form-group contentClass" >
							<div class="" style="display: none;" >
									<div class="form-group">
									<label class="col-sm-3 control-label"></label>
									<div class="col-sm-7">
										<textarea name="descList" class="form-control" style="resize: vertical;"></textarea>
									</div>
									<div class="col-sm-1 ColorTipDiv">
										<input name="rgbList"  type="hidden" value="0,0,0" />
										<div class="color-box" style="width: 30px; height: 30px;z-index:9999"></div>
									</div>
									<div class="col-sm-0">
										<button type="button" class="btn btn-primary btn-danger" id="" th:text="#{sys.delete}" onclick="removeItem(event)">删除</button>
									</div>
								</div>
							</div>
						     <!-- 文本内容 -->
						</div>
						<div class="form-group "   >
						     <!-- 预览内容 -->
						    <label class="col-sm-3 control-label"  th:text="#{notice.preview}">预览</label>
							<div class="col-sm-7 contentShow" >
							</div>
						</div>
						
						<div class="hr-line-dashed"></div>
						
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{activity.recruit.img.src}" >输入图片src</label>
							<div class="col-sm-5">
								<input type="text" id="src" name="src" class="form-control"  />
							</div>
						</div>
						<div class="form-group" id="imgDiv" >
							<div  class="col-sm-10 control-label" style="padding-left:20%;" >
								<img style="width:100%;height:100% " />
							</div>
						</div>
							
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary"
							th:text="#{sys.save}">保存</button>
					</div>
				</form>
			</div>
		</div>
	</div>
<!-- 取色模板 -->
<div class="parent" id="itemTample" style="display: none;">
	<div class="form-group">
		<label class="col-sm-3 control-label"></label>
		<div class="col-sm-7">
			<textarea name="descList" class="form-control" style="resize: vertical;"></textarea>
		</div>
		<div class="col-sm-1 ColorTipDiv">
			<input name="rgbList" type="hidden" value="232,193,138" />
			<div class="color-box" style="width: 30px; height: 30px;z-index:9999"></div>
		</div>
		<div class="col-sm-0">
			<button type="button" class="btn btn-primary btn-danger" id="" th:text="#{sys.delete}" onclick="removeItem(event)">删除</button>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
$(".modal-dialog").css({
	width:$(this).width()/2>600?$(this).width()/2:$(this).width()-100
});
$(window).resize(function(){
	$(".modal-dialog").css({
		width:$(document.body).width()/2>600?$(document.body).width()/2:$(document.body).width()-100
	});
});
//文本输入框数量初始化
itemNum = 1;

//初始化一个文本
function initColorBox(num,color){
	if(color==null){
		color='#000000';
	}else{
		color="rgb("+color+")";
	}
	var colorBoxId = "#color-box-"+itemNum;
	var contentText = "#content-id-"+itemNum;
	$(contentText).css('color',color);
	$(colorBoxId).colpick({

		colorScheme:'dark',

		layout:'rgbhex',
		color:color,
		onShow: function (colpkr) {
			colpkr.style.cssText=colpkr.style.cssText+";z-index:9999";
			$(colpkr).fadeIn(500);
			return false;

		},
		onHide: function (colpkr) {
			$(colpkr).fadeOut(500);
			return false;
		},
		onSubmit:function(hsb,hex,rgb,el) {
			$(contentText).css('color','#'+hex);
			$(el).css('background-color', '#'+hex);

			$(el).colpickHide();
			var rgb=rgb.r+","+rgb.g+","+rgb.b;
			$(el).parent(".ColorTipDiv").children("input").val(rgb);
			previewShow();
		}
	}).css('background-color',color ); //默认颜色
}
//添加一个文本
function addOneItem(text,color){
	if(color==null){
		color="0,0,0";
	}
	if(text==null){
		text="";
	}
	var colorBoxId = "color-box-"+itemNum;
	var contentText = "content-id-"+itemNum;
	var cloneItem = $("#itemTample").clone();
	cloneItem.removeAttr("id");
	cloneItem.addClass("oneItems");
	cloneItem.find("textarea").first().addClass("hpf");
	cloneItem.find("textarea").attr("id",contentText);
	cloneItem.find("textarea").val(text);
	cloneItem.find("input").val(color);
	cloneItem.find(".color-box").attr("id",colorBoxId);
	cloneItem.find(".removeItem").show();
	cloneItem.show();
	$(".contentClass").append(cloneItem);
	//预览事件
	preview(cloneItem);
	initColorBox(itemNum,color);
	itemNum++;
}
//移除一个文本
function removeItem(event){
	//$(".contentClass div.oneItems:last").remove();
	$(event.target).first().parents("div.parent").remove();
	previewShow();
} 
//预览事件 
/*<![CDATA[*/
function preview(parent){
	
	parent.find(" textarea").keyup(function(){
		previewShow();
		
	});
}
//预览
function previewShow(){
	var parentList =$(".contentClass").find(".parent");
	var html="<div style='word-wrap:break-word; word-break:break-all;'><p>";
	$.each(parentList,function(index,parentDiv){
		html+="<span style='color:rgb("+$(parentDiv).find("input").val()+")'>"+$(parentDiv).find("textarea").val().replace(/[ ]/g,"&nbsp;")+"</span>";
	});
	html+="</p></div>";
	html = transferString(html);
	$(".contentShow").empty();
	$(".contentShow").append(html);
}

//替换空格 回车 换行
function transferString(str){
	try{  
		str=str.replace(/\r\n/g,"<BR>"); 
        str=str.replace(/\n/g,"<BR>");  
    }catch(e) {  
        alert(e.message);  
    }  
    return str;
}
 /*]]>*/

$(function(){
	table=$("#panelTable");
	initTable();
	$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})
	itemAtable=$("#itemAtable");
	itemBtable=$("#itemBtable");
	itemNames();
	itemName=window.itemAll;
	zoneMap=loadZoneMap();
	//单选按钮改变事件
	redioChange();
	//次数限制
	$("#limitTimesDiv").hide();	
	$("#limitTimes").val(0);
	$("#limitTimesType").change(function(){
		var value = $(this).val();
		if(value!="0"){
			$("#limitTimesDiv").show();			
			$("#limitTimes").val("");	
		}else{
			$("#limitTimesDiv").hide();	
			$("#limitTimes").val(0);	
		}
	});
	$("#probabilityUp").val(0);
	//加载图片事件
	$("#src").keyup(function(){
		$("#imgDiv").find(" img").attr("src",$(this).val());
	});
});
//单选按钮改变事件
function redioChange(){
	//是否单抽
	$(".isOneRecruit").on('ifChecked',function(event){
		var isOneRecruit =$(event.target).val();
		if(isOneRecruit=="true" ){ 
			if($("#discountDiv input:radio:checked").val()=="true"){
				$("#oneRecruitPriceDiv1").show();
				$("#alonePrice1").val("");
				$("#alonePrice2").val("");
			}
			$("#oneRecruitPriceDiv2").show();
			$("#alonePrice3").val("");
		}else{
			$("#oneRecruitPriceDiv1").hide();
			$("#oneRecruitPriceDiv2").hide();
			$("#alonePrice1").val(0);
			$("#alonePrice2").val(0);
			$("#alonePrice3").val(0);
		}
	});
	//是否十连抽
	$(".continuous").on('ifChecked',function(event){
		var continuous =$(event.target).val();
		if(continuous=="true"){ 
			if($("#discountDiv input:radio:checked").val()=="true"){
				$("#tenRecruitPriceDiv1").show();
				$("#continuousPrice1").val("");
				$("#continuousPrice2").val("");
			}
			$("#tenRecruitPriceDiv2").show();
			$("#continuousPrice3").val("");
		}else{
			$("#tenRecruitPriceDiv1").hide();
			$("#tenRecruitPriceDiv2").hide();
			$("#continuousPrice1").val(0);
			$("#continuousPrice2").val(0);
			$("#continuousPrice3").val(0);
		}
	});
	//是否首抽折扣
	$(".discount").on('ifChecked',function(event){
		var discount =$(event.target).val();
		if(discount=="true"){ 
			if($("#continuousDiv input:radio:checked").val()=="true"){
				$("#tenRecruitPriceDiv1").show();
				$("#continuousPrice1").val("");
				$("#continuousPrice2").val("");
			}
			if($("#isOneRecruitDiv input:radio:checked").val()=="true"){
				$("#oneRecruitPriceDiv1").show();
				$("#alonePrice1").val("");
				$("#alonePrice2").val("");
			}
		}else{
			$("#oneRecruitPriceDiv1").hide();
			$("#tenRecruitPriceDiv1").hide();
			$("#alonePrice1").val(0);
			$("#alonePrice2").val(0);
			$("#continuousPrice1").val(0);
			$("#continuousPrice2").val(0);
		}
	});
}


//显示添加表单
function add() {
	$("#addForm")[0].reset();
	$("#imgDiv").find(' img').attr('src');
	itemAtable.bootstrapTable("load", []);
	itemBtable.bootstrapTable("load", []);
	$("#addForm").validate({
		submitHandler:function(form){
			onSave();
        }
	}).resetForm();
	$("#activityId").val("");
	//初始化icheck选项
	$("#continuous1").iCheck('check');
	$("#continuous1").parent("div").addClass("checked"); //改变选中颜色
	$("#continuous2").parent("div").removeClass("checked"); //改变选中颜色
	
	$("#discount1").iCheck('check');
	$("#discount1").parent("div").addClass("checked"); //改变选中颜色
	$("#discount2").parent("div").removeClass("checked"); //改变选中颜色
	//清除多余文本
	$(".contentClass").find(".parent").remove();
	//初始化一个文本
	addOneItem();
	//初始化预览
	previewShow();
	//初始化区服
	initZone();
	initDataTimePicker();
	initItemInput($(".itemList"));
	$("#addModal").modal("show");
	
}
function initZone(){
	var data=loadZonePickList();
	$("#zonelist").empty();
	$("#zonelist").pickList({data: data,add:true});
}
function initDataTimePicker(){
	$("#startDatetimepicker").datetimepicker({
	    format : "yyyy-mm-dd hh:ii:ss",
	    autoclose : true,
	    todayBtn :true,
	    endDate : new Date()
	});
	$("#endDatetimepicker").datetimepicker({
	    format : "yyyy-mm-dd hh:ii:ss",
	    autoclose : true,
	    todayBtn :true,
	});
	var date=new Date();
}
$("#cost").change(function(){
	if($("#cost").val()=="item"){
		//道具选择
		initItemInput($(".itemList"));
		$("#itemShow").show();
	}else{
		$("#itemId").val("");
		$("#itemShow").hide();
	}
});
$("#proType").change(function(){
	if($("#proType").val()==1){
		$("#probabilityUpShow").hide();
		$("#probabilityUp").val(0);
	}else{
		$("#probabilityUpShow").show();
		$("#probabilityUp").val('');
	}
});
function addItemA(){
	var itemId=$("#itemIdA").val();
	var amount=$("#amountA").val();
	var gotoWeightA=$("#gotoWeightA").val();
	var getWeightA=$("#getWeightA").val();
	
	if(itemId.length==0||amount==0||amount.length==0||gotoWeightA==0||gotoWeightA.length==0||getWeightA==0||getWeightA.length==0){
		return;
	}
	if(!itemName.hasOwnProperty(itemId)){
		$("#itemIdA").val("");
		return;
	}
	amount = parseInt(amount);
	//清空文本框
	$("#itemIdA").val("");
	$("#amountA").val("");
	$("#gotoWeightA").val("");
	$("#getWeightA").val("");
	
	var tableData=itemAtable.bootstrapTable('getData');
	var isAdd=true; //true id重复只增加数量
	$.each(tableData,function(index,val){
		if(val.heroId==itemId){
			amount+=parseInt(val.amount);
			tableData[index]["amount"]=amount;
			tableData[index]["gotoWeight"]=gotoWeightA;
			tableData[index]["getWeight"]=gotoWeightA;
			isAdd=false;
		}
	});
	if(isAdd){
		var remove= '<a class="remove" href="javascript:void(0)" title="Remove" onclick="removeItemA(\''+itemId+'\')"><i class="glyphicon glyphicon-remove"></i></a>';
		var name = itemName[itemId];
		data=[];
		data.push({heroId:itemId,name:name,amount:amount,gotoWeight:gotoWeightA,getWeight:getWeightA,remove:remove});
		itemAtable.bootstrapTable("append", data);
	}else{
		itemAtable.bootstrapTable('load', tableData);
	}
}
function addItemB(){
	var itemId=$("#itemIdB").val();
	var amount=$("#amountB").val();
	var gotoWeight=$("#gotoWeightB").val();
	var getWeight=$("#getWeightB").val();
	
	if(itemId.length==0||amount==0||amount.length==0||gotoWeight==0||gotoWeight.length==0||getWeight==0||getWeight.length==0){
		return;
	}
	if(!itemName.hasOwnProperty(itemId)){
		$("#itemIdB").val("");
		return;
	}
	amount = parseInt(amount);
	//清空文本框
	$("#itemIdB").val("");
	$("#amountB").val("");
	$("#gotoWeightB").val("");
	$("#getWeightB").val("");
	
	var tableData=itemBtable.bootstrapTable('getData');
	var isAdd=true; //true id重复只增加数量
	$.each(tableData,function(index,val){
		if(val.heroId==itemId){
			amount+=parseInt(val.amount);
			tableData[index]["amount"]=amount;
			tableData[index]["gotoWeight"]=parseInt(gotoWeight);
			tableData[index]["getWeight"]=parseInt(getWeight);
			isAdd=false;
		}
	});
	if(isAdd){
		var remove= '<a class="remove" href="javascript:void(0)" title="Remove" onclick="removeItemB(\''+itemId+'\')"><i class="glyphicon glyphicon-remove"></i></a>';
		var name = itemName[itemId];
		data=[];
		data.push({heroId:itemId,name:name,amount:amount,gotoWeight:gotoWeight,getWeight:getWeight,remove:remove});
		itemBtable.bootstrapTable("append", data);
	}else{
		itemBtable.bootstrapTable('load', tableData);
	}
}
function removeItemA(itemId){
	itemAtable.bootstrapTable('removeByUniqueId', itemId);
}
function removeItemB(itemId){
	itemBtable.bootstrapTable('removeByUniqueId', itemId);
}
function initTable() {
	table.bootstrapTable({
		ajax : function(params) {
			gameBootstrapTable("/recruit/list", params);
		},
		queryParams : function(params) {
			var query = {
				limit : params.limit,
				offset : params.offset,
				order :params.order,
				sort :params.sort,
				condition : params.search
			};
			return query;
		},
		pagination : true,
		detailView:true,
		detailFormatter:function(index, row){
			var text='<table class="table">';
			//区服
			var zone="";
			$.each(row.zoneList,function(index,zoneId){
				zone+=zoneId+"-"+zoneMap[zoneId]+"&nbsp;,&nbsp;";
			});
			text+='<tr><td><b>'+[[#{sys.zone.select}]]+'</b></td><td colspan="11">'+zone+'</td></tr>';
			text+='<tr>';
			if(row.proType==1){
				text+='<td colspan="2"><b>'+[[#{activity.recruit.rare.probability}]]+'</b></td><td colspan="2">'+[[#{activity.recruit.average.type}]]+'</td>';
				text+='<td colspan="2"><b>'+[[#{activity.recruit.average}]]+'</b></td><td colspan="2">'+row.probability+'</td>';
			}else{
				text+='<td colspan=""><b>'+[[#{activity.recruit.rare.probability}]]+'</b></td><td colspan="2">'+[[#{activity.recruit.probabilityUp.type}]]+'</td>';
				text+='<td colspan=""><b>'+[[#{activity.recruit.probability}]]+'</b></td><td colspan="">'+row.probability+'</td>';
				text+='<td colspan=""><b>'+[[#{activity.recruit.probabilityUp}]]+'</b></td><td colspan="">'+row.probabilityUp+'</td>';
			}
			var safetyTimes =row.safetyTimes;
			if(row.safetyTimes==0){
				safetyTimes=[[#{sys.not}]];
			}
			text+='<td colspan="2"><b>'+[[#{activity.recruit.safetyTimes}]]+'</b></td><td colspan="2">'+safetyTimes+'</td>';
			text+='</tr>';
			
			text+='<tr>';
			var oneRecruit="";
			if(row.isOneRecruit){
				oneRecruit=[[#{sys.true}]];
			}else{
				oneRecruit=[[#{sys.false}]];
			}
			text+='<td colspan="2"><b>'+[[#{activity.recruit.is.one}]]+'</b></td><td colspan="2">'+oneRecruit+'</td>'
			var continuous="";
			if(row.continuous){
				continuous=[[#{sys.true}]];
			}else{
				continuous=[[#{sys.false}]];
			}
			text+='<td colspan="2"><b>'+[[#{activity.recruit.is.continuous}]]+'</b></td><td colspan="2">'+continuous+'</td>';
			var discount="";
			if(row.discount){
				discount=[[#{sys.true}]];
			}else{
				discount=[[#{sys.false}]];
			}
			text+='<td colspan="2"><b>'+[[#{activity.recruit.is.discount}]]+'</b></td><td colspan="2">'+discount+'</td>';
			text+='</tr><tr>'
			text+='<td><b>'+[[#{activity.recruit.alonePrice1}]]+'</b></td><td>'+row.alonePrice1+'</td>';
			text+='<td><b>'+[[#{activity.recruit.alonePrice2}]]+'</b></td><td>'+row.alonePrice2+'</td>';
			text+='<td><b>'+[[#{activity.recruit.alonePrice.price}]]+'</b></td><td>'+row.alonePrice3+'</td>';
			text+='<td><b>'+[[#{activity.recruit.continuousPrice1}]]+'</b></td><td>'+row.continuousPrice1+'</td>';
			text+='<td><b>'+[[#{activity.recruit.continuousPrice2}]]+'</b></td><td>'+row.continuousPrice2+'</td>';
			text+='<td><b>'+[[#{activity.recruit.continuousPrice.price}]]+'</b></td><td>'+row.continuousPrice3+'</td>';
			text+='</tr>';
			
			text+='<tr>';
			var limitType="";
			if(row.limitTimesType==0){
				limitType=[[#{activity.recruit.no.times.limit}]]
				text+='<td><b>'+[[#{activity.recruit.is.times.limit}]]+'</b></td><td>'+limitType+'</td>';
			}else {
				if(row.limitTimesType==1){
					limitType=[[#{activity.recruit.daily.times.limit}]]
				}else{
					limitType=[[#{activity.recruit.total.times.limit}]]
				}
				text+='<td><b>'+[[#{activity.recruit.is.times.limit}]]+'</b></td><td>'+limitType+'</td>';
				text+='<td><b>'+[[#{activity.recruit.times.limit}]]+'</b></td><td>'+row.limitTimes+'</td>';
			}
			text+='<td><b>'+[[#{activity.recruit.start.num.common}]]+'</b></td><td>'+row.startB+'</td>';
			text+='<td><b>'+[[#{activity.recruit.start.num.uncommon}]]+'</b></td><td>'+row.startA+'</td>';
			text+='<td><b>'+[[#{activity.recruit.every}]]+row.everyTimesA+[[#{activity.recruit.add}]]+row.addA+[[#{activity.recruit.uncommon.card}]]+'</b></td>';
			text+='<td><b>'+[[#{activity.recruit.every}]]+row.everyTimesB+[[#{activity.recruit.add}]]+row.addB+[[#{activity.recruit.common.card}]]+'</b></td>';
			text+='</tr>';
			//A池数据
			text+='<tr><td colspan="8"><b>A'+[[#{activity.recruit.content}]]+'</b></td></tr>'
			text+='<tr><table class="table">';
			text+='<thead><tr><td>ID</td><td>'+[[#{sys.item.amount}]]+'</td><td>'+[[#{activity.recruit.goto.weight}]]+'</td><td>'+[[#{activity.recruit.get.weight}]]+'</td></tr></thead>'
			$.each(row.aData,function(index,val){
				text+='<tr><td>'+val.heroId+'</td><td>'+val.amount+'</td><td>'+val.gotoWeight+'</td><td>'+val.getWeight+'</td></tr>';
			});
			text+='</table></tr>';
			//B池数据
		 	text+='<tr><td colspan="8"><b>B'+[[#{activity.recruit.content}]]+'</b></td></tr>'
			text+='<tr><table class="table">';
			text+='<thead><tr><td>ID</td><td>'+[[#{sys.item.amount}]]+'</td><td>'+[[#{activity.recruit.goto.weight}]]+'</td><td>'+[[#{activity.recruit.get.weight}]]+'</td></tr></thead>'
			$.each(row.bData,function(index,val){
				text+='<tr><td>'+val.heroId+'</td><td>'+val.amount+'</td><td>'+val.gotoWeight+'</td><td>'+val.getWeight+'</td></tr>';
			});
			text+='</table></tr>'; 
			
			text+='</table>';
			return text;
		},
		uniqueId : "id",
/* 		sortName : "endTime",
		sortOrder : "desc", */
		idField : "id",
		sidePagination : "server",
		columns : [
			{
				title : "活动ID",
				field : "id",
			},
			{
				title : [[#{activity.name}]],
				field : "name",
				align : "center",
			},
			{
				title : [[#{activity.shop.currency.type}]],
				field : "cost",
				align : "center",
			},
			{
				title : [[#{activity.start.time}]],
				field : "startTime",
				sortable: true,
				formatter : function(value) {
					return new Date(value).format("yyyy-MM-dd hh:mm:ss");
				},
			},
			{
				title : [[#{activity.end.time}]],
				field : "endTime",
				sortable: true,
				formatter : function(value) {
					return new Date(value).format("yyyy-MM-dd hh:mm:ss");
				},
			},
			{
				title : [[#{activity.recruit.probability}]],
				field : "probability",
				formatter:function(value){
					return value*100+"%";
				}
			},
			{
				title : [[#{activity.recruit.safetyTimes}]],
				field : "safetyTimes",
				formatter:function(value){
					if(value==0){
						return [[#{sys.not}]];
					}
					return value;
				},
			
			},
			{
				title : [[#{sys.isenable}]],
				field : "state",
				formatter:function(value){
					return value?'<b style="color:green">'+[[#{activity.recruit.state.open}]]+'</b>':'<b style="color:red">'+[[#{activity.recruit.state.close}]]+'</b>'
				}
			},
			
			{
				title : [[#{sys.operate}]],
				field : "id",
				align : "center",
				formatter : function(value) {
					var	formatter = '<div class="btn-group hidden-xs"><button type="button" class="btn btn-xs btn-primary" onclick="edit(\''
										+ value + '\')" th:text="#{sys.edit}">编辑</button>';
						formatter += '<button type="button" class="btn btn-xs btn-danger" onclick="deleteData(\''
										+ value + '\')"  th:text="#{sys.delete}">删除</button></div>';
					return formatter;
					},
				} 
			]
	});
}
function onSave(){
	var id=$("#activityId").val();
	//时间校验
	var startDate=$("#startDatetimepicker").val();
	var endDate=$("#endDatetimepicker").val();
	if(startDate.length==0||endDate==0){
		swal("", [[#{activity.time.not.null}]], "warning");
		return;
	}
	
	var zonelist=$("#zonelist").getValues();
	if(zonelist.length==0){
		swal("", [[#{activity.zone.null}]], "warning");
		return;
	}
	 var tableDataA=itemAtable.bootstrapTable('getData');
	 if(tableDataA.length==0){
		 swal("", [[#{activity.recruit.swal.a.null}]], "warning");
	 }
	 var tableDataB=itemBtable.bootstrapTable('getData');
	 if(tableDataB.length==0){
		 swal("", [[#{activity.recruit.swal.b.null}]], "warning");
		 return;
		 return;
	 }
	 var aData=[];
	 $.each(itemAtable.bootstrapTable('getData'),function(index,val){
		 var temp={};
		 temp["heroId"]=val.heroId;
		 temp["amount"]=val.amount;
		 temp["gotoWeight"]=parseInt(val.gotoWeight);
		 temp["getWeight"]=parseInt(val.getWeight);
		 aData.push(temp);
	 });
	 var bData=[];
	 $.each(itemBtable.bootstrapTable('getData'),function(index,val){
		 var temp={};
		 temp["heroId"]=val.heroId;
		 temp["amount"]=val.amount;
		 temp["gotoWeight"]=parseInt(val.gotoWeight);
		 temp["getWeight"]=parseInt(val.getWeight);
		 bData.push(temp);
	 });
/*<![CDATA[*/
	var data=$("#addForm").serialize()+"&zoneList="+$("#zonelist").getValues()+"&data1="+JSON.stringify(aData)+"&data2="+JSON.stringify(bData);
	if(id!=null){
		data+="&id="+id;
	}
/*]]>*/
gameAjax({
		url : "/recruit/add",
		data:data,
		callback : function(val) {
			$("#addModal").modal("hide");
			table.bootstrapTable("refresh");
		}
	})
}
function edit(activityId){
	$("#addForm")[0].reset();
	$("#imgDiv").find(' img').attr("src");
	$("#addForm").validate({
		submitHandler:function(form){
			onSave();
        }
	}).resetForm();
	$("#activityId").val(activityId);
	initDataTimePicker();
	initItemInput($(".itemList"));
	var data = table.bootstrapTable("getRowByUniqueId", activityId);
	editZone(data.zoneList);
	editDataTimePicker(data);
	if(data.state){
		$("#stateTrue").iCheck('check');
		$("#stateTrue").parent("div").addClass("checked"); //改变选中颜色
		$("#stateFalse").parent("div").removeClass("checked"); //改变选中颜色
	}else{
		$("#stateFalse").iCheck('check');
		$("#stateFalse").parent("div").addClass("checked"); //改变选中颜色
		$("#stateTrue").parent("div").removeClass("checked"); //改变选中颜色
	}
	$("#name").val(data.name);
	/*<![CDATA[*/
	if(data.cost!="diamond"&&data.cost!="gold"){
		$("#cost").val("item");
		//道具选择
		initItemInput($(".itemList"));
		$("#itemId").val(data.itemId);
		$("#itemShow").show();
	}else{
		$("#cost").val(data.cost);
		$("#itemId").val("");
		$("#itemShow").hide();
	}
	/*]]>*/
	$("#proType").val(data.proType);
	$("#probability").val(data.probability);
	if(data.proType==1){
		$("#probabilityUpShow").hide();
	}else{
		$("#probabilityUp").val(data.probabilityUp);
		$("#probabilityUpShow").show();
	}
	
	$("#safetyTimes").val(data.safetyTimes);
	$("#limitTimesType").val(data.limitTimesType);
	if(data.limitTimesType!=0){
		$("#limitTimesDiv").show();
		$("#limitTimes").val(data.limitTimes);
	}else{
		$("#limitTimesDiv").hide();
	}
	
	$("#startA").val(data.startA);
	$("#startB").val(data.startB);
	$("#everyTimesB").val(data.everyTimesB);
	$("#everyTimesA").val(data.everyTimesA);
	$("#addA").val(data.addA);
	$("#addB").val(data.addB);
	//清除多余文本
	$(".contentClass").find(".parent").remove();
	//生成文本
	$.each(data.descList,function(index,text){
		if(index!=0){
			addOneItem(text,data.rgbList[index]);
		}
	});
	previewShow();
	$("#imgDiv").find(" img").attr("src",data.src);
	if(data.isOneRecruit){
		$("#oneRecruitTrue").iCheck('check');
		//改变选中颜色
		$("#oneRecruitTrue").parent("div").addClass("checked");
		$("#oneRecruitFalse").parent("div").removeClass("checked");  
	}else{
		$("#oneRecruitFalse").iCheck('check');
		//改变选中颜色
		$("#oneRecruitFalse").parent("div").addClass("checked");
		$("#oneRecruitTrue").parent("div").removeClass("checked");
	}
	if(data.continuous){
		$("#continuous1").iCheck('check');
		//改变选中颜色
		$("#continuous1").parent("div").addClass("checked");
		$("#continuous2").parent("div").removeClass("checked");
	}else{
		$("#continuous2").iCheck('check');
		//改变选中颜色
		$("#continuous2").parent("div").addClass("checked");
		$("#continuous1").parent("div").removeClass("checked");
	}
	if(data.discount){
		$("#discount1").iCheck('check');
		//改变选中颜色
		$("#discount1").parent("div").addClass("checked");
		$("#discount2").parent("div").removeClass("checked");
	}else {
		$("#discount2").iCheck('check');
		//改变选中颜色
		$("#discount2").parent("div").addClass("checked");
		$("#discount1").parent("div").removeClass("checked");
	}
	$("#alonePrice1").val(data.alonePrice1);
	$("#alonePrice2").val(data.alonePrice2);
	$("#alonePrice3").val(data.alonePrice3);
	$("#continuousPrice1").val(data.continuousPrice1);
	$("#continuousPrice2").val(data.continuousPrice2);
	$("#continuousPrice3").val(data.continuousPrice3);
	//A池数据
	var a=[]
	$.each(data.aData,function(index,val){
		var name = itemName[val.heroId];
		var remove= '<a class="remove" href="javascript:void(0)" title="Remove" onclick="removeItemA(\''+val.heroId+'\')"><i class="glyphicon glyphicon-remove"></i></a>';
		a.push({heroId:val.heroId,name:name,amount:val.amount,gotoWeight:val.gotoWeight,getWeight:val.getWeight,remove:remove});
	});
	itemAtable.bootstrapTable('load', a);
	//B池数据
	var b=[]
	$.each(data.bData,function(index,val){
		var name = itemName[val.heroId];
		var remove= '<a class="remove" href="javascript:void(0)" title="Remove" onclick="removeItemB(\''+val.heroId+'\')"><i class="glyphicon glyphicon-remove"></i></a>';
		b.push({heroId:val.heroId,name:name,amount:val.amount,gotoWeight:val.gotoWeight,getWeight:val.getWeight,remove:remove});
	});
	itemBtable.bootstrapTable('load', b);
	$("#addModal").modal("show");
}
function editZone(zoneList){
	var data=loadZonePickList();
	var zoneData=[];
	var zoneNames={};
	$.each(data,function(index,val){
		zoneNames[val.id]=val.text;
		if(!($.inArray(val.id, zoneList)>=0)){
			zoneData.push(val);
		}
	});
	$.each(zoneList,function(index,id){
		var map={};
		map["id"] = id;
		map["text"] = zoneNames[id];
		map["option"] = "selected";
		zoneData.push(map);
	}); 
	$("#zonelist").empty();
	$("#zonelist").pickList({data: zoneData,add:true});
}
function editDataTimePicker(data){
	$("#startDatetimepicker").val(new Date(data.startTime).format("yyyy-MM-dd hh:mm:ss"));
	$("#endDatetimepicker").val(new Date(data.endTime).format("yyyy-MM-dd hh:mm:ss"));
}
function deleteData(itemId){
	swal({
		title : [[#{sys.confirm.title}]],
		text : [[#{sys.confirm.text}]],
		type : "warning",
		showCancelButton : true,
		confirmButtonColor : "#DD6B55",
		confirmButtonText : [[#{sys.confirm.confirmtext}]],
		cancelButtonText : [[#{sys.confirm.canceltext}]],
		closeOnConfirm: false
	}, function(isConfirm) {
		if (isConfirm) {
			gameAjax({
				url : "/recruit/delete",
				data:"id="+itemId,
				callback : function(val) {
					swal([[#{sys.delete.success}]],"","success");
					table.bootstrapTable("refresh");
				}
			}); 
		}
	})
}

</script>
</html>