<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/include::header">
</head>
<head>
	<link th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/plugins/bootstrap-table/extensions/editable/bootstrap-editable.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/plugins/datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/plugins/pickList/pickList.css}" rel="stylesheet"/>

    <script th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
	<script th:src="@{'/static/js/plugins/bootstrap-table/locale/bootstrap-table-'+${#ctx.locale.language}+'.min.js'}"></script>
	<script th:src="@{/static/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{'/static/js/plugins/validate/messages_'+${#ctx.locale.language}+'.min.js'}"></script>
	<script th:src="@{/static/js/plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.min.js}"></script>
	<script th:src="@{/static/js/plugins/bootstrap-table/extensions/editable/bootstrap-editable.min.js}"></script>
	<script th:src="@{/static/js/plugins/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
	<script th:src="@{/static/js/plugins/pickList/pickList.js}"></script>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<div class="btn-group hidden-xs" id="toolbar">
					<button type="button" class="btn btn-sm btn-info" onclick="add()">
						<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>&nbsp;<span
							th:text="#{sys.add}">添加</span>
					</button>
				</div>

				<table id="table" class="table-striped"></table>
			</div>
		</div>
	</div>

	<div class="modal fade" id="addModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="form-horizontal" id="addForm">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h3 class="modal-title" th:text="#{sys.applypackage.title}">应用包管理</h3>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label class="col-sm-3 control-label"
								th:text="#{sys.applypackage.id}">应用包ID：</label>
							<div class="col-sm-7">
								<input type="text" name="id" id="id" class="form-control"
									required="required" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"
								th:text="#{sys.applypackage.name}">应用包名称：</label>
							<div class="col-sm-7">
								<input type="text" name="name" id="name" class="form-control"
									required="required" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="#{sys.platform}">选择平台：</label>
							<div class="col-sm-7">
								<select id="select" class="form-control" name="platformId">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"
								th:text="#{sys.applypackage.version.big.online}">大版本号：</label>
							<div class="col-sm-7">
								<input type="text" name="versionBigOnline" id="versionBigOnline"
									class="form-control" required="required" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"
								th:text="#{sys.applypackage.version.big.test}">测试大版本号：</label>
							<div class="col-sm-7">
								<input type="text" name="versionBigTest" id="versionBigTest"
									class="form-control" required="required" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"
								th:text="#{sys.applypackage.version.small.online}">小版本号：</label>
							<div class="col-sm-7">
								<input type="text" name="versionSmallOnline"
									id="versionSmallOnline" class="form-control"
									required="required" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"
								th:text="#{sys.applypackage.version.small.test}">测试小版本号：</label>
							<div class="col-sm-7">
								<input type="text" name="versionSmallTest" id="versionSmallTest"
									class="form-control" required="required" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"
								th:text="#{sys.applypackage.version.small.audit}">审核小版本号：</label>
							<div class="col-sm-7">
								<input type="text" name="versionSmallAudit"
									id="versionSmallAudit" class="form-control" required="required" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"
								th:text="#{sys.applypackage.cdn.url}">CDN地址：</label>
							<div class="col-sm-7">
								<input type="text" name="cdnUrl" id="cdnUrl"
									class="form-control" required="required" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"
								th:text="#{sys.applypackage.white.cdn.url}">白名单CDN地址：</label>
							<div class="col-sm-7">
								<input type="text" name="whiteCdnUrl" id="whiteCdnUrl"
									class="form-control" required="required" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"
								th:text="#{sys.applypackage.server.audit.visible}">审核包可见区服：</label>
							<div class="col-sm-7">
								<div id="visibleServerPickList"></div>
								<input type="hidden" name="serverAuditVisibleList"
									id="serverAuditVisibleList" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label"
								th:text="#{sys.applypackage.server.online.hide}">测试包可见区服：</label>
							<div class="col-sm-7">
								<div id="hideServerPickList"></div>
								<input type="hidden" name="serverOnlineHideList"
									id="serverOnlineHideList" />
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary"
							th:text="#{sys.save}" id="submit">保存</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="whiteUid">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h3 class="modal-title" th:text="#{sys.applypackage.white}">白名单</h3>
				</div>
				<div class="modal-body">
					<div class="btn-group hidden-xs" id="whiteToolbar">
						<button type="button" class="btn btn-sm btn-info"
							onclick="addUid()">
							<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>&nbsp;<span
								th:text="#{sys.add}">添加</span>
						</button>
					</div>
					<table class="table table-striped" id="whiteTable">
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" th:text="#{sys.save}"
						id="updataWhite" >保存</button>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade" id="updataConfig">
		<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h3 class="modal-title" th:text="#{sys.applypackage.config}">配置</h3>
					</div>
					<div class="btn-group hidden-xs" id="configToolbar">
						<button type="button" class="btn btn-sm btn-info"
							onclick="addConfig()">
							<i class="glyphicon glyphicon-plus" aria-hidden="true"></i>&nbsp;<span
								th:text="#{sys.add}">添加</span>
						</button>
					</div>
					<div class="modal-body">
						<table class="table" id="configTable">
						</table>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary"
							th:text="#{sys.save}" id="saveConfig">保存</button>
					</div>
				</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">

var table = $("#table");
var validate = $("#addForm").validate();
var uidValidate = $("#addUidForm").validate();
var configValidate = $("#configForm").validate();
$(function() {
	load();
	$(".modal-dialog").css({
		width:$(this).width()/2>600?$(this).width()/2:600
	});
});
function getSeleted(){
	$('.js-multiselect').multiselect().rightSelected();

}

function add(){
	loadServerList();
	validate.resetForm();
	$("#id").removeAttr("readonly");
	$("#addForm")[0].reset();
	$("#submit").attr("onclick","onSave()");
	$("#addModal").modal("show");
	loadPlatform();
}

function onSave(){
	 if(!validate.form()){
			return;
		}
	var serverAuditList=$("#visibleServerPickList").getValues();
	$("#serverAuditVisibleList").val(serverAuditList);
	var serverAuditList=$("#hideServerPickList").getValues();
	$("#serverOnlineHideList").val(serverAuditList);
	gameAjax({
		url : "/package/add",
		data : $("#addForm").serialize(),
		callback : function(data) {
			table.bootstrapTable("destroy");
			$("#addModal").modal("hide");
		}
	}); 
}

function load(){
	gameAjax({
		url : "/package/list",
		callback : function(data) {
			table.bootstrapTable({
				data : data,
				idField : "id",
				uniqueId : "id",
				toolbar : "#toolbar",
				detailView:true,
				detailFormatter:function(index, row){
					var text="";
					var whiteData=row.whiteUid;
					if(whiteData!=null){
						text +='<br></br>'
						text +='<table class="table" style="width:500px;"><thead><tr><th>'+[[#{sys.applypackage.white.uid}]]+'</th><th>'+[[#{sys.applypackage.uid.alias}]]+'</th></tr></thead><tbody>';
						$.each(whiteData,function($index,data){
							text +="<tr><td>"+data.uid+"</td><td>"+data.alias+"</td></tr>"
						});
						text +="</tbody></table><br></br>";
					}
					if(row.updateSet!=null){
						text +='<table class="table" style="width:500px;"><thead><tr><th>'+[[#{sys.applypackage.config.version}]]+'</th><th>'+[[#{sys.applypackage.config.flag}]]+'</th><th>'+[[#{sys.applypackage.config.notice}]]+'</th><th>'+[[#{sys.applypackage.config.url}]]+'</th></tr></thead><tbody>';
						$.each(row.updateSet,function($index,data){
							text +="<tr><td>"+data.version+"</td><td>"+data.flag+"</td><td>"+data.notice+"</td><td>"+data.url+"</td></tr>"
					});
					text +="</tbody></table>";
					}
					return text;
				},
				columns : [
					{
						title : [[#{sys.applypackage.id}]],
						field : "id",
						align : "center",
					},
					{
						title : [[#{sys.applypackage.name}]],
						field : "name",
						align : "center",
						editable : {
							url : "/package/update",
							validate : function(value) {
								if(value == ""){
									return "不能为空";
								}
							},
							error : function(response, newValue) {
							    alert("error:" + newValue);
							}
						}
					},
					{
						title : [[#{sys.platform}]],
						field : "platform",
						align : "center",
						formatter : function(value){
								return value.id;
						},
						editable: {
							url : "/package/update",
							type : "select",
							source : function(){
								var platform = new Array();
								gameAjax({
									url : "/platform/list",
									async : false,
									callback : function(data) {
										$.each(data, function(n, val) {
											var tmp = {};
											tmp.value = val.id;
											tmp.text = val.name;
											platform[n] = tmp;
										});
									}
								});
								return platform;
							},
							error : function(response, newValue) {
							    alert("error:" + newValue);
							}
							
						}
					},
					{
						title : [[#{sys.applypackage.version.big.online}]],
						field : "versionBigOnline",
						align : "center",
						editable : {
							url : "/package/update",
							validate : function(value) {
								if(value == ""){
									return "不能为空";
								}
							},
							error : function(response, newValue) {
							    alert("error:" + newValue);
							}
						}
					},
					{
						title : [[#{sys.applypackage.version.big.test}]],
						field : "versionBigTest",
						align : "center",
						editable : {
							url : "/package/update",
							validate : function(value) {
								if(value == ""){
									return "不能为空";
								}
							},
							error : function(response, newValue) {
							    alert("error:" + newValue);
							}
						}
					},
					{
						title : [[#{sys.applypackage.version.small.online}]],
						field : "versionSmallOnline",
						align : "center",
						editable : {
							url : "/package/update",
							validate : function(value) {
								if(value == ""){
									return "不能为空";
								}
							},
							error : function(response, newValue) {
							    alert("error:" + newValue);
							}
						}
					},
					{
						title : [[#{sys.applypackage.version.small.test}]],
						field : "versionSmallTest",
						align : "center",
						editable : {
							url : "/package/update",
							validate : function(value) {
								if(value == ""){
									return "不能为空";
								}
							},
							error : function(response, newValue) {
							    alert("error:" + newValue);
							}
						}
					},
					{
						title : [[#{sys.applypackage.version.small.audit}]],
						field : "versionSmallAudit",
						align : "center",
						editable : {
							url : "/package/update",
							validate : function(value) {
								if(value == ""){
									return "不能为空";
								}
							},
							error : function(response, newValue) {
							    alert("error:" + newValue);
							}
						}
					},
					{
						title : [[#{sys.createdate}]],
						field : "createDate",
						align : "center",
					},
					{
						title : [[#{sys.operate}]],
						field : "id",
						align : "center",
						formatter : function(value) {
							var formatter = '<div class="btn-group hidden-xs"><button type="button" class="btn btn-xs btn-info" onclick="editWhite(\'' + value + '\')" th:text="#{sys.applypackage.white}">白名单</button>';
							formatter +='<button type="button" class="btn btn-xs btn-info" onclick="editConfig(\'' + value + '\')" th:text="#{sys.applypackage.config}">配置</button>';
							formatter += '<button type="button" class="btn btn-xs btn-primary" onclick="edit(\'' + value + '\')" th:text="#{sys.edit}">编辑</button>'
							formatter += '<button type="button" class="btn btn-xs btn-danger" onclick="deletePackage(\'' + value + '\')" th:text="#{sys.delete}">删除</button></div>'
							return formatter;
						},
					}
				]
			});
		}
	});
}

function edit(id){
	var data = table.bootstrapTable("getRowByUniqueId", id);
	validate.resetForm();
	loadPlatform();
	$("#id").val(data.id);
	$("#id").attr("readonly","readonly");
	$("#versionBigOnline").val(data.versionBigOnline);
	$("#versionBigTest").val(data.versionBigTest);
	$("#versionSmallAudit").val(data.versionSmallAudit);
	$("#versionSmallOnline").val(data.versionSmallOnline);
	$("#versionSmallTest").val(data.versionSmallTest);
	$("#whiteUid").val(data.whiteUid);
	$("#cdnUrl").val(data.cdnUrl);
	$("#whiteCdnUrl").val(data.whiteCdnUrl);
	$("#name").val(data.name);
	$("select option[value="+data.platform.id+"]").attr("selected", true);
	
	loadServerList(data.serverAuditVisible,data.serverOnlineHide); //区服
	 
	$("#submit").attr("onclick","onEdit()");
	$("#addModal").modal("show");
}

function onEdit(){
	if(!validate.form()){
		return;
	}
	var serverAuditList=$("#visibleServerPickList").getValues();
	$("#serverAuditVisibleList").val(serverAuditList);
	var serverAuditList=$("#hideServerPickList").getValues();
	$("#serverOnlineHideList").val(serverAuditList);
	gameAjax({
		url : "/package/updataAll",
		data : $("#addForm").serialize(),
		async : false,
		callback : function(data) {
			table.bootstrapTable("destroy");
			load();
			$("#addModal").modal("hide");
		}
	});
}

function deletePackage(id){
	swal({
		title : [[#{sys.confirm.title}]],
		text : [[#{sys.confirm.text}]],
		type : "warning",
		showCancelButton : true,
		confirmButtonColor : "#DD6B55",
		confirmButtonText : [[#{sys.confirm.confirmtext}]],
		cancelButtonText : [[#{sys.confirm.canceltext}]],
		closeOnConfirm: false
	}, function(isConfirm) {
		if (isConfirm) {
			gameAjax({
				url : "/package/delete",
				data : 'id=' + id,
				callback : function(data, message) {
					swal([[#{sys.delete.success}]],"","success");
					table.bootstrapTable("destroy");
					load();
				}
			});
		}
	})
}

function loadPlatform() {
	gameAjax({
		url : "/platform/list",
		async : false,
		callback : function(data) {
			var options = "";
			$.each(data, function(n, val) {
				options += '<option value="'+val.id+'">' + val.name
						+ '</option>';
			});
			$("#select").html(options);
		}
	});
}

function loadServerList(auditData,onlineData){
	$("#hideServerPickList").empty();
	$("#visibleServerPickList").empty();
	var auditPickData=[];
	var onlinePickData=[];
	var auditExistValue=[];
	var onlineExistValue=[];
	if(auditData!=null){
		$.each(auditData, function(n, val) {
			auditExistValue.push(val.id);
			var tempData={};
			tempData.id=val.id,
			tempData.text=val.name
			tempData.option="selected";
			auditPickData[n]=tempData;
		});
	}
	if(onlineData!=null){
		$.each(onlineData, function(n, val) {
			onlineExistValue.push(val.id);
			var tempData={};
			tempData.id=val.id,
			tempData.text=val.name
			tempData.option="selected";
			onlinePickData[n]=tempData;
		});
	}
	gameAjax({
		url : "/gamezone/excludeSubmit",
		async : false,
		callback : function(data) {
			$.each(data, function(n, val) {
					if(!($.inArray(val.id, auditExistValue)>=0)){
						var tempData={};
						tempData.id=val.id,
						tempData.text=val.name
						auditPickData.push(tempData);
					}
			});
			$("#hideServerPickList").pickList.defaults = {
			      add: 'Add',
			      addAll: 'AddAll',
			      remove: 'Remove',
			      removeAll: 'RemoveAll'
			   };
			var pick = $("#visibleServerPickList").pickList({data: auditPickData});
		}
	}); 
 	gameAjax({
		url : "/gamezone/online",
		async : false,
		callback : function(data) {
			$.each(data, function(n, val) {
					if(!($.inArray(val.id, onlineExistValue)>=0)){
						var tempData={};
						tempData.id=val.id,
						tempData.text=val.name
						onlinePickData.push(tempData);
					}
			});
			$("#hideServerPickList").pickList.defaults = {
			      add: 'Add1',
			      addAll: 'AddAll1',
			      remove: 'Remove1',
			      removeAll: 'RemoveAll1'
			   };
			var pick = $("#hideServerPickList").pickList({data: onlinePickData});
		}
	}); 
} 
//hide后立即触发该事件，清除模板数据
$('#whiteUid').on('hide.bs.modal', function() {
	$("#whiteTable").bootstrapTable("destroy");
/* 	table.bootstrapTable("destroy");
	load(); */
});
//hide后立即触发该事件，清除模板数据
$('#updataConfig').on('hide.bs.modal', function() {
	$("#configTable").bootstrapTable("destroy");
	/* table.bootstrapTable("destroy");
	load(); */
});

function editWhite(id){
	$("#updataWhite").unbind("click");
	$("#updataWhite").click(function(){
		updataWhite(id);
	});
    $("#whiteTable").bootstrapTable("destroy");
	initWhiteTable(id);
	$("#whiteUid").modal("show");
}
function addUid(){
	var data = {};
	data["uid"] = "";
	data["alias"] = "";
	$("#whiteTable").bootstrapTable("append", data);	
}
//更新白名单
function updataWhite(id){
	var v = false;
	$.each($("#whiteTable").bootstrapTable("getData"),function($index,data){
		if(data.uid == "" || data.alias == ""){
			v = true;
		}
	});
	if(v){
		swal("不能为空");
		return;
	}
	gameAjax({
		url : "/package/updataWhite",
		data: {
			whiteUidList :　JSON.stringify($("#whiteTable").bootstrapTable("getData")),
			id : id,
		},
		async : false,
		callback : function(data) {
			$("#whiteUid").modal("hide");
			table.bootstrapTable("destroy");
			load();
		}
	});
}
function initWhiteTable(id){
	var item = table.bootstrapTable("getRowByUniqueId", id);
	var data=item.whiteUid==null?"":item.whiteUid;
	$("#whiteTable").bootstrapTable({
		data : data,
		uniqueId : "uid",
		toolbar : "#whiteToolbar",
		columns : [
			{
				title : [[#{sys.applypackage.white.uid}]],
				field : "uid",
				align : "center",
				editable : {
					validate : function(value) {
						if(value == ""){
							return "不能为空";
						}
					}
				}
			},
			{
				title : [[#{sys.applypackage.uid.alias}]],
				field : "alias",
				align : "center",
				editable : {
					validate : function(value) {
						if(value == ""){
							return "不能为空";
						}
					}
				}
			},
			{
				 field: "uid",
                 title: [[#{sys.operate}]],
                 align: "center",
                 formatter : function(value) {
                	 return [
                	            '<a class="removeuid" href="javascript:void(0)" onclick="deleteUid(\''+value+'\',\''+id+'\')" title="Remove">',
                	            '<i class="glyphicon glyphicon-remove"></i>',
                	            '</a>'
                	        ].join('');
				 },
			}
		]
	});
}
function deleteUid(uid,id){
	$("#whiteTable").bootstrapTable("removeByUniqueId", uid);
}
//更新配置
function editConfig(id){
	$("#updataConfig").modal("show");
	initConfigTable(id);
	$("#saveConfig").unbind("click");
	$("#saveConfig").click(function(){
		saveConfig(id);
	});
}
function saveConfig(id){
	var v = false;
	$.each($("#configTable").bootstrapTable("getData"),function($index,data){
		if(data.version == "" || data.notice == "" || data.url == "" || data.flag == ""){
			v = true;
		}
	});
	if(v){
		swal("不能为空");
		return;
	}
	gameAjax({
		url : "/package/updataConfigSet",
		data: {
			configs :　JSON.stringify($("#configTable").bootstrapTable("getData")),
			id : id,
		},
		async : false,
		callback : function(data) {
			$("#updataConfig").modal("hide");
			table.bootstrapTable("destroy");
			load();
		}
	});
}
function initConfigTable(id){
	var item = table.bootstrapTable("getRowByUniqueId", id);
	var data = item.updateSet == null ? "" : item.updateSet;
	$("#configTable").bootstrapTable({
		data : data,
		uniqueId : "version",
		toolbar : "#configToolbar",
		columns : [
			{
				title : [[#{sys.applypackage.config.version}]],
				field : "version",
				align : "center",
				editable : {
					validate : function(value) {
						if(value == ""){
							return "不能为空";
						}
					}
				}
			},
			{
				title : [[#{sys.applypackage.config.flag}]],
				field : "flag",
				align : "center",
				editable : {
					type : "select",
					source : [
						{
							value : 1,
							text : [[#{sys.true}]]
						},
					    {
							value : 2,
							text : [[#{sys.false}]]
						}
					],
				},
			},
			{
				title : [[#{sys.applypackage.config.notice}]],
				field : "notice",
				align : "center",
				editable : {
					placement: "right",
					type : "textarea",
					validate : function(value) {
						if(value == ""){
							return "不能为空";
						}
					}
				}
			},
			{
				title : [[#{sys.applypackage.config.url}]],
				field : "url",
				align : "center",
				editable : {
					placement: "right",
					type : "text",
					validate : function(value) {
						if(value == ""){
							return "不能为空";
						}
					}
				}
			},
			{
				 field: "version",
                 title: [[#{sys.operate}]],
                 align: "center",
                 formatter : function(value) {
                	  return [
                	          '<a class="remove" href="javascript:void(0)" onclick="deleteConfig(\''+value+'\',\''+id+'\')" title="Remove">',
                	          '<i class="glyphicon glyphicon-remove"></i>',
                	          '</a>'
                	      ].join('');
				 },
			}
		]
	});
}

function deleteConfig(version,id){
	$("#configTable").bootstrapTable("removeByUniqueId", version);
}

function addConfig(){
   	var data = {};
   	data["version"] = "";
   	data["flag"] = 1;
   	data["notice"] = "";
   	data["url"] = "";
   	$("#configTable").bootstrapTable("append", data);	
}

</script>
</html>