<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/include::header">
</head>
<head>
	<link th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/plugins/bootstrap-table/extensions/editable/bootstrap-editable.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/plugins/datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>

    <script th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
	<script th:src="@{'/static/js/plugins/bootstrap-table/locale/bootstrap-table-'+${#ctx.locale.language}+'.min.js'}"></script>
	<script th:src="@{/static/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{'/static/js/plugins/validate/messages_'+${#ctx.locale.language}+'.min.js'}"></script>
	<script th:src="@{/static/js/plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.min.js}"></script>
	<script th:src="@{/static/js/plugins/bootstrap-table/extensions/editable/bootstrap-editable.min.js}"></script>
	<script th:src="@{/static/js/plugins/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<div class="btn-group hidden-xs" th:replace="fragments/include::toolbar(true,true)">
				</div>
				
				<table id="table" class="table-striped"></table>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="addModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="form-horizontal" id="addForm">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h3 class="modal-title" th:text="#{sys.gamezone.add.title}">添加区服</h3>
					</div>
					<div class="modal-body">
						 <div class="form-group">
	      					<label class="col-sm-3 control-label" th:text="#{sys.gamezone.id}">区服ID：</label>
	      					<div class="col-sm-7">
	          					<input type="text" name="id" class="form-control" required="required"/>
	      					</div>
		      			</div>
		      					
						<div class="form-group">
	      					<label class="col-sm-3 control-label" th:text="#{sys.gamezone.name}">区服名称：</label>
	      					<div class="col-sm-7">
	          					<input type="text" name="name" class="form-control" required="required"/>
	      					</div>
		      			</div>
		      			
		      			<div class="form-group">
	      					<label class="col-sm-3 control-label" th:text="#{sys.gamezone.starttime}">开服时间：</label>
	      					<div class="col-sm-7">
	          					<input type="text" name="openTime" class="form-control" required="required" id="datetimepicker"/>
	      					</div>
		      			</div>
		      			
		      			<div class="form-group">
	      					<label class="col-sm-3 control-label" th:text="#{sys.gamezone.datalogic}">数据服：</label>
	      					<div class="col-sm-7">
	          					<select id="select" class="form-control" name="logicId">
	                            </select>
	      					</div>
	      				</div>
	      				
	      				<div class="form-group">
	      					<label class="col-sm-3 control-label" th:text="#{sys.gamezone.physical}">服务器：</label>
	      					<div class="col-sm-7">
	          					<select id="physicalId" class="form-control" name="physicalId">
	                            </select>
	      					</div>
	      				</div>
					
	      				<div class="form-group">
	      					<label class="col-sm-3 control-label" th:text="#{sys.gamezone.status}">状态：</label>
		       				<div class="col-sm-7">
		           				<select class="form-control" name="status">
						      		<option value="1" selected="selected" th:text="#{sys.gamezone.status.new}">新</option>
						      		<option value="2" th:text="#{sys.gamezone.status.hot}">热</option>
						      		<option value="3" th:text="#{sys.gamezone.status.full}">满</option>
						      		<option value="4" th:text="#{sys.gamezone.status.recovering}">维护</option>
						      	</select>
		       				</div>
	  					</div>
	  					
	  					<div class="form-group">
	      					<label class="col-sm-3 control-label" th:text="#{sys.gamezone.type}">类型：</label>
		       				<div class="col-sm-7">
		           				<select class="form-control" name="type">
						      		<option value="1" selected="selected" th:text="#{sys.gamezone.type.test}">测试</option>
						      		<option value="2" th:text="#{sys.gamezone.type.submit}">审核</option>
						      		<option value="3" th:text="#{sys.gamezone.type.online}">正式</option>
						      	</select>
		       				</div>
	  					</div>
	  					
	  					<div class="form-group">
	      					<label class="col-sm-3 control-label" th:text="#{sys.gamezone.sort}">排序：</label>
	      					<div class="col-sm-7">
	          					<input type="text" name="sort" class="form-control" required="required" digits="true"/>
	      					</div>
		      			</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" th:text="#{sys.save}">保存</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">
	var table = $("#table");
	$(function() {
		load();
	});
	
	function add(){
		loadLogic();
		loadPhysical();
		$("#addForm").validate({
			submitHandler : function(form){
				onSave();
	        }
		});
		$("#addForm")[0].reset();
		$("#datetimepicker").datetimepicker({
		    format : "yyyy-mm-dd hh:ii:ss",
		    autoclose : true,
		    startDate : new Date(),
		    todayHighlight : true,
		});
		$("#addModal").modal("show");
	}
	
	function onSave(){
		gameAjax({
			url : "/gamezone/add",
			data : $("#addForm").serialize(),
			callback : function(data) {
				table.bootstrapTable("destroy");
				load();
				$("#addModal").modal("hide");
			}
		});
	}
	
	function del(){
		swal({
			title : [[#{sys.confirm.title}]],
			text : [[#{sys.confirm.text}]],
			type : "warning",
			showCancelButton : true,
			confirmButtonColor : "#DD6B55",
			confirmButtonText : [[#{sys.confirm.confirmtext}]],
			cancelButtonText : [[#{sys.confirm.canceltext}]],
			closeOnConfirm: false
		}, function(isConfirm) {
			if (isConfirm) {
				var select = table.bootstrapTable("getSelections");
				var ids = "";
				$.each(select, function(n, server) {
					ids += server.id + ",";
				});
				gameAjax({
					url : "/gamezone/delete",
					data : "id="+ ids,
					callback : function(data){
						swal([[#{sys.delete.success}]],"","success");
						table.bootstrapTable("destroy");
						load();
					}
				});
			}
		})
	}
	
	function load(){
		gameAjax({
			url : "/gamezone/list",
			callback : function(data) {
				table.bootstrapTable({
					data : data,
					idField : "id",
					toolbar : "#toolbar",
					/* clickToSelect : true, */
					columns : [
						{
							checkbox : true,
						},
						{
							title : [[#{sys.gamezone.id}]],
							field : "id",
							align : "center",
						},
						{
							title : [[#{sys.gamezone.name}]],
							field : "name",
							align : "center",
							editable : {
								url : "/gamezone/update",
								validate : function(value) {
									if(value == ""){
										return "不能为空";
									}
								},
								error : function(response, newValue) {
								    alert("error:" + newValue);
								}
							}
						},
						{
							title : [[#{sys.gamezone.datalogic}]],
							field : "dataLogic",
							align : "center",
							formatter : function(value){
								return value.id;
							},
							editable: {
								url : "/gamezone/update",
								type : "select",
								source : function(){
									var dataLogic = new Array();
									gameAjax({
										url : "/datalogic/available",
										async : false,
										callback : function(data) {
											$.each(data, function(n, logic) {
												var tmp = {};
												tmp.value = logic.id;
												tmp.text = logic.name;
												dataLogic[n] = tmp;
											});
										}
									});
									return dataLogic;
								},
								error : function(response, newValue) {
								    alert("error:" + newValue);
								}
								
							}
						},
						{
							title : [[#{sys.gamezone.status}]],
							field : "status",
							align : "center",
							editable: {
								url : "/gamezone/update",
								type : "select",
								source : [
									{
										value : 1,
										text : [[#{sys.gamezone.status.new}]]
									},
								    {
										value : 2,
										text : [[#{sys.gamezone.status.hot}]]
									},
									{
										value : 3,
										text : [[#{sys.gamezone.status.full}]]
									},
									{
										value : 4,
										text : [[#{sys.gamezone.status.recovering}]]
									}
								],
								error : function(response, newValue) {
								    alert("error:" + newValue);
								}
								
							}
						},
						{
							title : [[#{sys.gamezone.type}]],
							field : "type",
							align : "center",
							editable : {
								url : "/gamezone/update",
								type : "select",
								source : [
									{
										value : 1,
										text : [[#{sys.gamezone.type.test}]]
									},
									{
										value : 2,
										text : [[#{sys.gamezone.type.submit}]]
									},
									{
										value : 3,
										text : [[#{sys.gamezone.type.online}]]
									}
								],
								error : function(response, newValue) {
								    alert("error:" + newValue);
								}
							}
						},
						{
							title : [[#{sys.gamezone.physical}]],
							field : "physicalServer",
							align : "center",
							formatter : function(value){
								if(value == null){
									return "";
								}else{
									return value.id;
								}
							},
							editable: {
								url : "/gamezone/update",
								type : "select",
								source : function(){
									var physicalArr = new Array();
									gameAjax({
										url : "/physical/list",
										async : false,
										callback : function(data) {
											$.each(data, function(n, physical) {
												var tmp = {};
												tmp.value = physical.id;
												tmp.text = physical.name;
												physicalArr[n] = tmp;
											});
										}
									});
									return physicalArr;
								},
								error : function(response, newValue) {
								    alert("error:" + newValue);
								}
								
							}
						},
						{
							title : [[#{sys.gamezone.sort}]],
							field : "sort",
							align : "center",
							sortable : true,
							editable : {
								url : "/gamezone/update",
								validate : function(value) {
									if(value == ""){
										return "不能为空";
									}
									var patt = new RegExp("^[0-9]*$");
									if(!patt.test(value)){
										return "必须是数字";
									}
								},
								error : function(response, newValue) {
								    alert("error:" + newValue);
								}
							}
						},
						{
							title : [[#{sys.gamezone.starttime}]],
							field : "startTime",
							align : "center",
							formatter : function(value){
								return new Date(value).format("yyyy-MM-dd hh:mm:ss");
							},
							editable : {
								url : "/gamezone/update",
								type : "datetime",
								placement : "bottom",
								format : "yyyy-mm-dd hh:ii:ss",
								datetimepicker : {
									startDate : new Date(),
								},
								error : function(response, newValue) {
								    alert("error:" + newValue);
								}
							}
						},
						{
							title : [[#{sys.createdate}]],
							field : "createDate",
							align : "center",
						}
					],
				});
			}
		});
	}
	
	function loadLogic() {
		gameAjax({
			url : "/datalogic/available",
			async : false,
			callback : function(data) {
				var options = "";
				$.each(data, function(n, logic) {
					options += '<option value="'+logic.id+'">' + logic.name
							+ '</option>';
				});
				$("#select").html(options);
			}
		});
	}
	
	function loadPhysical() {
		gameAjax({
			url : "/physical/list",
			async : false,
			callback : function(data) {
				var options = '<option value=""></option>';
				$.each(data, function(n, physical) {
					options += '<option value="'+physical.id+'">' + physical.name
							+ '</option>';
				});
				$("#physicalId").html(options);
			}
		});
	}
</script>
</html>