<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/include::header">
</head>
<head>
	<link th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/plugins/chosen/chosen.css}" rel="stylesheet"/>

	<script th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
	<script th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js}"></script>
	<script th:src="@{'/static/js/plugins/bootstrap-table/locale/bootstrap-table-'+${#ctx.locale.language}+'.min.js'}"></script>
	<script th:src="@{/static/js/plugins/chosen/chosen.jquery.js}"></script>
	<script th:src="@{/static/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{'/static/js/plugins/validate/messages_'+${#ctx.locale.language}+'.min.js'}"></script>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<div class="btn-group hidden-xs" th:replace="fragments/include::toolbar(true,false)">
				</div>

				<table id="table" class="table-striped" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="addModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="form-horizontal" id="addForm">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h3 class="modal-title" th:text="#{sys.menu.user}">用户管理</h3>
					</div>
					<div class="modal-body">
						 <div class="form-group">
	      					<label class="col-sm-3 control-label" th:text="#{sys.username}">用户名：</label>
	      					<div class="col-sm-7">
	          					<input type="text" name="username" class="form-control" required="required"/>
	      					</div>
		      			</div>
		      					
						<div class="form-group">
	      					<label class="col-sm-3 control-label" th:text="#{sys.user.name}">姓名：</label>
	      					<div class="col-sm-7">
	          					<input type="text" name="name" class="form-control" required="required"/>
	      					</div>
		      			</div>
					
	      				<div class="form-group">
	      					<label class="col-sm-3 control-label" th:text="#{sys.password}">密码：</label>
	      					<div class="col-sm-7">
	          					<input type="password" name="password" class="form-control" required="required"/>
	      					</div>
	      				</div>
	      				
	      				<div class="form-group">
	      					<label class="col-sm-3 control-label" th:text="#{sys.user.role}">角色：</label>
	      					<div class="col-sm-7">
	          					<select class="chosen-select" multiple="multiple" name="roles">
	                              </select>
	      					</div>
	      				</div>
	      				
	      				<div class="form-group">
	      					<label class="col-sm-3 control-label" th:text="#{sys.user.issuper}">是否超管：</label>
		       				<div class="col-sm-7">
		           				<select class="form-control" name="isSuper">
						      		<option value="true" th:text="#{sys.true}">是</option>
						      		<option value="false" selected="selected" th:text="#{sys.false}">否</option>
						      	</select>
		       				</div>
	  					</div>
	  					
	  					<div class="form-group">
	      					<label class="col-sm-3 control-label" th:text="#{sys.isenable}">是否启用：</label>
		       				<div class="col-sm-7">
		           				<select class="form-control" name="isEnable">
						      		<option value="true" selected="selected" th:text="#{sys.true}">是</option>
						      		<option value="false" th:text="#{sys.false}">否</option>
						      	</select>
		       				</div>
		  				</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" th:text="#{sys.save}">保存</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="editModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<form class="form-horizontal" id="editForm">
					<input type="hidden" name="id" id="id" value="" />
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h3 class="modal-title" th:text="#{sys.menu.user}">用户管理</h3>
					</div>
					<div class="modal-body">
						 <div class="form-group">
	      					<label class="col-sm-3 control-label" th:text="#{sys.username}">用户名：</label>
	      					<div class="col-sm-7">
	          					<input type="text" name="username" id="username" class="form-control" readonly="readonly"/>
	      					</div>
		      			</div>
		      					
						<div class="form-group">
	      					<label class="col-sm-3 control-label" th:text="#{sys.user.name}">姓名：</label>
	      					<div class="col-sm-7">
	          					<input type="text" name="name" id="name" class="form-control" required="required"/>
	      					</div>
		      			</div>
					
	      				<div class="form-group">
	      					<label class="col-sm-3 control-label" th:text="#{sys.password}">密码：</label>
	      					<div class="col-sm-7">
	          					<input type="password" name="password" class="form-control" th:placeholder="#{sys.user.password.placeholder}"/>
	      					</div>
	      				</div>
	      				
	      				<div class="form-group">
	      					<label class="col-sm-3 control-label" th:text="#{sys.user.role}">角色：</label>
	      					<div class="col-sm-7">
	          					<select id="select" class="chosen-select" multiple="multiple" name="roles">
	                              </select>
	      					</div>
	      				</div>
	      				
	      				<div class="form-group">
	      					<label class="col-sm-3 control-label" th:text="#{sys.user.issuper}">是否超管：</label>
		       				<div class="col-sm-7">
		           				<select class="form-control" name="isSuper" id="isSuper">
						      		<option value="true" th:text="#{sys.true}">是</option>
						      		<option value="false" selected="selected" th:text="#{sys.false}">否</option>
						      	</select>
		       				</div>
	  					</div>
	  					
	  					<div class="form-group">
	      					<label class="col-sm-3 control-label" th:text="#{sys.isenable}">是否启用：</label>
		       				<div class="col-sm-7">
		           				<select class="form-control" name="isEnable" id="isEnable">
						      		<option value="true" selected="selected" th:text="#{sys.true}">是</option>
						      		<option value="false" th:text="#{sys.false}">否</option>
						      	</select>
		       				</div>
		  				</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary" th:text="#{sys.save}">保存</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">

	var table;
	
	$(function() {
		table = $("#table");
		init();
		//loadRole();
	});

	function init() {
		table
				.bootstrapTable({
					ajax : function(params) {
						gameBootstrapTable("/user/list", params);
					},
					queryParams : function(params) {
						var query = {
							limit : params.limit,
							offset : params.offset,
							condition : params.search
						};
						return query;
					},
					//search : true,
					pagination : true,
					toolbar : "#toolbar",
					singleSelect : false,
					uniqueId : "id",
					sidePagination : "server", //服务端处理分页
					columns : [
							{
								title : [[#{sys.user.name}]],
								field : "name",
							},
							{
								title : [[#{sys.username}]],
								field : "username",
							},
							{
								title : [[#{sys.password}]],
								field : "password",

							},
							/* {
								title : "Salt",
								field : "salt",
							}, */
							{
								title : [[#{sys.user.issuper}]],
								field : "isSuper",
								align : "center",
								formatter : function(value) {
									if (value) {
										return '<span class="label label-success" th:text="#{sys.true}">是</span>';
									} else {
										return '<span class="label"  th:text="#{sys.false}">否</span>';
									}
								},
							},
							{
								title : [[#{sys.isenable}]],
								field : "isEnable",
								align : "center",
								formatter : function(value) {
									if (value) {
										return '<span class="label label-success" th:text="#{sys.enable}">已启用</span>';
									} else {
										return '<span class="label" th:text="#{sys.unenable}">未启用</span>';
									}
								},
							},
							{
								title : [[#{sys.createdate}]],
								field : "createDate",
							},
							{
								title : [[#{sys.operate}]],
								field : "id",
								align : "center",
								formatter : function(value) {
									var formatter = '<div class="btn-group hidden-xs"><button type="button" class="btn btn-xs btn-primary" onclick="editUser(\'' + value + '\')" th:text="#{sys.edit}">编辑</button>';
									/* formatter += '<button type="button" class="btn btn-xs btn-danger" onclick="deleteUser(\'' + value + '\')" th:text="#{sys.delete}">删除</button></div>'; */
									return formatter;
								},
							} ]
				});
	}

	function add() {
		loadRole();
		$("#addForm").validate({
			submitHandler:function(form){
				onSave();
	        }
		});
		$("#addForm")[0].reset();
		$("#addModal").modal("show");
		$(".chosen-select").trigger("chosen:updated");
	}

	function loadRole() {
		gameAjax({
			url : "/role/available",
			type : "get",
			async : false,
			callback : function(data) {
				var options = "";
				$.each(data, function(n, role) {
					options += '<option value="'+role.id+'">' + role.name
							+ '</option>';
				});
				$(".chosen-select").html(options);
			}
		});
		$(".chosen-select").chosen({
			width : "100%",
			placeholder_text_multiple : [[#{sys.user.selectrole}]]
		});
	}

	function onSave() {
		gameAjax({
			url : "/user/add",
			data : $("#addForm").serialize(),
			callback : function(data) {
				$("#addModal").modal("hide");
				table.bootstrapTable("refresh");
			}
		});
	}

	function editUser(id) {
		loadRole();
		var data = table.bootstrapTable("getRowByUniqueId", id);
		$("#editForm")[0].reset();
		$("#id").val(id);
		$("#name").val(data.name);
		$("#username").val(data.username);
		$("#isSuper").val(data.isSuper.toString());
		$("#isEnable").val(data.isEnable.toString());
		
		$("#editForm").validate({
			submitHandler:function(form){
				onEdit();
	        }
		});
		if(data.roleList != ""){
			var roles = new Array();
			$.each(data.roleList, function(n, role) {
				roles[n] = role.id;
			});
			$("#select").val(roles);
		}
		$("#select").trigger("chosen:updated");
		
		$("#editModal").modal("show");
	}
	
	function onEdit(){
		gameAjax({
			url : "/user/update",
			data : $("#editForm").serialize(),
			callback : function(data) {
				$("#editModal").modal("hide");
				table.bootstrapTable("refresh");
			}
		});
	}
	
	function deleteUser(id){
		swal({
			title : [[#{sys.confirm.title}]],
			text : [[#{sys.confirm.text}]],
			type : "warning",
			showCancelButton : true,
			confirmButtonColor : "#DD6B55",
			confirmButtonText : [[#{sys.confirm.confirmtext}]],
			cancelButtonText : [[#{sys.confirm.canceltext}]],
			closeOnConfirm: false
		}, function(isConfirm) {
			if (isConfirm) {
				gameAjax({
					url : "/user/delete",
					data : "id="+ id,
					callback : function(data){
						swal([[#{sys.delete.success}]],"","success");
						table.bootstrapTable("refresh");
					}
				});
			}
		})
	}
</script>
</html>