<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/include::header">
</head>
<head>
	<link th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/plugins/datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>
    
    <script th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
	<script th:src="@{'/static/js/plugins/bootstrap-table/locale/bootstrap-table-'+${#ctx.locale.language}+'.min.js'}"></script>
	<script th:src="@{/static/js/plugins/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<form id="adminUserForm">
					<div class="form-group" style="width: 800px">
						<div class="col-sm-2" style="float: right;">
							<button class="btn btn-primary" type="button" id="select" th:text="#{sys.select}">查询</button>
						</div>
						<div class="col-sm-3" style="float: right;">
							<select class="form-control" name="adminUser" id="adminUser">
								<option value="" selected="selected" th:text="#{sys.admin.user.all}">所有管理员</option>
							</select>
						</div>
						<div class="col-sm-1" >
							<label class="control-label" style="margin-top: 10px;" th:text="#{sys.time}">时间</label>
						</div>
                        <div class="col-sm-6 input-daterange input-group" id="datepicker">
                        	<input type="text" name="startTime" class="form-control" required="required" id="startDatetimepicker" />
                            <span class="input-group-addon">-</span>
                            <input type="text" name="endTime" class="form-control" required="required" id="endDatetimepicker" />
                        </div>
                    </div>
				</form>
			</div>
			<div class="ibox-content">
				<table id="table" class="table-striped" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">
$(function(){
	table=$("#table");
	adminUser={};
	adminUserName={};
	initAdminUser();
	initDataTimePicker();
	initBootstrapTable();
});

function initDataTimePicker(){
	$("#startDatetimepicker").datetimepicker({
	    format : "yyyy-mm-dd hh:ii:ss",
	    autoclose : true,
	    todayBtn :true,
	    endDate : new Date()
	});
	$("#endDatetimepicker").datetimepicker({
	    format : "yyyy-mm-dd hh:ii:ss",
	    autoclose : true,
	    todayBtn :true,
	    endDate : new Date()
	});
	var date=new Date();
	//date.setDate(date.getDate()-1); //前一天
	$("#startDatetimepicker").val(new Date().format("yyyy-MM-dd 00:00:00"));
	$("#endDatetimepicker").val(new Date().format("yyyy-MM-dd hh:mm:ss"));
}

function initAdminUser(){
	gameAjax({
		url : "/user/listAll",
			callback : function(data) {
				var options = "";
				$.each(data, function(n, val) {
					options += '<option value="'+val.id+'">' + val.name
							+ '</option>';
					adminUser[val.id]=val.name;
					adminUserName[val.id]=val.username;
				});
				$("#adminUser").append(options);
		}
	});
}
$("#select").click(function(){
	table.bootstrapTable("refresh");
});

function initBootstrapTable(){
	var condition={};
	table.bootstrapTable({
		ajax : function(params) {
			gameBootstrapTable("/adminLog/list", params);
		},
		queryParams : function(params) {
			var query = {
				limit : params.limit,
				offset : params.offset,
				search_createTime_GTED : $("#startDatetimepicker").val(),
				search_createTime_LTED : $("#endDatetimepicker").val(),
				search_userId_EQS : $("#adminUser").val(),
			};
			return query;
		},
		pagination : true,
		singleSelect : false,
		uniqueId : "id",
		sidePagination : "server",
		detailView:true,
		detailFormatter:function(index, row){
			var text="";
				text +='<div><div><b>'+[[#{sys.admin.log.params}]]+':</b></div><div>'+row.params+'</div></div>';
				text +='<div><div><b>'+[[#{sys.admin.log.result}]]+':</b></div><div>'+row.result+'</div></div>';
			return text;
		},
		columns : [
					{
						title : [[#{sys.username}]],
						field : "userId",
						align : "center",
						formatter : function(value){
							return adminUserName[value];
						},
					},
					{
						title : [[#{sys.user.name}]],
						field : "userId",
						align : "center",
						formatter : function(value){
							return adminUser[value];
						},
					},
					{
						title : [[#{sys.admin.log.user.uri}]],
						field : "uri",
						align : "center"
					},
					{
						title : [[#{sys.admin.log.user.ip}]],
						field : "ip",
						align : "center",
					},
					{
						title : [[#{sys.createdate}]],
						field : "createTime",
						align : "center",
						formatter : function(value){
							return new Date(value).format("yyyy-MM-dd hh:mm:ss");
						},
					}
				]
	});
}




</script>
</html>