<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/include::header">
</head>
<head>
    <link th:href="@{/static/css/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/plugins/datetimepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet"/>

	<script th:src="@{/static/js/plugins/bootstrap-table/bootstrap-table.min.js}"></script>
	<script th:src="@{'/static/js/plugins/bootstrap-table/locale/bootstrap-table-'+${#ctx.locale.language}+'.min.js'}"></script>
	<script th:src="@{/static/js/plugins/datetimepicker/bootstrap-datetimepicker.min.js}"></script>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="ibox float-e-margins">
			<div class="ibox-content">
				<div class="form-group" style="width: 800px">
						<div class="col-sm-2" style="float: right;">
							<button class="btn btn-primary btn-sm" type="button" id="search"><i class="fa fa-search"></i>&nbsp;<span th:text="#{sys.select}">查询</span>&nbsp;</button>
						</div>
						<div class="col-sm-1" >
							<label class="control-label" style="margin-top: 10px;" th:text="#{sys.time}">时间</label>
						</div>
						<div class="col-sm-8 input-daterange input-group" id="datepicker">
                        	<input type="text" class="form-control" id="startTime" />
                            <span class="input-group-addon">-</span>
                            <input type="text" class="form-control" id="endTime" />
                        </div>
                    </div>
				<table id="table" class="table-striped" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
	
</body>
<script type="text/javascript" th:inline="javascript">
	var table = $("#table");
	$(function() {
		initTable();
		$("#startTime").datetimepicker({
		    format : "yyyy-mm-dd hh:ii:ss",
		    autoclose : true,
		    todayBtn :true,
		});
		$("#endTime").datetimepicker({
		    format : "yyyy-mm-dd hh:ii:ss",
		    autoclose : true,
		    todayBtn :true,
		});
		
		$("#startTime").val(new Date().format("yyyy-MM-dd 00:00:00"));
		$("#endTime").val(new Date().format("yyyy-MM-dd 23:59:59"));
		
	});
	
	function initTable(){
		table.bootstrapTable({
			ajax : function(params) {
				gameBootstrapTable("/portallog/list", params);
			},
			queryParams : function(params) {
				var query = {
					limit : params.limit,
					offset : params.offset,
					search_requestTime_GTEL : $("#startTime").val(),
					search_requestTime_LTEL : $("#endTime").val(),
				};
				return query;
			},
			pagination : true,
			singleSelect : false,
			sidePagination : "server",
			columns : [
				{
					title : [[#{gamelog.action}]],
					field : "uri",
					align : "center",
				},
				{
					title : [[#{gamelog.param}]],
					field : "params",
					align : "center",
					formatter : function(value){
						return JSON.stringify(value);
					}
				},
				{
					title : [[#{gamelog.result}]],
					field : "result",
					align : "center",
					formatter : function(value){
						return JSON.stringify(value);
					}
				},
				{
					title : [[#{gamelog.responsecode}]],
					field : "code",
					align : "center",
					formatter : function(value) {
						if(value == 0){
							return '<span th:text="#{gamelog.success}" class="text-success">成功</span>';
						}else{
							return '<span class="text-danger">' + value + '</span>';
						}
					},
				},
				{
					title : [[#{gamelog.cost}]],
					field : "cost",
					align : "center",
				},
				{
					title : [[#{gamelog.ip}]],
					field : "ip",
					align : "center",
				},
				{
					title : [[#{gamelog.requesttime}]],
					field : "requestTime",
					align : "center",
					formatter : function(value) {
						return new Date(value).format("yyyy-MM-dd hh:mm:ss");
					},
				},
			]
		});
	}
	
	$("#search").click(function(){
		table.bootstrapTable("refresh");
	});
</script>
</html>